Repository bcgov/ppr, pull requests merged in 2022-09, with the labels that each got.

#924 Home Owners (Part 4) Allocations, Tenancy Type & More
  ppr-ui/src/assets/styles/base.scss
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/FractionalOwnership.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/TableGroupHeader.vue
  ppr-ui/src/composables/mhrRegistration/home-owner.ts
  ppr-ui/src/enums/homeTenancyTypes.ts
  ppr-ui/src/enums/index.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationTotalOwnershipAllocationIF.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/index.ts
  ppr-ui/src/store/getters/state-getters.ts
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
Labels: MHR Registration

#926 MhSearch Table Updates
  ppr-ui/jest.config.js
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/assets/styles/layout.scss
  ppr-ui/src/components/tables/mhr/SearchedResults.vue
  ppr-ui/src/enums/searchTypes.ts
  ppr-ui/src/interfaces/ppr-api-interfaces/manufactured-home-search-result-interface.ts
  ppr-ui/src/resources/tableHeaders.ts
  ppr-ui/tests/unit/SearchHistory.spec.ts
  ppr-ui/tests/unit/SearchedResultsMHR.spec.ts
Labels: MHR Registration

#930 LTSA: Pid Summary Request
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/public/config/configuration.json
  ppr-ui/src/components/common/PidNumber.vue
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeLocationType.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
  ppr-ui/src/enums/errorCategories.ts
  ppr-ui/src/interfaces/ltsa-api-interfaces/index.ts
  ppr-ui/src/interfaces/ltsa-api-interfaces/title-summaries-interface.ts
  ppr-ui/src/resources/dialogOptions/cancelDialogs.ts
  ppr-ui/src/utils/config-helper.ts
  ppr-ui/src/utils/ltsa-api-helper.ts
Labels: MHR Registration

#928 UXA search report format updates.
  mhr_api/report-templates/searchResultV2.html
  mhr_api/report-templates/static/v2/footer.html
  mhr_api/report-templates/static/v2/header_replace.html
  mhr_api/report-templates/template-parts/search-result-ppr/debtors.html
  mhr_api/report-templates/template-parts/search-result-ppr/securedParties.html
  mhr_api/report-templates/template-parts/search-result-ppr/vehicleCollateral.html
  mhr_api/report-templates/template-parts/search-result/owners.html
  mhr_api/report-templates/template-parts/search-result/sections.html
  mhr_api/report-templates/template-parts/style.html
  mhr_api/report-templates/template-parts/v2/search-result/selected.html
  mhr_api/report-templates/template-parts/v2/style.html
  mhr_api/report-templates/template-parts/v2/stylePage.html
  mhr_api/report-templates/template-parts/v2/stylePageDraft.html
  mhr_api/src/mhr_api/config.py
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/mhomnote.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/reports/v2/report_utils.py
  mhr_api/src/mhr_api/resources/v1/registration_report_callback.py
  mhr_api/src/mhr_api/services/gcp_auth/auth_service.py
  mhr_api/src/mhr_api/version.py
Labels: MHR API

#931 Fix typo in PID modal
  ppr-ui/src/resources/dialogOptions/cancelDialogs.ts
Labels: MHR Registration

#933 Staff Payment, validation, submission
  ppr-ui/src/composables/mhrRegistration/useNewMhrRegistration.ts
  ppr-ui/src/utils/mhr-api-helper.ts
  ppr-ui/src/views/newMhrRegistration/MhrRegistration.vue
  ppr-ui/src/views/newMhrRegistration/MhrReviewConfirm.vue
Labels: MHR Registration

#935 Update account registrations list.
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/src/mhr_api/reports/v2/report_utils.py
  mhr_api/src/mhr_api/resources/v1/other_registrations.py
  mhr_api/src/mhr_api/resources/v1/registrations.py
Labels: MHR API

#936 Home Owners Review page with step validation.
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/TableGroupHeader.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeOwnersReview.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/index.ts
  ppr-ui/src/composables/mhrRegistration/home-owner.ts
  ppr-ui/src/views/newMhrRegistration/MhrReviewConfirm.vue
  ppr-ui/tests/unit/MhrReviewConfirm.spec.ts
Labels: MHR Registration

#938 New reg add legacy db limitation validation rules.
  mhr_api/src/mhr_api/models/db2/location.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/utils/__init__.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/tests/unit/models/db2/test_location.py
  mhr_api/tests/unit/utils/test_registration_validator.py
Labels: MHR API

#949 New endpoint to verify new MHR reg doc IDs.
  mhr_api/src/mhr_api/resources/v1/__init__.py
  mhr_api/src/mhr_api/resources/v1/documents.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/postman/mhr-api-unit.postman_collection.json
  mhr_api/tests/unit/api/test_documents.py
Labels: MHR API

#954 Staff Pay Timing Issue and Mhr Table UX
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/assets/styles/overrides.scss
  ppr-ui/src/components/tables/common/TableRow.vue
  ppr-ui/src/resources/tableHeaders.ts
  ppr-ui/src/views/newMhrRegistration/MhrRegistration.vue
  ppr-ui/src/views/newMhrRegistration/MhrReviewConfirm.vue
Labels: MHR Registration

#953 Fix Owners count in Group Header
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
Labels: MHR Registration

#957 Update location persistence for new registrations.
  mhr_api/report-templates/template-parts/registration/location.html
  mhr_api/src/mhr_api/models/__init__.py
  mhr_api/src/mhr_api/models/address.py
  mhr_api/src/mhr_api/models/db2/location.py
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/mhr_location.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/type_tables.py
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/resources/v1/registrations.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/tests/unit/models/test_mhr_location.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/models/test_types.py
  mhr_api/tests/unit/utils/test_registration_validator.py
Labels: MHR API

#951 12451&13114 fix location ux review issues
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/FractionalOwnership.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnerGroups.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/TableGroupHeader.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeOwnersReview.vue
  ppr-ui/src/composables/mhrRegistration/home-owner.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationTotalOwnershipAllocationIF.ts
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
  ppr-ui/tests/unit/ManufacturerMakeModel.spec.ts
  ppr-ui/tests/unit/MhrRegistrationHomeOwners.spec.ts
Labels: MHR Registration

#955 Made search result table headers adaptive
  ppr-ui/src/components/tables/mhr/SearchedResults.vue
Labels: MHR Registration

#956 Cleanup Technical Debt
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/FractionalOwnership.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrRegistration/YourHome/AddEditHomeSections.vue
  ppr-ui/src/components/tables/mhr/MhrRegistrationTable.vue
  ppr-ui/src/composables/mhrRegistration/index.ts
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
  ppr-ui/src/composables/mhrRegistration/useNewMhrRegistration.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationHomeOwnerGroupIF.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationHomeOwnerIF.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationIF.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrTransferIF.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/index.ts
  ppr-ui/src/store/actions/actions-model.ts
  ppr-ui/src/store/getters/state-getters.ts
  ppr-ui/src/store/mutations/mutations-model.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
  ppr-ui/tests/unit/MhrRegistrationHomeOwners.spec.ts
  ppr-ui/tests/unit/test-data/mock-mhr-registration.ts
Labels: MHR Registration

#963 Fix clearing of Submitting Party address fields
  ppr-ui/src/components/parties/party/PartyAutocomplete.vue
  ppr-ui/src/store/mutations/mutations-model.ts
Labels: MHR Registration

#962 MHR api create transfer part 1.
  mhr_api/requirements.txt
  mhr_api/requirements/bcregistry-libraries.txt
  mhr_api/src/mhr_api/models/db2/descript.py
  mhr_api/src/mhr_api/models/db2/document.py
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/owngroup.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/type_tables.py
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/resources/utils.py
  mhr_api/src/mhr_api/resources/v1/__init__.py
  mhr_api/src/mhr_api/resources/v1/transfers.py
  mhr_api/src/mhr_api/services/authz.py
  mhr_api/src/mhr_api/services/payment/__init__.py
  mhr_api/src/mhr_api/services/payment/client/__init__.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/api/test_transfers.py
  mhr_api/tests/unit/models/db2/test_manuhome.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/services/test_payment.py
  mhr_api/tests/unit/utils/test_registration_validator.py
Labels: MHR API

#967 MHR api create transfer part 2.
  mhr_api/report-templates/template-parts/registration/owners.html
  mhr_api/report-templates/transferV2.html
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/reports/v2/report_utils.py
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/resources/v1/documents.py
  mhr_api/src/mhr_api/resources/v1/transfers.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/tests/postman/mhr-api-unit.postman_collection.json
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/reports/data/trans-test-example.json
  mhr_api/tests/unit/reports/test_report_registration_v2.py
Labels: MHR API, MHR Ownership Transfer

#968 Fix Home Owners validation and Review page
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeOwnersReview.vue
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
  ppr-ui/src/views/newMhrRegistration/MhrReviewConfirm.vue
  ppr-ui/tests/unit/MhrReviewConfirm.spec.ts
  ppr-ui/tests/unit/test-data/mock-mhr-registration.ts
Labels: MHR Registration

#971 Fix clearing Groups for Home Owner
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnerGroups.vue
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
  ppr-ui/tests/unit/MhrRegistrationHomeOwners.spec.ts
Labels: MHR Registration, Bugfix
