Repository bcgov/ppr, pull requests merged in 2022-10, with the labels that each got.

#964 Reset all form validations upon MH registration submission
  ppr-ui/src/composables/mhrRegistration/useMhrValidations.ts
  ppr-ui/src/views/newMhrRegistration/MhrRegistration.vue
Labels: MHR Registration

#973 Fix Home Owners Review page
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnerGroups.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeOwnersReview.vue
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
Labels: MHR Registration, Bugfix

#974 Add the "Added" badge for MHR Transfer flow
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
  ppr-ui/tests/unit/MhrRegistrationHomeOwners.spec.ts
Labels: MHR Ownership Transfer

#975 13670 mhr UI update location types
  ppr-ui/src/enums/homeLocationTypes.ts
  ppr-ui/tests/unit/MhrReviewConfirm.spec.ts
  ppr-ui/tests/unit/test-data/mock-mhr-registration.ts
Labels: MHR Registration

#977 Fix misc Home Owners issues
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnerGroups.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/TableGroupHeader.vue
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
Labels: MHR Registration, Bugfix

#980 Fix two issues for Home Owners Groups
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnerGroups.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/tests/unit/MhrRegistrationHomeOwners.spec.ts
Labels: MHR Registration, Bugfix

#978 Add endpoints to maintain MHR draft registrations.
  mhr_api/requirements.txt
  mhr_api/requirements/bcregistry-libraries.txt
  mhr_api/src/mhr_api/models/mhr_draft.py
  mhr_api/src/mhr_api/models/type_tables.py
  mhr_api/src/mhr_api/resources/v1/__init__.py
  mhr_api/src/mhr_api/resources/v1/drafts.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/postman/mhr-api-unit.postman_collection.json
  mhr_api/tests/unit/api/test_drafts.py
  mhr_api/tests/unit/models/test_mhr_draft.py
Labels: MHR API

#986 Fix Home Owners Table error messages
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
  ppr-ui/tests/unit/MhrRegistrationHomeOwners.spec.ts
Labels: MHR Registration, Bugfix

#985 MHR Transfer Details
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrTransfers/TransferDetails.vue
  ppr-ui/src/components/mhrTransfers/index.ts
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrTransferIF.ts
  ppr-ui/src/store/actions/index.ts
  ppr-ui/src/store/actions/mhr-transfer-actions-model.ts
  ppr-ui/src/store/getters/index.ts
  ppr-ui/src/store/getters/mhr-transfer-state-getters.ts
  ppr-ui/src/store/getters/state-getters.ts
  ppr-ui/src/store/mutations/index.ts
  ppr-ui/src/store/mutations/mhr-transfer-mutations-model.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
Labels: MHR Ownership Transfer

#987 MHR API add transfer details.
  mhr_api/requirements.txt
  mhr_api/requirements/bcregistry-libraries.txt
  mhr_api/src/mhr_api/models/db2/document.py
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/type_tables.py
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/src/mhr_api/reports/__init__.py
  mhr_api/src/mhr_api/resources/v1/searches.py
  mhr_api/src/mhr_api/services/authz.py
  mhr_api/src/mhr_api/services/payment/client/__init__.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/postman/mhr-api-unit.postman_collection.json
  mhr_api/tests/unit/api/test_registration_report_callback.py
  mhr_api/tests/unit/api/test_registrations.py
  mhr_api/tests/unit/api/test_search_report_callback.py
  mhr_api/tests/unit/api/test_transfers.py
  mhr_api/tests/unit/models/db2/test_descript.py
  mhr_api/tests/unit/models/db2/test_document.py
  mhr_api/tests/unit/models/db2/test_manuhome.py
  mhr_api/tests/unit/models/db2/test_mhomnote.py
  mhr_api/tests/unit/models/db2/test_owngroup.py
  mhr_api/tests/unit/utils/test_registration_validator.py
Labels: MHR API, MHR Ownership Transfer

#989 UX updates to transfer registration report.
  mhr_api/report-templates/template-parts/registration/owners.html
  mhr_api/report-templates/template-parts/registration/submittingParty.html
  mhr_api/report-templates/template-parts/v2/style.html
  mhr_api/report-templates/transferV2.html
  mhr_api/src/mhr_api/models/db2/document.py
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/owner.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/tests/unit/models/db2/test_document.py
  mhr_api/tests/unit/models/test_mhr_location.py
  mhr_api/tests/unit/reports/data/trans-test-example-jt.json
  mhr_api/tests/unit/reports/data/trans-test-example-tc.json
  mhr_api/tests/unit/reports/data/trans-test-example.json
  mhr_api/tests/unit/reports/test_report_registration_v2.py
  mhr_api/tests/unit/utils/test_registration_validator.py
Labels: MHR API, MHR Ownership Transfer

#993 Updates to Transfer Details as per UX review
  ppr-ui/src/components/mhrTransfers/TransferDetails.vue
Labels: MHR Ownership Transfer

#994 Fix Home Owners Review page
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeOwnersReview.vue
Labels: MHR Registration, Bugfix

#992 Support Adding Groups for Transfers
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnerGroups.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
  ppr-ui/tests/unit/MhrRegistrationHomeOwners.spec.ts
  ppr-ui/tests/unit/test-data/index.ts
  ppr-ui/tests/unit/test-data/mock-mhr-transfer.ts
Labels: MHR Ownership Transfer

#998 Fix for declaredValue in Transfer Details
  ppr-ui/src/components/mhrTransfers/TransferDetails.vue
Labels: MHR Ownership Transfer, Bugfix

#996 MHR api owner, owner group updates.
  mhr_api/report-templates/coverV2.html
  mhr_api/report-templates/template-parts/registration/owners.html
  mhr_api/report-templates/template-parts/registration/submittingParty.html
  mhr_api/requirements.txt
  mhr_api/requirements/bcregistry-libraries.txt
  mhr_api/src/mhr_api/models/db2/descript.py
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/owngroup.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/type_tables.py
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/services/payment/client/__init__.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/models/db2/test_manuhome.py
  mhr_api/tests/unit/models/db2/test_owngroup.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/reports/data/registration-test-example.json
  mhr_api/tests/unit/reports/data/trans-test-example-jt.json
  mhr_api/tests/unit/reports/data/trans-test-example-tc.json
  mhr_api/tests/unit/reports/data/trans-test-example.json
  mhr_api/tests/unit/utils/test_registration_validator.py
Labels: MHR API

#995 Home-Owners-Removal
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/TableGroupHeader.vue
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
  ppr-ui/src/enums/homeTenancyTypes.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationHomeOwnerIF.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
  ppr-ui/tests/unit/test-data/mock-mhr-registration.ts
Labels: MHR Ownership Transfer

#997 Clean up Tech Debt - Refactor Group Ids as numbers
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/FractionalOwnership.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnerGroups.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/TableGroupHeader.vue
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationHomeOwnerGroupIF.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationHomeOwnerIF.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
  ppr-ui/tests/unit/MhrRegistrationHomeOwners.spec.ts
  ppr-ui/tests/unit/MhrReviewConfirm.spec.ts
  ppr-ui/tests/unit/test-data/mock-mhr-registration.ts
Labels: MHR Registration, MHR Ownership Transfer

#999 13707 - Unsaved changes prompt
  ppr-ui/src/App.vue
  ppr-ui/src/components/common/ButtonFooter.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
Labels: MHR Ownership Transfer

#1002 13907 cannot complete mhr registration bug
  ppr-ui/src/views/newMhrRegistration/MhrRegistration.vue
  ppr-ui/tests/unit/test-data/mock-mhr-registration.ts
Labels: MHR Registration, Bugfix

#1003 Group Removal - Part 1
  ppr-ui/src/components/common/RegistrationsWrapper.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/FractionalOwnership.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnerGroups.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/TableGroupHeader.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeOwnersReview.vue
  ppr-ui/src/components/tables/common/TableRow.vue
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationFractionalOwnershipIF.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationHomeOwnerIF.ts
  ppr-ui/src/store/getters/state-getters.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
  ppr-ui/tests/unit/MhrRegistrationHomeOwners.spec.ts
  ppr-ui/tests/unit/MhrReviewConfirm.spec.ts
  ppr-ui/tests/unit/test-data/mock-mhr-registration.ts
Labels: MHR Registration, MHR Ownership Transfer

#1004 13707 Fix issue with Unsaved Dialog box showing on save draft
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
Labels: MHR Ownership Transfer, Bugfix

#1001 13959 UI authorization component
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
Labels: MHR Ownership Transfer

#1005 MHR large search report with UXA.
  ppr-api/report-templates/searchCoverV2.html
  ppr-api/report-templates/searchResultV2.html
  ppr-api/report-templates/template-parts/v2/search-result/selected.html
  ppr-api/report-templates/template-parts/v2/style.html
  ppr-api/src/ppr_api/models/search_request.py
  ppr-api/src/ppr_api/models/utils.py
  ppr-api/src/ppr_api/reports/v2/report.py
  ppr-api/src/ppr_api/reports/v2/report_utils.py
  ppr-api/src/ppr_api/resources/search_results.py
  ppr-api/test_data/postgres_data_files/test_searches.sql
  ppr-api/tests/unit/callback/test_report_service.py
  ppr-api/tests/unit/models/test_registration_utils.py
  ppr-api/tests/unit/reports/data/search-cover-example.json
  ppr-api/tests/unit/reports/test_report_registration.py
  ppr-api/tests/unit/reports/test_report_search_v2.py
Labels: PPR API

#1007 Updated Group Removal functionality + Misc UX
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/assets/styles/base.scss
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/TableGroupHeader.vue
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationHomeOwnerGroupIF.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
  ppr-ui/tests/unit/MhrTransferHomeOwners.spec.ts
  ppr-ui/tests/unit/test-data/mock-mhr-registration.ts
Labels: MHR Ownership Transfer

#1006 Submitting Party on the Review screen
  ppr-ui/src/components/common/AccountInfo.vue
  ppr-ui/src/components/common/index.ts
  ppr-ui/src/interfaces/account-interfaces/account-info-interface.ts
  ppr-ui/src/interfaces/account-interfaces/index.ts
  ppr-ui/src/utils/auth-helper.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
  ppr-ui/tests/unit/test-data/index.ts
  ppr-ui/tests/unit/test-data/mock-account-info.ts
Labels: MHR Ownership Transfer

#1009 MHR api add exemptions.
  mhr_api/report-templates/exemptionV2.html
  mhr_api/requirements.txt
  mhr_api/requirements/bcregistry-libraries.txt
  mhr_api/src/mhr_api/models/__init__.py
  mhr_api/src/mhr_api/models/db2/document.py
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/mhomnote.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_document.py
  mhr_api/src/mhr_api/models/mhr_note.py
  mhr_api/src/mhr_api/models/mhr_owner_group.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/reports/v2/report_utils.py
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/resources/utils.py
  mhr_api/src/mhr_api/resources/v1/__init__.py
  mhr_api/src/mhr_api/resources/v1/exemptions.py
  mhr_api/src/mhr_api/services/payment/__init__.py
  mhr_api/src/mhr_api/services/payment/client/__init__.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/postman/mhr-api-unit.postman_collection.json
  mhr_api/tests/unit/api/test_exemptions.py
  mhr_api/tests/unit/models/db2/test_manuhome.py
  mhr_api/tests/unit/models/db2/test_mhomnote.py
  mhr_api/tests/unit/models/test_mhr_document.py
  mhr_api/tests/unit/models/test_mhr_note.py
  mhr_api/tests/unit/models/test_mhr_owner_group.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/reports/data/exempt-res-test-example.json
  mhr_api/tests/unit/reports/test_report_registration_v2.py
  mhr_api/tests/unit/utils/test_registration_validator.py
Labels: MHR API

#1011 Attention Ref Number on the Review screen
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
Labels: MHR Ownership Transfer

#1014 Added TransferDetailsReview component
  ppr-ui/src/components/mhrTransfers/TransferDetailsReview.vue
  ppr-ui/src/components/mhrTransfers/index.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
Labels: MHR Ownership Transfer

#1015 Added yellow message bar on review screen
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
Labels: MHR Ownership Transfer

#1017 search report location, owner suffix changes.
  mhr_api/report-templates/template-parts/registration/location.html
  mhr_api/report-templates/template-parts/search-result/location.html
  mhr_api/report-templates/template-parts/search-result/owners.html
  mhr_api/src/mhr_api/models/db2/location.py
  mhr_api/src/mhr_api/models/db2/owner.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/tests/unit/reports/data/search-detail-executor-example.json
  mhr_api/tests/unit/reports/data/search-location-dealer-example.json
  mhr_api/tests/unit/reports/data/search-location-no-pid-example.json
  mhr_api/tests/unit/reports/data/search-location-park-example.json
  mhr_api/tests/unit/reports/data/search-location-pid-example.json
  mhr_api/tests/unit/reports/data/search-location-reserve-example.json
  mhr_api/tests/unit/reports/test_report_search_v2.py
Labels: MHR API

#1019 Confirm Completion section on Review screen
  ppr-ui/src/components/mhrTransfers/ConfirmCompletion.vue
  ppr-ui/src/components/mhrTransfers/index.ts
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrTransferIF.ts
  ppr-ui/src/store/actions/mhr-transfer-actions-model.ts
  ppr-ui/src/store/getters/mhr-transfer-state-getters.ts
  ppr-ui/src/store/mutations/mhr-transfer-mutations-model.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
  ppr-ui/tests/unit/test-data/mock-mhr-transfer.ts
Labels: MHR Ownership Transfer

#1020 Group Removal Bugs / Scenarios
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
Labels: MHR Ownership Transfer
