Repository bcgov/ppr, pull requests merged in 2022-12, with the labels that each got.

#1069 Fix to display "not found" modal
  mhr_api/src/mhr_api/resources/v1/other_registrations.py
Labels: MHR API

#1071 MHR transfer report UX changes.
  mhr_api/report-templates/exemptionV2.html
  mhr_api/report-templates/template-parts/registration/owners.html
  mhr_api/report-templates/template-parts/search-result/owners.html
  mhr_api/report-templates/template-parts/v2/style.html
  mhr_api/report-templates/template-parts/v2/styleMail.html
  mhr_api/report-templates/transferV2.html
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/resources/v1/transfers.py
  mhr_api/src/mhr_api/version.py
Labels: MHR API

#1075 Update Org Lookup as per UXA
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrTransfers/BusinessSearchAutocomplete.vue
  ppr-ui/src/composables/useSearch.ts
Labels: MHR Registration

#1076 14393 mhr business look up updates
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeLocationType.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrTransfers/BusinessSearchAutocomplete.vue
Labels: MHR Registration, MHR Ownership Transfer

#1079 Update error message for Org lookup
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
Labels: MHR Registration, MHR Ownership Transfer, Bugfix

#1077 MHR API add account registration sorting.
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_party.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/resources/utils.py
  mhr_api/src/mhr_api/resources/v1/registrations.py
  mhr_api/tests/unit/api/test_registrations.py
  mhr_api/tests/unit/models/db2/test_db2_utils.py
  mhr_api/tests/unit/models/test_mhr_registration.py
Labels: MHR API

#1082 UXA Fixes for #14383
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/assets/styles/base.scss
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeOwnersReview.vue
  ppr-ui/src/components/mhrTransfers/BusinessSearchAutocomplete.vue
  ppr-ui/src/components/mhrTransfers/TransferDetailsReview.vue
Labels: MHR Registration, MHR Ownership Transfer

#1084 UX updates to PDF download button
  ppr-ui/src/components/tables/SearchHistory.vue
  ppr-ui/src/interfaces/ppr-api-interfaces/search-response-interface.ts
  ppr-ui/src/store/actions/actions-model.ts
  ppr-ui/src/utils/mhr-api-helper.ts
  ppr-ui/tests/unit/SearchHistory.spec.ts
  ppr-ui/tests/unit/test-data/mock-search-responses.ts
Labels: MHR Search

#1089 MHR API transfer add lien check, report location updates.
  mhr_api/report-templates/template-parts/registration/location.html
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/tests/unit/utils/test_registration_validator.py
Labels: MHR API

#1093 MHR API location type RESERVE updates.
  mhr_api/requirements.txt
  mhr_api/requirements/bcregistry-libraries.txt
  mhr_api/src/mhr_api/models/db2/location.py
  mhr_api/src/mhr_api/models/mhr_location.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/tests/unit/models/test_mhr_location.py
  mhr_api/tests/unit/utils/test_registration_validator.py
Labels: MHR Registration, MHR API

#1094 UI - Lien Updates
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/tables/common/TableRow.vue
  ppr-ui/src/enums/registrationTypes.ts
  ppr-ui/src/interfaces/ppr-api-interfaces/registration-interfaces.ts
  ppr-ui/src/main.ts
  ppr-ui/src/store/getters/state-getters.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
Labels: MHR Ownership Transfer, MHR Search

#1095 Do not show error dialog for PPR pdf download
  ppr-ui/src/components/tables/SearchHistory.vue
Labels: MHR Search

#1097 Transfer: Lien Messaging and Validations
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/assets/styles/theme.scss
  ppr-ui/src/components/tables/mhr/SearchedResults.vue
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
Labels: MHR Ownership Transfer, MHR Search

#1098 Improve MH reg owner group validation, MHR report updates.
  mhr_api/report-templates/registrationV2.html
  mhr_api/report-templates/template-parts/registration/owners.html
  mhr_api/report-templates/template-parts/search-result/owners.html
  mhr_api/report-templates/template-parts/v2/search-result/registration.html
  mhr_api/src/mhr_api/models/db2/location.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/utils/test_registration_validator.py
Labels: MHR API

#1099 Remove duplicate interest fraction for the TC tenancy type.
  mhr_api/src/mhr_api/models/db2/owngroup.py
  mhr_api/src/mhr_api/models/mhr_owner_group.py
  mhr_api/tests/unit/models/db2/test_owngroup.py
  mhr_api/tests/unit/models/test_mhr_owner_group.py
  ppr-api/src/ppr_api/models/search_request.py
  ppr-api/src/ppr_api/resources/search_results.py
  ppr-api/src/ppr_api/version.py
Labels: MHR API, PPR API

#1104 14385 mhr api legacy address mapping
  mhr_api/report-templates/template-parts/registration/owners.html
  mhr_api/report-templates/template-parts/search-result/owners.html
  mhr_api/src/mhr_api/models/db2/address_utils.py
  mhr_api/src/mhr_api/models/db2/document.py
  mhr_api/src/mhr_api/models/db2/manufact.py
  mhr_api/src/mhr_api/models/db2/mhomnote.py
  mhr_api/src/mhr_api/models/db2/owner.py
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/tests/unit/models/db2/test_address_utils.py
  mhr_api/tests/unit/models/db2/test_manufact.py
  mhr_api/tests/unit/models/db2/test_mhomnote.py
  mhr_api/tests/unit/models/test_utils.py
Labels: MHR API

#1107 Add staff search certified copy option.
  mhr_api/report-templates/searchResultV2.html
  mhr_api/report-templates/template-parts/registrarSignature.html
  mhr_api/report-templates/template-parts/v2/style.html
  mhr_api/src/mhr_api/models/search_result.py
  mhr_api/src/mhr_api/resources/v1/search_results.py
  mhr_api/src/mhr_api/services/payment/client/__init__.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/api/test_search_results.py
  mhr_api/tests/unit/models/test_search_result.py
  mhr_api/tests/unit/services/test_payment.py
  ppr-api/src/ppr_api/reports/__init__.py
Labels: MHR API

#1108 Enhance UX for Large PDF Search Reports
  ppr-ui/src/components/tables/SearchHistory.vue
  ppr-ui/src/interfaces/ppr-api-interfaces/search-response-interface.ts
  ppr-ui/src/store/actions/actions-model.ts
  ppr-ui/tests/unit/SearchHistory.spec.ts
  ppr-ui/tests/unit/test-data/mock-search-responses.ts
Labels: MHR Search

#1109 Prevent automatic downloads of large search reports
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/tables/SearchHistory.vue
Labels: MHR Search

#1111 Ppr api duplicate user profile fix
  ppr-api/src/ppr_api/models/user.py
Labels: PPR API

#1113 14398 Add null value check
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
Labels: MHR Registration, MHR Ownership Transfer, Bugfix

#1112 Add reg other account by doc reg number.
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_location.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/search_request.py
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/src/mhr_api/resources/v1/other_registrations.py
  mhr_api/src/mhr_api/resources/v1/search_results.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/api/test_other_registrations.py
  mhr_api/tests/unit/models/test_mhr_location.py
  mhr_api/tests/unit/models/test_mhr_registration.py
Labels: MHR API

#1110 Remove delay for MHR reports generation
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/tables/SearchHistory.vue
Labels: MHR Search

#1114 Search dropdown UI updates & Bug Fix
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/search/SearchBar.vue
  ppr-ui/src/components/search/SearchBarList.vue
  ppr-ui/src/resources/searchTypes.ts
  ppr-ui/tests/unit/SearchBar.spec.ts
  ppr-ui/tests/unit/SearchBarList.spec.ts
  ppr-ui/tests/unit/SearchValidation.spec.ts
  ppr-ui/tests/unit/SearchedResultsMHR.spec.ts
Labels: Bugfix, MHR Search

#1116 Update properties for submission for Location Info
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/HomeLocationInfo.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
  ppr-ui/src/composables/mhrRegistration/useNewMhrRegistration.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrLocationInfoIF.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationHomeLocationIF.ts
  ppr-ui/src/store/state/state-model.ts
Labels: MHR Registration, Bugfix

#1117 Update PPR icons
  ppr-ui/src/components/dashboard/DashboardTabs.vue
  ppr-ui/src/components/tables/SearchHistory.vue
Labels: MHR Search

#1118 Fix MHR Search dropdown label and placeholder
  ppr-ui/src/components/search/SearchBarList.vue
  ppr-ui/src/resources/searchTypes.ts
Labels: Bugfix, MHR Search

#1120 UXA feedback for MHR Business Lookup
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrTransfers/BusinessSearchAutocomplete.vue
Labels: MHR Registration
