Repository bcgov/ppr, pull requests merged in 2022-11, with the labels that each got.

#1025 Validation for Transfer Details & Confirm Completion components
  ppr-ui/src/components/common/CertifyInformation.vue
  ppr-ui/src/components/mhrTransfers/ConfirmCompletion.vue
  ppr-ui/src/components/mhrTransfers/TransferDetails.vue
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/newMhrRegistration/MhrReviewConfirm.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
Labels: MHR Ownership Transfer

#1030 13905 show hide transfer details if owners changed
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
Labels: MHR Ownership Transfer

#1033 Fix Attention Ref Num - QA feedback
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
Labels: MHR Ownership Transfer, Bugfix

#1036 Transfer Details validations
  ppr-ui/src/components/mhrTransfers/TransferDetails.vue
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
Labels: MHR Ownership Transfer

#1037 Fix Review step validation
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
Labels: MHR Ownership Transfer, Bugfix

#1039 Clear Transfer Details data on Undo
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrTransfers/TransferDetails.vue
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
Labels: MHR Ownership Transfer

#1044 Transfer Details Populated in Drafts
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
Labels: MHR Ownership Transfer

#1046 Owner Group Requirements + Misc UX updates
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnerGroups.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/TableGroupHeader.vue
  ppr-ui/src/components/mhrTransfers/ConfirmCompletion.vue
  ppr-ui/src/components/mhrTransfers/TransferDetails.vue
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
Labels: MHR Ownership Transfer

#1051 MHR search report fixes.
  mhr_api/report-templates/template-parts/registration/notes.html
  mhr_api/report-templates/template-parts/search-result/notes.html
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/mhomnote.py
  mhr_api/src/mhr_api/models/db2/owner.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/search_result.py
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/models/db2/test_mhomnote.py
  mhr_api/tests/unit/models/test_mhr_registration.py
Labels: MHR API

#1056 Add Folio Num to the MHR Search request
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/utils/mhr-api-helper.ts
  ppr-ui/src/views/mhrSearch/ConfirmMHRSearch.vue
Labels: Bugfix, MHR Search

#1052 Org Owner Lookup component
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrTransfers/BusinessSearchAutocomplete.vue
  ppr-ui/src/components/mhrTransfers/index.ts
  ppr-ui/src/composables/useSearch.ts
Labels: MHR Registration

#1060 Transfer UX Sweep
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/FractionalOwnership.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnerGroups.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/TableGroupHeader.vue
  ppr-ui/src/components/mhrTransfers/ConfirmCompletion.vue
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
  ppr-ui/src/resources/tableHeaders.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
Labels: MHR Ownership Transfer

#1059 13848 fix mhr table child ux issues
  ppr-ui/src/components/mhrTransfers/TransferDetails.vue
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
Labels: MHR Ownership Transfer

#1062 MHR api complete postgres data model changes.
  mhr_api/src/mhr_api/models/__init__.py
  mhr_api/src/mhr_api/models/mhr_description.py
  mhr_api/src/mhr_api/models/mhr_owner_group.py
  mhr_api/src/mhr_api/models/mhr_party.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/mhr_section.py
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/services/authz.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/models/test_mhr_description.py
  mhr_api/tests/unit/models/test_mhr_owner_group.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/models/test_mhr_section.py
Labels: MHR API

#1067 Org Owner Lookup UXA
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrTransfers/BusinessSearchAutocomplete.vue
Labels: MHR Registration

#1068 Transfer Flow UXA
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/assets/styles/base.scss
  ppr-ui/src/assets/styles/theme.scss
  ppr-ui/src/assets/svgs/homeownersicon_reviewscreen.svg
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/main.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
Labels: MHR Ownership Transfer

#1066 MHR api feedback report changes.
  mhr_api/report-templates/registrationV2.html
  mhr_api/report-templates/template-parts/registration/details.html
  mhr_api/report-templates/template-parts/registration/sections.html
  mhr_api/report-templates/template-parts/search-result/details.html
  mhr_api/report-templates/template-parts/search-result/sections.html
  mhr_api/report-templates/template-parts/v2/search-result/registration.html
  mhr_api/report-templates/template-parts/v2/style.html
  mhr_api/report-templates/template-parts/v2/styleMail.html
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/reports/v2/report.py
Labels: MHR API
