Repository bcgov/ppr, pull requests merged in 2022-08, with the labels that each got.

#884 MHR account extra registrations initial implementation.
  mhr_api/src/mhr_api/models/__init__.py
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/mhr_extra_registration.py
  mhr_api/src/mhr_api/models/registration.py
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/src/mhr_api/resources/utils.py
  mhr_api/src/mhr_api/resources/v1/__init__.py
  mhr_api/src/mhr_api/resources/v1/other_registrations.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/postman/mhr-api-unit.postman_collection.json
  mhr_api/tests/unit/api/test_other_registrations.py
  mhr_api/tests/unit/models/test_mhr_extra_registration.py
  mhr_api/tests/unit/models/test_registration.py
Labels: MHR Registration

#890 Home Owners UXA feedback
  ppr-ui/src/components/common/ButtonFooter.vue
  ppr-ui/src/components/common/SimpleHelpToggle.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/composables/mhrRegistration/home-owner.ts
  ppr-ui/src/resources/tableHeaders.ts
  ppr-ui/src/store/getters/state-getters.ts
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
Labels: MHR Registration

#889 Add endpoint to get account registrations.
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/mhr_extra_registration.py
  mhr_api/src/mhr_api/models/registration.py
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/src/mhr_api/resources/v1/__init__.py
  mhr_api/src/mhr_api/resources/v1/registrations.py
  mhr_api/tests/postman/mhr-api-unit.postman_collection.json
  mhr_api/tests/unit/api/test_other_registrations.py
  mhr_api/tests/unit/api/test_registrations.py
  mhr_api/tests/unit/models/test_mhr_extra_registration.py
  mhr_api/tests/unit/models/test_registration.py
Labels: MHR API

#888 Home Location UX
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/assets/styles/overrides.scss
  ppr-ui/src/components/common/PidNumber.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
Labels: MHR Registration

#886 12963 step 4 enter civic address
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeCivicAddress.vue
  ppr-ui/src/components/mhrRegistration/HomeLocation/index.ts
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationHomeLocationIF.ts
  ppr-ui/src/schemas/civic-address.ts
  ppr-ui/src/store/actions/actions-model.ts
  ppr-ui/src/store/mutations/mutations-model.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/utils/feature-flags.ts
  ppr-ui/src/views/newMhrRegistration/HomeLocation.vue
  ppr-ui/tests/unit/MhrCivicAddress.spec.ts
Labels: MHR Registration

#896 implement search api
  ppr-ui/devops/vaults.json
  ppr-ui/public/config/configuration.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/composables/useSearch.ts
  ppr-ui/src/enums/business-statuses.ts
  ppr-ui/src/enums/business-types.ts
  ppr-ui/src/enums/errorCategories.ts
  ppr-ui/src/enums/errorCodes.ts
  ppr-ui/src/enums/index.ts
  ppr-ui/src/interfaces/index.ts
  ppr-ui/src/interfaces/registries-search-api-interface/error.ts
  ppr-ui/src/interfaces/registries-search-api-interface/index.ts
  ppr-ui/src/interfaces/registries-search-api-interface/search.ts
  ppr-ui/src/utils/config-helper.ts
Labels: MHR Registration, MHR API

#895 Home Owner Groups (Part 1)
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnerGroups.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/TableGroupHeader.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/index.ts
  ppr-ui/src/composables/mhrRegistration/home-owner.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationHomeOwnerGroupIF.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationHomeOwnersIF.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationIF.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/index.ts
  ppr-ui/src/store/actions/actions-model.ts
  ppr-ui/src/store/getters/state-getters.ts
  ppr-ui/src/store/mutations/mutations-model.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/utils/use-composition-api.ts
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
  ppr-ui/tests/unit/AddCollateral.spec.ts
  ppr-ui/tests/unit/AddParties.spec.ts
  ppr-ui/tests/unit/AmendmentDescription.spec.ts
  ppr-ui/tests/unit/AutoComplete.spec.ts
  ppr-ui/tests/unit/BaseAddress.spec.ts
  ppr-ui/tests/unit/BaseDialog.spec.ts
  ppr-ui/tests/unit/BasePartySummary.spec.ts
  ppr-ui/tests/unit/BaseSnackbar.spec.ts
  ppr-ui/tests/unit/Breadcrumb.spec.ts
  ppr-ui/tests/unit/Dashboard.spec.ts
  ppr-ui/tests/unit/DebtorValidation.spec.ts
  ppr-ui/tests/unit/Debtors.spec.ts
  ppr-ui/tests/unit/EditDebtor.spec.ts
  ppr-ui/tests/unit/EditSecuredParty.spec.ts
  ppr-ui/tests/unit/LengthTrust.spec.ts
  ppr-ui/tests/unit/MhrRegistration.spec.ts
  ppr-ui/tests/unit/MhrRegistrationHomeOwners.spec.ts
  ppr-ui/tests/unit/MhrSubmittingParty.spec.ts
  ppr-ui/tests/unit/Parties.spec.ts
  ppr-ui/tests/unit/RegistrationTable.spec.ts
  ppr-ui/tests/unit/RegistrationsWrapper.spec.ts
  ppr-ui/tests/unit/ReviewConfirm.spec.ts
  ppr-ui/tests/unit/SearchBarList.spec.ts
  ppr-ui/tests/unit/SecuredParties.spec.ts
  ppr-ui/tests/unit/SecuredPartyValidation.spec.ts
  ppr-ui/tests/unit/test-data/mock-mhr-registration.ts
Labels: MHR Registration

#900 Mhr Validations - Part 1 (Composable, Model and Steps 1/2/4/5)
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/Stepper.vue
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeCivicAddress.vue
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeLocationType.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/SubmittingPartyReview.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/YourHomeReview.vue
  ppr-ui/src/components/mhrRegistration/SubmittingParty/MhrSubmittingParty.vue
  ppr-ui/src/components/mhrRegistration/YourHome/HomeCertification.vue
  ppr-ui/src/components/mhrRegistration/YourHome/HomeSections.vue
  ppr-ui/src/components/mhrRegistration/YourHome/ManufacturerMakeModel.vue
  ppr-ui/src/components/mhrRegistration/YourHome/OtherInformation.vue
  ppr-ui/src/components/mhrRegistration/YourHome/RebuiltStatus.vue
  ppr-ui/src/composables/address/BaseAddress.vue
  ppr-ui/src/composables/index.ts
  ppr-ui/src/composables/mhrRegistration/enums/MhrValidFlags.ts
  ppr-ui/src/composables/mhrRegistration/enums/index.ts
  ppr-ui/src/composables/mhrRegistration/index.ts
  ppr-ui/src/composables/mhrRegistration/mhr-validations.ts
  ppr-ui/src/interfaces/store-interfaces/state-interfaces/index.ts
  ppr-ui/src/interfaces/store-interfaces/state-interfaces/mhr-validation-state-interface.ts
  ppr-ui/src/interfaces/store-interfaces/state-model-interface.ts
  ppr-ui/src/store/getters/state-getters.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/views/newMhrRegistration/HomeLocation.vue
  ppr-ui/src/views/newMhrRegistration/MhrRegistration.vue
  ppr-ui/src/views/newMhrRegistration/MhrReviewConfirm.vue
  ppr-ui/src/views/newMhrRegistration/SubmittingParty.vue
  ppr-ui/src/views/newMhrRegistration/YourHome.vue
  ppr-ui/tests/unit/HomeCertification.spec.ts
  ppr-ui/tests/unit/TableRow.spec.ts
Labels: MHR Registration

#901 Home Owners Tech Debt Cleanup + UX Feedback
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/composables/address/BaseAddress.vue
  ppr-ui/src/composables/mhrRegistration/home-owner.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationHomeOwnerGroupIF.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationHomeOwnerIF.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationHomeOwnersIF.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationIF.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/index.ts
  ppr-ui/src/store/actions/actions-model.ts
  ppr-ui/src/store/getters/state-getters.ts
  ppr-ui/src/store/mutations/mutations-model.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
  ppr-ui/tests/unit/MhrRegistrationHomeOwners.spec.ts
  ppr-ui/tests/unit/test-data/mock-mhr-registration.ts
Labels: MHR Registration

#906 home location review page update label
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
Labels: MHR Registration

#899 13171 add phone email validation
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrRegistration/SubmittingParty/MhrSubmittingParty.vue
  ppr-ui/src/composables/address/BaseAddress.vue
  ppr-ui/src/composables/mhrRegistration/home-owner.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationHomeOwnerGroupIF.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationHomeOwnerIF.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationHomeOwnersIF.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationIF.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/index.ts
  ppr-ui/src/store/actions/actions-model.ts
  ppr-ui/src/store/getters/state-getters.ts
  ppr-ui/src/store/mutations/mutations-model.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
  ppr-ui/tests/unit/MhrRegistrationHomeOwners.spec.ts
  ppr-ui/tests/unit/MhrSubmittingParty.spec.ts
  ppr-ui/tests/unit/test-data/mock-mhr-registration.ts
Labels: MHR Registration

#907 12963-Fix Styling on Civic Address
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeCivicAddress.vue
Labels: MHR Registration

#905 MHR: Unsaved Changes Handler
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/App.vue
  ppr-ui/src/composables/mhrRegistration/index.ts
  ppr-ui/src/composables/mhrRegistration/useMhrValidations.ts
  ppr-ui/src/store/actions/actions-model.ts
  ppr-ui/src/views/newMhrRegistration/HomeLocation.vue
  ppr-ui/src/views/newMhrRegistration/MhrRegistration.vue
  ppr-ui/src/views/newMhrRegistration/SubmittingParty.vue
  ppr-ui/src/views/newMhrRegistration/YourHome.vue
Labels: MHR Registration

#909 Validations: UX Update
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/SubmittingPartyReview.vue
Labels: MHR Registration

#913 MHR API create reg add doc id validation.
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/services/payment/client/__init__.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/tests/unit/api/test_registrations.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/utils/test_registration_validator.py
Labels: MHR API

#914 Document ID for Submitting Party
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/SubmittingPartyReview.vue
  ppr-ui/src/composables/mhrRegistration/enums/MhrValidFlags.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationIF.ts
  ppr-ui/src/interfaces/store-interfaces/state-interfaces/mhr-validation-state-interface.ts
  ppr-ui/src/store/actions/actions-model.ts
  ppr-ui/src/store/getters/state-getters.ts
  ppr-ui/src/store/mutations/mutations-model.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/views/newMhrRegistration/SubmittingParty.vue
Labels: MHR Registration

#910 Home Owner Groups (Part 2) Fractional Ownership
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/FractionalOwnership.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnerGroups.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/TableGroupHeader.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/index.ts
  ppr-ui/src/composables/address/BaseAddress.vue
  ppr-ui/src/composables/mhrRegistration/home-owner.ts
  ppr-ui/src/composables/useInputRules.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationFractionalOwnershipIF.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationHomeOwnerGroupIF.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/index.ts
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
  ppr-ui/tests/unit/MhrRegistrationHomeOwners.spec.ts
Labels: MHR Registration

#912 12963 Add Canada Post lookup
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeCivicAddress.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
  ppr-ui/tests/unit/MhrCivicAddress.spec.ts
Labels: MHR Registration

#918 Update search results sort order and search report sort order.
  mhr_api/report-templates/template-parts/search-result/registration.html
  mhr_api/requirements.txt
  mhr_api/requirements/bcregistry-libraries.txt
  mhr_api/src/mhr_api/models/db2/search_utils.py
  mhr_api/src/mhr_api/models/search_request.py
  mhr_api/src/mhr_api/models/search_result.py
  mhr_api/tests/unit/models/test_search_request.py
  mhr_api/tests/unit/models/test_search_result.py
  mhr_api/tests/unit/reports/data/search-detail-combo-discharged-example.json
  mhr_api/tests/unit/reports/data/search-detail-combo-example.json
  mhr_api/tests/unit/reports/data/search-detail-combo-expired-example.json
  mhr_api/tests/unit/reports/data/search-detail-combo-nil-example.json
  mhr_api/tests/unit/reports/data/search-detail-mhr-example.json
  mhr_api/tests/unit/reports/data/search-detail-org-example.json
  mhr_api/tests/unit/reports/data/search-detail-owner-example.json
  mhr_api/tests/unit/reports/data/search-detail-serial-example.json
Labels: MHR API

#916 13171 fix email phone validations
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/SubmittingParty/MhrSubmittingParty.vue
  ppr-ui/src/composables/useInputRules.ts
  ppr-ui/src/utils/format-helper.ts
  ppr-ui/tests/unit/MhrCivicAddress.spec.ts
  ppr-ui/tests/unit/MhrRegistrationHomeOwners.spec.ts
  ppr-ui/tests/unit/MhrSubmittingParty.spec.ts
Labels: MHR Registration

#917 Mhr Filing Submission
  ppr-ui/src/components/common/ButtonFooter.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/YourHome/ManufacturerMakeModel.vue
  ppr-ui/src/composables/mhrRegistration/index.ts
  ppr-ui/src/composables/mhrRegistration/useNewMhrRegistration.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationHomeOwnerGroupIF.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationIF.ts
  ppr-ui/src/interfaces/store-interfaces/state-interfaces/mhr-validation-state-interface.ts
  ppr-ui/src/store/getters/state-getters.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/utils/mhr-api-helper.ts
  ppr-ui/src/views/newMhrRegistration/MhrRegistration.vue
  ppr-ui/src/views/newMhrRegistration/MhrReviewConfirm.vue
  ppr-ui/tests/unit/test-data/mock-mhr-registration.ts
Labels: MHR Registration

#919 Home Owners (Part 3) Edit Fractional Ownership
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/FractionalOwnership.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnerGroups.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/TableGroupHeader.vue
Labels: MHR Registration

#925 Report notes section and date time updates.
  mhr_api/report-templates/template-parts/registration/notes.html
  mhr_api/report-templates/template-parts/search-result/notes.html
  mhr_api/src/mhr_api/models/__init__.py
  mhr_api/src/mhr_api/models/db2/descript.py
  mhr_api/src/mhr_api/models/db2/document.py
  mhr_api/src/mhr_api/models/db2/location.py
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/mhomnote.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/search_request.py
  mhr_api/src/mhr_api/models/search_result.py
  mhr_api/src/mhr_api/models/type_tables.py
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/src/mhr_api/reports/report.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/tests/unit/models/db2/test_manuhome.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/models/test_types.py
  mhr_api/tests/unit/reports/data/search-detail-combo-discharged-example.json
  mhr_api/tests/unit/reports/data/search-detail-combo-nil-example.json
  mhr_api/tests/unit/reports/data/search-detail-mhr-example.json
  mhr_api/tests/unit/reports/data/search-detail-org-example.json
  mhr_api/tests/unit/reports/data/search-detail-owner-example.json
  mhr_api/tests/unit/reports/data/search-detail-serial-example.json
Labels: MHR API
