Repository bcgov/ppr, pull requests merged in 2023-04, with the labels that each got.

#1258 MHR API add frozen state.
  mhr_api/requirements.txt
  mhr_api/requirements/bcregistry-libraries.txt
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/search_result.py
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/tests/unit/api/test_transfers.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/models/test_search_result.py
Labels: MHR API

#1261 MHR API update TRANS_ADMIN data validation.
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/tests/unit/api/test_transfers.py
  mhr_api/tests/unit/utils/test_transfer_validator.py
Labels: MHR API, MHR Ownership Transfer

#1259 Changes to confirm completion for WILL flow
  ppr-ui/src/components/mhrTransfers/ConfirmCompletion.vue
Labels: MHR Ownership Transfer

#1260 14866 updates to ownership for executor scenarios
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
Labels: MHR Ownership Transfer

#1267 MHR search report conditionally include expired caution unit notes.
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/utils/test_permit_validator.py
  mhr_api/tests/unit/utils/test_registration_validator.py
Labels: MHR API

#1262 Trans Will flow validations
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrTransfers/DeathCertificate.vue
  ppr-ui/src/components/mhrTransfers/SupportingDocuments.vue
  ppr-ui/src/components/mhrTransfers/TransferDetails.vue
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
  ppr-ui/src/resources/transferTypes.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
  ppr-ui/tests/unit/MhrReviewConfirm.spec.ts
  ppr-ui/tests/unit/MhrTransferHomeOwners.spec.ts
  ppr-ui/tests/unit/test-data/mock-mhr-transfer.ts
Labels: MHR Ownership Transfer

#1268 Fix for multiple filters bug
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/tests/unit/models/db2/test_db2_utils.py
Labels: MHR API, Bugfix

#1270 MHR api handle change reg draft race condition.
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_draft.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/tests/unit/models/db2/test_owngroup.py
  mhr_api/tests/unit/models/test_mhr_draft.py
  mhr_api/tests/unit/utils/test_transfer_validator.py
Labels: MHR API

#1271 Implement Transfer to Executor (AFFE flow)
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrTransfers/SupportingDocuments.vue
  ppr-ui/src/components/mhrTransfers/TransferType.vue
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/src/enums/transferTypes.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrTransferTypeIF.ts
  ppr-ui/src/resources/index.ts
  ppr-ui/src/resources/mhr-transfers/index.ts
  ppr-ui/src/resources/mhr-transfers/transfer-supporting-documents.ts
  ppr-ui/src/resources/mhr-transfers/transfers-content.ts
  ppr-ui/src/resources/mhr-transfers/transfers-errors.ts
  ppr-ui/src/resources/transferSupportingDocuments.ts
  ppr-ui/src/resources/transferTypes.ts
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
Labels: MHR Ownership Transfer

#1275 MHR api registration report updates from UX design.
  mhr_api/report-templates/exemptionV2.html
  mhr_api/report-templates/registrationV2.html
  mhr_api/report-templates/template-parts/registration/details.html
  mhr_api/report-templates/template-parts/registration/location.html
  mhr_api/report-templates/template-parts/registration/submittingParty.html
  mhr_api/report-templates/template-parts/search-result/details.html
  mhr_api/report-templates/transferV2.html
  mhr_api/report-templates/transportPermitV2.html
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/reports/v2/report_utils.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/models/test_types.py
Labels: MHR Registration, MHR API

#1278 Transfer Will - UXA feedback items
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrTransfers/SupportingDocuments.vue
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/tests/unit/MhrTransferHomeOwners.spec.ts
Labels: MHR Ownership Transfer, UXA

#1276 updates for review/confirm in WILL flow
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
Labels: MHR Ownership Transfer

#1280 MHR Information Tombstone changes
  ppr-ui/src/components/tombstone/Tombstone.vue
  ppr-ui/src/components/tombstone/TombstoneDischarge.vue
Labels: MHR Ownership Transfer

#1282 Validations for AFFE Transfer
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
Labels: MHR Ownership Transfer

#1281 MHR API new staff registration cover letter report.
  mhr_api/report-templates/registrationCoverV2.html
  mhr_api/report-templates/static/v2/footer_registration_cover.html
  mhr_api/report-templates/static/v2/header_registration_cover.html
  mhr_api/report-templates/template-parts/v2/style.html
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/reports/v2/report_utils.py
  mhr_api/src/mhr_api/version.py
Labels: MHR API

#1284 Fix to add Executor to same group in AFFE Transfer
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
Labels: MHR Ownership Transfer

#1287 Add validation for Death Cert when Affidavit selected
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
Labels: MHR Ownership Transfer

#1286 API MH Reg staff report.
  mhr_api/report-templates/registrationCoverV2.html
  mhr_api/report-templates/template-parts/v2/style.html
  mhr_api/report-templates/template-parts/v2/stylePageCover.html
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/reports/v2/report_utils.py
  mhr_api/src/mhr_api/resources/v1/registrations.py
  mhr_api/tests/unit/reports/data/registration-test-example.json
  mhr_api/tests/unit/reports/test_report_registration_v2.py
Labels: MHR API

#1291 Small UXA fixes for WILL transfers
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrTransfers/TransferDetailsReview.vue
Labels: MHR Ownership Transfer, UXA

#1290 Transfer Required modal after Affidavit
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrTransfers/SupportingDocuments.vue
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrTransferIF.ts
  ppr-ui/src/resources/dialogOptions/index.ts
  ppr-ui/src/resources/dialogOptions/transferRequiredDialog.ts
  ppr-ui/src/store/actions/mhr-transfer-actions-model.ts
  ppr-ui/src/store/getters/mhr-transfer-state-getters.ts
  ppr-ui/src/store/mutations/mhr-transfer-mutations-model.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
Labels: MHR Ownership Transfer

#1292 Enhance MH registration location data validation
  mhr_api/report-templates/template-parts/registration/owners.html
  mhr_api/src/mhr_api/models/mhr_document.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/tests/unit/api/test_registrations.py
  mhr_api/tests/unit/utils/test_permit_validator.py
  mhr_api/tests/unit/utils/test_registration_validator.py
Labels: MHR API

#1289 Changes to enable Will submission
  ppr-ui/src/components/tombstone/TombstoneDischarge.vue
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationHomeOwnerIF.ts
Labels: MHR Ownership Transfer

#1294 Updates for Affidavit Transfers
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrTransfers/DeathCertificate.vue
  ppr-ui/src/components/mhrTransfers/SupportingDocuments.vue
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/src/resources/mhr-transfers/transfers-content.ts
  ppr-ui/src/resources/mhr-transfers/transfers-errors.ts
  ppr-ui/tests/unit/MhrTransferHomeOwners.spec.ts
  ppr-ui/tests/unit/test-data/mock-mhr-registration.ts
Labels: MHR Ownership Transfer, UXA

#1299 MHR transfer registration report updates
  mhr_api/report-templates/registrationCoverV2.html
  mhr_api/report-templates/template-parts/registration/owners.html
  mhr_api/report-templates/transferV2.html
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/reports/v2/report_utils.py
  mhr_api/src/mhr_api/resources/v1/transfers.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/reports/data/trans-test-example-admin.json
  mhr_api/tests/unit/reports/data/trans-test-example-affidavit.json
  mhr_api/tests/unit/reports/data/trans-test-example-death.json
  mhr_api/tests/unit/reports/data/trans-test-example-will.json
  mhr_api/tests/unit/reports/test_report_registration_v2.py
Labels: MHR API

#1298 Step 5 checkmark fix, UXA for 15895
  ppr-ui/src/components/tables/common/TableRow.vue
  ppr-ui/src/store/getters/state-getters.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
Labels: MHR Registration, Bugfix

#1305 Add transfer data validation for qualified users.
  mhr_api/report-templates/registrationCoverV2.html
  mhr_api/report-templates/transferV2.html
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/resources/utils.py
  mhr_api/src/mhr_api/resources/v1/transfers.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/utils/test_registration_validator.py
  mhr_api/tests/unit/utils/test_transfer_data.py
  mhr_api/tests/unit/utils/test_transfer_validator.py
Labels: MHR API

#1301 Make status in tombstone dependent on parent
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/tombstone/TombstoneDischarge.vue
  ppr-ui/tests/unit/TombstoneDischarge.spec.ts
  ppr-ui/tests/unit/test-data/mock-registration-new.ts
Labels: MHR Ownership Transfer
