Repository bcgov/ppr, pull requests merged in 2023-01, with the labels that each got.

#1122 Made CSA dropdown selection clearable
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/YourHome/HomeCertification.vue
Labels: MHR Registration

#1121 UI updates for Search Bar, Info text and Fees
  ppr-ui/src/components/common/FolioNumber.vue
  ppr-ui/src/components/search/SearchBar.vue
  ppr-ui/src/components/search/SearchBarList.vue
  ppr-ui/tests/unit/RegistrationTable.spec.ts
  ppr-ui/tests/unit/SearchBar.spec.ts
Labels: MHR Search

#1128 Add transport permit extra data validation.
  mhr_api/src/mhr_api/config.py
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/resources/utils.py
  mhr_api/src/mhr_api/resources/v1/permits.py
  mhr_api/src/mhr_api/services/ltsa.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/tests/postman/mhr-api-unit.postman_collection.json
  mhr_api/tests/unit/api/test_permits.py
  mhr_api/tests/unit/models/db2/test_manuhome.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/services/test_ltsa.py
  mhr_api/tests/unit/utils/test_permit_validator.py
Labels: MHR API

#1131 Fix Submitting Party payload
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrTransferIF.ts
  ppr-ui/src/interfaces/ppr-api-interfaces/party-interface.ts
  ppr-ui/src/store/actions/mhr-transfer-actions-model.ts
  ppr-ui/src/store/getters/mhr-transfer-state-getters.ts
  ppr-ui/src/store/mutations/mhr-transfer-mutations-model.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
Labels: MHR Ownership Transfer

#1130 API minor enhancements.
  mhr_api/report-templates/template-parts/registration/location.html
  mhr_api/report-templates/template-parts/search-result/location.html
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/utils/registration_validator.py
Labels: MHR API

#1133 Par api fix reg report header
  ppr-api/report-templates/static/v2/header_registration.html
  ppr-api/src/ppr_api/version.py
Labels: PPR API

#1134 MHR API owner group and owner updates
  mhr_api/report-templates/template-parts/registration/owners.html
  mhr_api/report-templates/template-parts/search-result/owners.html
  mhr_api/src/mhr_api/models/db2/document.py
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/owner.py
  mhr_api/src/mhr_api/models/db2/owngroup.py
  mhr_api/src/mhr_api/models/mhr_owner_group.py
  mhr_api/src/mhr_api/models/mhr_party.py
  mhr_api/src/mhr_api/models/type_tables.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/models/db2/test_owner.py
  mhr_api/tests/unit/models/db2/test_owngroup.py
  mhr_api/tests/unit/models/test_mhr_party.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/models/test_types.py
  mhr_api/tests/unit/utils/test_registration_validator.py
Labels: MHR API

#1136 MHR: Location Types UXA
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/HomeLocationInfo.vue
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeLocationDescription.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
  ppr-ui/src/composables/address/factories/validation-factory.ts
  ppr-ui/src/composables/mhrRegistration/useNewMhrRegistration.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationHomeLocationIF.ts
  ppr-ui/src/store/state/state-model.ts
Labels: MHR Registration

#1138 Location Type Refactor
  ppr-ui/src/composables/mhrRegistration/useNewMhrRegistration.ts
Labels: MHR Registration

#1146 MHR search report unit note updates.
  mhr_api/report-templates/template-parts/search-result/notes.html
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/mhomnote.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/search_result.py
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/src/mhr_api/resources/v1/search_results.py
  mhr_api/tests/unit/models/db2/test_manuhome.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/reports/data/search-detail-notes-example.json
  mhr_api/tests/unit/reports/test_report_search_v2.py
Labels: MHR API

#1144 14329 fix mhr table filter bugs
  ppr-ui/src/components/common/DatePicker.vue
  ppr-ui/src/components/tables/RegistrationTable.vue
  ppr-ui/src/enums/registrationTypes.ts
  ppr-ui/src/utils/mhr-api-helper.ts
Labels: MHR Registration

#1147 MHR Fractional Text + UX Defaults
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeLocationDescription.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/FractionalOwnership.vue
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
  ppr-ui/src/composables/useInputRules.ts
Labels: MHR Registration, MHR Ownership Transfer

#1140 Fix PID Validation
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/PidNumber.vue
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeLocationType.vue
Labels: MHR Registration

#1149 MHR API initial transfer due to death changes.
  mhr_api/requirements.txt
  mhr_api/requirements/bcregistry-libraries.txt
  mhr_api/src/mhr_api/models/db2/owner.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_party.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/type_tables.py
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/postman/mhr-api-unit.postman_collection.json
  mhr_api/tests/unit/api/test_transfers.py
  mhr_api/tests/unit/models/db2/test_owner.py
  mhr_api/tests/unit/models/test_mhr_party.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/models/test_types.py
  mhr_api/tests/unit/utils/test_registration_validator.py
  ppr-api/requirements.txt
  ppr-api/requirements/bcregistry-libraries.txt
  ppr-api/src/ppr_api/version.py
Labels: MHR API

#1150 Tooltip for converted registrations
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/tables/common/TableRow.vue
Labels: MHR Registration

#1152 Group Fraction Text Fix
  ppr-ui/src/components/mhrRegistration/HomeOwners/FractionalOwnership.vue
Labels: MHR Registration, MHR Ownership Transfer

#1151 Add search report messages.
  mhr_api/report-templates/template-parts/search-result/notes.html
  mhr_api/report-templates/template-parts/v2/search-result/registration.html
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/search_result.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/tests/unit/reports/data/search-detail-notes-example.json
Labels: MHR API

#1156 Search results return activeCount, exemptCount, historicalCount for o…
  mhr_api/src/mhr_api/models/db2/search_utils.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/search_request.py
  mhr_api/src/mhr_api/models/search_result.py
  mhr_api/src/mhr_api/resources/v1/search_results.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/models/db2/test_db2_search_request.py
  mhr_api/tests/unit/models/test_search_request.py
  mhr_api/tests/unit/models/test_search_result.py
Labels: MHR API, MHR Search

#1158 Fix PPR Search header title
  ppr-ui/src/views/Dashboard.vue
  ppr-ui/tests/unit/Dashboard.spec.ts
Labels: Bugfix, MHR Search

#1157 Search results return activeCount for serial searches.
  mhr_api/report-templates/template-parts/registration/owners.html
  mhr_api/report-templates/template-parts/search-result/owners.html
  mhr_api/src/mhr_api/models/db2/search_utils.py
  mhr_api/src/mhr_api/models/search_request.py
  mhr_api/tests/unit/models/test_search_request.py
Labels: MHR API, MHR Search

#1155 Fix Dashboard Titles via Products getter (for non-staff roles)
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/App.vue
  ppr-ui/src/interfaces/account-interface.ts
  ppr-ui/src/interfaces/index.ts
  ppr-ui/src/interfaces/state-interface.ts
  ppr-ui/src/interfaces/store-interfaces/account-model-interface.ts
  ppr-ui/src/interfaces/store-interfaces/index.ts
  ppr-ui/src/store/getters/state-getters.ts
Labels: Bugfix, MHR Search

#1159 API username query updates, MHR exclude legacy draft owner groups.
  mhr_api/src/database/patch/15157-mhr-db2-taxn.sql
  mhr_api/src/mhr_api/models/db2/owngroup.py
  mhr_api/src/mhr_api/models/db2/search_utils.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_draft.py
  mhr_api/src/mhr_api/models/search_utils.py
  mhr_api/src/mhr_api/version.py
  ppr-api/src/database/postgres_views/account_registration_vw.sql
  ppr-api/src/ppr_api/models/search_utils.py
  ppr-api/src/ppr_api/models/utils.py
  ppr-api/src/ppr_api/version.py
Labels: MHR API, PPR API

#1161 Search Options Accessibility
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/App.vue
  ppr-ui/src/components/search/SearchBar.vue
  ppr-ui/src/components/search/SearchBarList.vue
  ppr-ui/src/enums/errorCategories.ts
  ppr-ui/src/resources/dialogOptions/errorDialogs.ts
  ppr-ui/src/store/getters/state-getters.ts
  ppr-ui/src/views/Dashboard.vue
  ppr-ui/tests/unit/SearchBar.spec.ts
  ppr-ui/tests/unit/SearchBarList.spec.ts
Labels: MHR Search

#1163 Latest MHR search report UX changes.
  mhr_api/report-templates/searchResultV2.html
  mhr_api/report-templates/template-parts/v2/search-result/selected.html
  mhr_api/report-templates/template-parts/v2/style.html
  mhr_api/src/mhr_api/reports/v2/report.py
Labels: MHR API, MHR Search
