Repository bcgov/ppr, pull requests merged in 2023-02, with the labels that each got.

#1168 Add new owner group tenancy type NA
  mhr_api/report-templates/template-parts/registration/owners.html
  mhr_api/report-templates/template-parts/search-result/owners.html
  mhr_api/requirements.txt
  mhr_api/requirements/bcregistry-libraries.txt
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/owngroup.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/type_tables.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/api/test_exemptions.py
  mhr_api/tests/unit/api/test_permits.py
  mhr_api/tests/unit/api/test_transfers.py
  mhr_api/tests/unit/models/db2/test_manuhome.py
  mhr_api/tests/unit/models/db2/test_owngroup.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/models/test_types.py
  mhr_api/tests/unit/utils/test_permit_validator.py
  mhr_api/tests/unit/utils/test_registration_validator.py
Labels: MHR API

#1170 MHR,PPR staff payment set account id.
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/resources/utils.py
  mhr_api/src/mhr_api/resources/v1/search_results.py
  mhr_api/src/mhr_api/services/payment/client/__init__.py
  mhr_api/src/mhr_api/services/payment/payment.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/tests/unit/api/test_search_results.py
  mhr_api/tests/unit/services/test_payment.py
  mhr_api/tests/unit/utils/test_registration_validator.py
  ppr-api/src/ppr_api/resources/searches.py
  ppr-api/src/ppr_api/resources/utils.py
  ppr-api/src/ppr_api/services/payment/client/__init__.py
  ppr-api/src/ppr_api/services/payment/payment.py
  ppr-api/src/ppr_api/version.py
  ppr-api/tests/unit/api/test_search_results.py
  ppr-api/tests/unit/api/test_searches.py
  ppr-api/tests/unit/services/test_payment.py
Labels: MHR API, PPR API

#1160 Consolidated Search Results for Serial Num
  ppr-ui/src/components/tables/mhr/SearchedResults.vue
  ppr-ui/src/enums/searchTypes.ts
  ppr-ui/src/resources/tableHeaders.ts
  ppr-ui/src/views/mhrSearch/ConfirmMHRSearch.vue
  ppr-ui/src/views/mhrSearch/MHRSearch.vue
  ppr-ui/tests/unit/SearchedResultsMHR.spec.ts
  ppr-ui/tests/unit/test-data/mock-search-results.ts
Labels: MHR Search

#1175 UXA updates for MHR Search Selection & Review screens
  ppr-ui/src/components/tables/mhr/SearchedResults.vue
  ppr-ui/tests/unit/SearchedResultsMHR.spec.ts
Labels: MHR Search

#1178 Setup to switch mail reports to new report api.
  ppr-api/report-templates/coverV2.html
  ppr-api/report-templates/static/v2/header_cover.html
  ppr-api/report-templates/template-parts/v2/styleMail.html
  ppr-api/src/database/patch/15223-ppr-mail-reports.sql
  ppr-api/src/ppr_api/callback/document_storage/storage_service.py
  ppr-api/src/ppr_api/config.py
  ppr-api/src/ppr_api/models/__init__.py
  ppr-api/src/ppr_api/models/mail_report.py
  ppr-api/src/ppr_api/models/utils.py
  ppr-api/src/ppr_api/reports/v2/report_utils.py
  ppr-api/src/ppr_api/resources/__init__.py
  ppr-api/src/ppr_api/resources/callbacks.py
  ppr-api/src/ppr_api/resources/utils.py
  ppr-api/src/ppr_api/version.py
  ppr-api/test_data/postgres_data_files/test_verification_report.sql
  ppr-api/test_data/postgres_test_reset.sql
  ppr-api/tests/unit/api/test_callback.py
  ppr-api/tests/unit/models/test_mail_report.py
  ppr-api/tests/unit/models/test_registration_utils.py
  ppr-api/tests/unit/models/test_utils.py
Labels: PPR API

#1179 UXA for MHR Search - Registration # Fix
  ppr-ui/src/components/tables/mhr/SearchedResults.vue
Labels: MHR Search

#1182 Hotfix for PPR Debtor DOB
  ppr-ui/src/composables/useParty.ts
Labels: Bugfix

#1183 Fix for debtor DOB
  ppr-ui/src/components/parties/composables/useDebtor.ts
  ppr-ui/src/composables/useParty.ts
Labels: Bugfix

#1185 Fix local date strings across components + DatePicker(s)
  ppr-ui/src/components/common/CourtOrder.vue
  ppr-ui/src/components/common/DatePicker.vue
  ppr-ui/src/components/mhrRegistration/YourHome/HomeCertification.vue
  ppr-ui/src/components/parties/composables/useDebtor.ts
  ppr-ui/src/utils/date-helper.ts
Labels: Bugfix

#1187 Fix Dates for DatePicker(s)
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/YourHome/HomeCertification.vue
  ppr-ui/src/components/registration/length-trust/RegistrationRepairersLien.vue
Labels: Bugfix

#1191 Group Number UXA
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/FractionalOwnership.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnerGroups.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
Labels: MHR Registration, MHR Ownership Transfer

#1190 Submitting Party for Staff Transfers
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/SubmittingParty/MhrSubmittingParty.vue
  ppr-ui/src/components/mhrTransfers/ConfirmCompletion.vue
  ppr-ui/src/components/parties/party/PartyAutocomplete.vue
  ppr-ui/src/components/parties/party/PartySearch.vue
  ppr-ui/src/interfaces/content-interface.ts
  ppr-ui/src/interfaces/index.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationIF.ts
  ppr-ui/src/store/actions/actions-model.ts
  ppr-ui/src/store/actions/mhr-transfer-actions-model.ts
  ppr-ui/src/store/getters/mhr-transfer-state-getters.ts
  ppr-ui/src/store/getters/state-getters.ts
  ppr-ui/src/store/mutations/mhr-transfer-mutations-model.ts
  ppr-ui/src/store/mutations/mutations-model.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/newMhrRegistration/SubmittingParty.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
Labels: MHR Registration, MHR Ownership Transfer

#1194 Business Search for PPR Debtor & Secured Party
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrTransfers/index.ts
  ppr-ui/src/components/parties/debtor/EditDebtor.vue
  ppr-ui/src/components/parties/party/EditParty.vue
  ppr-ui/src/components/search/BusinessSearchAutocomplete.vue
  ppr-ui/src/components/search/index.ts
  ppr-ui/src/composables/useSearch.ts
Labels: PPR Registration

#1196 Latest mhr api transfer due to death updates.
  mhr_api/requirements.txt
  mhr_api/requirements/bcregistry-libraries.txt
  mhr_api/src/mhr_api/models/db2/owner.py
  mhr_api/src/mhr_api/models/db2/owngroup.py
  mhr_api/src/mhr_api/models/mhr_party.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/tests/unit/api/test_transfers.py
  mhr_api/tests/unit/models/db2/test_db2_utils.py
  mhr_api/tests/unit/models/db2/test_owner.py
  mhr_api/tests/unit/models/db2/test_owngroup.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/utils/test_registration_validator.py
  mhr_api/tests/unit/utils/test_transfer_validator.py
Labels: MHR API

#1195 Update text in MHR Combo Search report
  mhr_api/report-templates/template-parts/search-result/pprRegistrations.html
  mhr_api/src/mhr_api/version.py
Labels: MHR API
