Repository bcgov/ppr, pull requests merged in 2023-09, with the labels that each got.

#1519 MHR API PROD bug fix for DB2 dashboard query.
  mhr_api/src/mhr_api/models/db2/queries.py
Labels: MHR API, Bugfix

#1522 Frozen State & Document Types + Tax Notice UXA
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/assets/svgs/lockicon_white.svg
  ppr-ui/src/components/common/InfoChip.vue
  ppr-ui/src/components/tables/common/TableRow.vue
  ppr-ui/src/components/unitNotes/EffectiveDateTime.vue
  ppr-ui/src/components/unitNotes/UnitNoteReview.vue
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/enums/statusTypes.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
  ppr-ui/tests/unit/TableRow.spec.ts
Labels: MHR Unit Notes

#1525 MHR API fix legacy serial number compressed key generation.
  mhr_api/src/mhr_api/models/db2/cmpserno.py
  mhr_api/src/mhr_api/models/db2/descript.py
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/version.py
Labels: MHR API, Bugfix

#1527 Notice of Redemption - Landing, Review, Panels
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/tables/common/TableRow.vue
  ppr-ui/src/components/unitNotes/UnitNoteAdd.vue
  ppr-ui/src/components/unitNotes/UnitNoteContentInfo.vue
  ppr-ui/src/components/unitNotes/UnitNoteHeaderInfo.vue
  ppr-ui/src/components/unitNotes/UnitNotePanel.vue
  ppr-ui/src/components/unitNotes/UnitNotePanels.vue
  ppr-ui/src/components/unitNotes/UnitNoteReview.vue
  ppr-ui/src/composables/mhrInformation/useMhrUnitNote.ts
  ppr-ui/src/composables/mhrInformation/useMhrUnitNotePanel.ts
  ppr-ui/src/interfaces/unit-note-interfaces/unit-note-registration-interface.ts
  ppr-ui/src/resources/unitNotes.ts
  ppr-ui/src/store/store.ts
  ppr-ui/src/utils/mhr-api-helper.ts
  ppr-ui/src/views/mhrInformation/MhrUnitNote.vue
  ppr-ui/tests/unit/MhrUnitNote.spec.ts
  ppr-ui/tests/unit/UnitNotePanels.spec.ts
  ppr-ui/tests/unit/test-data/mock-unit-notes.ts
Labels: MHR Unit Notes

#1528 Additional Tests + Small Style Fix
  ppr-ui/src/components/unitNotes/UnitNoteAdd.vue
  ppr-ui/tests/unit/MhrUnitNote.spec.ts
Labels: MHR Unit Notes

#1529 change the behavior of the dropdown menu
  ppr-ui/src/components/registration/RegistrationBarTypeAheadList.vue
Labels: MHR Search

#1531 Fix BaseAddress validation + Fix ContactInfo styling
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/ContactInformation.vue
  ppr-ui/src/composables/address/BaseAddress.vue
  ppr-ui/src/composables/address/factories/validation-factory.ts
  ppr-ui/tests/unit/ContactInformation.spec.ts
  ppr-ui/tests/unit/DebtorValidation.spec.ts
  ppr-ui/tests/unit/EditDebtor.spec.ts
  ppr-ui/tests/unit/EditSecuredParty.spec.ts
  ppr-ui/tests/unit/SecuredPartyValidation.spec.ts
Labels: Bugfix, MHR Unit Notes

#1532 Misc Bugs - MhReg / Mhr Info / Qs Validations
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/YourHomeReview.vue
  ppr-ui/src/components/userAccess/ServiceAgreement.vue
  ppr-ui/src/store/store.ts
  ppr-ui/src/views/userAccess/QsInformation.vue
  ppr-ui/tests/unit/Dashboard.spec.ts
Labels: MHR Registration, Bugfix

#1534 alignment for 'start a new ppr' and 'ppr #'
  ppr-ui/src/components/registration/RegistrationBarTypeAheadList.vue
Labels: MHR Search

#1533 MHR API migration setup step 1.
  mhr_api/data-migration/README.md
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/mhr_note.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/utils/admin_validator.py
  mhr_api/src/mhr_api/utils/note_validator.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/utils/validator_utils.py
  mhr_api/src/mhr_api/version.py
  mhr_api/test_data/db2_data_files/test0001.sql
  mhr_api/test_data/db2_data_files/test0002.sql
  mhr_api/test_data/db2_data_files/test0003.sql
  mhr_api/test_data/db2_data_files/test0004.sql
  mhr_api/test_data/db2_data_files/test0005.sql
  mhr_api/test_data/postgres_data_files/test0001.sql
  mhr_api/test_data/postgres_data_files/test0003.sql
  mhr_api/test_data/postgres_data_files/test0004.sql
  mhr_api/test_data/postgres_data_files/test0005.sql
  mhr_api/test_data/postgres_data_files/test0006.sql
  mhr_api/test_data/postgres_data_files/test0007.sql
  mhr_api/tests/unit/api/test_admin_registrations.py
  mhr_api/tests/unit/api/test_exemptions.py
  mhr_api/tests/unit/api/test_ltsa_sync.py
  mhr_api/tests/unit/api/test_notes.py
  mhr_api/tests/unit/api/test_permits.py
  mhr_api/tests/unit/api/test_transfers.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/utils/test_admin_validator.py
  mhr_api/tests/unit/utils/test_note_validator.py
  mhr_api/tests/unit/utils/test_permit_validator.py
  mhr_api/tests/unit/utils/test_registration_validator.py
  mhr_api/tests/unit/utils/test_transfer_data.py
  mhr_api/tests/unit/utils/test_transfer_validator.py
Labels: MHR API

#1537 Fix Remarks payload for Unit Note submission
  ppr-ui/src/composables/mhrInformation/useMhrUnitNote.ts
Labels: Bugfix, MHR Unit Notes

#1540 Make Remarks required for Public Note only
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/Remarks.vue
  ppr-ui/src/components/unitNotes/UnitNoteAdd.vue
  ppr-ui/tests/unit/MhrUnitNote.spec.ts
Labels: MHR Unit Notes

#1541 Update Transfer Type selector based on Roles
  ppr-ui/src/components/mhrTransfers/TransferType.vue
  ppr-ui/src/resources/transferTypes.ts
Labels: MHR Ownership Transfer, Bugfix

#1538 Updates on Manufacturer Registration Pages
  ppr-ui/src/components/common/AccountInfo.vue
  ppr-ui/src/resources/attnRefConfigs.ts
  ppr-ui/src/resources/mhr-registration/your-home-text.ts
  ppr-ui/src/views/newMhrRegistration/MhrReviewConfirm.vue
  ppr-ui/src/views/newMhrRegistration/YourHome.vue
  ppr-ui/tests/unit/YourHome.spec.ts
Labels: MHR Manufacturer

#1543 Data migration registration summary queries, filtering, sorting.
  mhr_api/src/database/postgres_views/mhr_account_reg_vw.sql
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/queries.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/test_data/db2_data_files/test0005.sql
  mhr_api/test_data/postgres_data_files/test0007.sql
  mhr_api/tests/unit/api/test_other_registrations.py
  mhr_api/tests/unit/api/test_registrations.py
  mhr_api/tests/unit/models/test_mhr_registration.py
Labels: MHR API

#1544 Minor updates to existing registration types.
  mhr_api/report-templates/template-parts/search-result/notes.html
  mhr_api/report-templates/unitNoteV2.html
  mhr_api/src/mhr_api/models/mhr_note.py
  mhr_api/src/mhr_api/models/queries.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/utils/admin_validator.py
  mhr_api/src/mhr_api/utils/note_validator.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/version.py
  mhr_api/test_data/db2_data_files/test0005.sql
  mhr_api/test_data/postgres_data_files/test0007.sql
  mhr_api/tests/unit/api/test_exemptions.py
  mhr_api/tests/unit/api/test_permits.py
  mhr_api/tests/unit/api/test_transfers.py
  mhr_api/tests/unit/models/test_registration_utils.py
  mhr_api/tests/unit/utils/test_permit_validator.py
  mhr_api/tests/unit/utils/test_registration_validator.py
  mhr_api/tests/unit/utils/test_transfer_validator.py
Labels: MHR API

#1545 Effective Date changes for Unit Notes
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/unitNotes/EffectiveDate.vue
  ppr-ui/src/components/unitNotes/UnitNoteContentInfo.vue
  ppr-ui/src/components/unitNotes/UnitNoteReview.vue
  ppr-ui/src/components/unitNotes/index.ts
  ppr-ui/src/composables/mhrInformation/useMhrUnitNote.ts
  ppr-ui/src/enums/effectiveDateTypes.ts
  ppr-ui/src/utils/date-helper.ts
  ppr-ui/src/views/mhrInformation/MhrUnitNote.vue
  ppr-ui/tests/unit/EffectiveDateTime.spec.ts
  ppr-ui/tests/unit/MhrUnitNote.spec.ts
  ppr-ui/tests/unit/UnitNotePanels.spec.ts
Labels: MHR Unit Notes

#1549 Code cleanup for Unit Tests
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/CertifyInformation.vue
  ppr-ui/src/components/unitNotes/UnitNoteReviewDetailsTable.vue
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/composables/useParty.ts
  ppr-ui/src/composables/useRegisteringParty.ts
  ppr-ui/src/utils/auth-helper.ts
  ppr-ui/src/views/newMhrRegistration/MhrReviewConfirm.vue
  ppr-ui/tests/unit/AddCollateral.spec.ts
  ppr-ui/tests/unit/AmendRegistration.spec.ts
  ppr-ui/tests/unit/Attention.spec.ts
  ppr-ui/tests/unit/ButtonsStacked.spec.ts
  ppr-ui/tests/unit/ConfirmAmendment.spec.ts
  ppr-ui/tests/unit/ConfirmDischarge.spec.ts
  ppr-ui/tests/unit/ConfirmMHRSearch.spec.ts
  ppr-ui/tests/unit/ConfirmRenewal.spec.ts
  ppr-ui/tests/unit/CourtOrder.spec.ts
  ppr-ui/tests/unit/Dashboard.spec.ts
  ppr-ui/tests/unit/DischargeRegistration.spec.ts
  ppr-ui/tests/unit/GeneralCollateral.spec.ts
  ppr-ui/tests/unit/LengthTrust.spec.ts
  ppr-ui/tests/unit/MHRSearch.spec.ts
  ppr-ui/tests/unit/MhrInformation.spec.ts
  ppr-ui/tests/unit/MhrRegistration.spec.ts
  ppr-ui/tests/unit/MhrReviewConfirm.spec.ts
  ppr-ui/tests/unit/MhrUnitNote.spec.ts
  ppr-ui/tests/unit/Parties.spec.ts
  ppr-ui/tests/unit/PartySearch.spec.ts
  ppr-ui/tests/unit/RegisteringParty.spec.ts
  ppr-ui/tests/unit/RegisteringPartyChange.spec.ts
  ppr-ui/tests/unit/RegistrationBar.spec.ts
  ppr-ui/tests/unit/RegistrationDialog.spec.ts
  ppr-ui/tests/unit/RenewRegistration.spec.ts
  ppr-ui/tests/unit/ReviewConfirm.spec.ts
  ppr-ui/tests/unit/SecuredParties.spec.ts
  ppr-ui/tests/unit/Signout.spec.ts
  ppr-ui/tests/unit/Stepper.spec.ts
  ppr-ui/tests/unit/UnitNotePanels.spec.ts
  ppr-ui/tests/unit/YourHome.spec.ts
Labels: Tech Debt

#1547 MHR API new transfer sale or gift doc types.
  mhr_api/report-templates/registrationCoverV2.html
  mhr_api/requirements.txt
  mhr_api/requirements/bcregistry-libraries.txt
  mhr_api/src/mhr_api/models/db2/queries.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/type_tables.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/reports/v2/report_utils.py
  mhr_api/src/mhr_api/resources/v1/transfers.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/tests/unit/utils/test_transfer_validator.py
Labels: MHR API, MHR Ownership Transfer

#1550 MHR API account reg summary filter MHR fix.
  mhr_api/src/mhr_api/models/db2/queries.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/tests/unit/models/db2/test_db2_utils.py
Labels: MHR API, Bugfix

#1553 Data validation fix for qualified supplier TRAND registrations.
  mhr_api/src/mhr_api/models/db2/document.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/tests/unit/utils/test_transfer_validator.py
Labels: MHR API, Bugfix

#1551 Fix Doc Id validation for Transfers
  ppr-ui/src/components/mhrTransfers/TransferType.vue
  ppr-ui/src/composables/mhrInformation/useMhrInfoValidation.ts
  ppr-ui/src/store/store.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
Labels: MHR Ownership Transfer

#1554 Fix Frozen Transfers flow and reset Doc Id
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
Labels: MHR Ownership Transfer, Bugfix, UXA

#1556 Exemption report UXA updates.
  mhr_api/report-templates/exemptionV2.html
  mhr_api/report-templates/template-parts/registration/location.html
  mhr_api/report-templates/template-parts/search-result/location.html
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/version.py
Labels: MHR API

#1557 Fix validation for Death Certificate
  ppr-ui/src/composables/mhrInformation/useMhrInfoValidation.ts
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
Labels: MHR Ownership Transfer, Bugfix

#1555 Remove Expiry Time from Unit Note Panels
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/unitNotes/UnitNoteContentInfo.vue
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/tests/unit/UnitNotePanels.spec.ts
Labels: MHR Unit Notes
