Repository bcgov/ppr, pull requests merged in 2023-12, with the labels that each got.

#1639 MHR API create noc location output.
  mhr_api/report-templates/adminRegistrationV2.html
  mhr_api/report-templates/registrationCoverV2.html
  mhr_api/report-templates/template-parts/registration/location.html
  mhr_api/src/mhr_api/models/mhr_registration_report.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/reports/v2/report_utils.py
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/resources/v1/admin_registrations.py
  mhr_api/src/mhr_api/resources/v1/permits.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/utils/test_admin_validator.py
  mhr_api/tests/unit/utils/test_permit_validator.py
Labels: MHR API

#1643 Fix Lien Alert message for QS
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
Labels: MHR Ownership Transfer, MHR Exemptions

#1651 Fix for search report with 1000s of collateral not generating.
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/resources/v1/registrations.py
  mhr_api/tests/unit/api/test_registrations.py
  ppr-api/report-templates/template-parts/search-result/vehicleCollateral.html
  ppr-api/src/ppr_api/version.py
Labels: PPR API

#1657 Fix general UI issues
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/App.vue
  ppr-ui/src/assets/styles/base.scss
  ppr-ui/src/assets/styles/overrides.scss
  ppr-ui/src/components/collateral/vehicleCollateral/EditCollateral.vue
  ppr-ui/src/components/common/CautionBox.vue
  ppr-ui/src/components/common/ContactInformation.vue
  ppr-ui/src/components/common/CourtOrder.vue
  ppr-ui/src/components/common/DocumentId.vue
  ppr-ui/src/components/common/FolioNumber.vue
  ppr-ui/src/components/common/FolioNumberSummary.vue
  ppr-ui/src/components/common/FormField.vue
  ppr-ui/src/components/common/HomeLocationInfo.vue
  ppr-ui/src/components/common/InfoChip.vue
  ppr-ui/src/components/common/InputFieldDatePicker.vue
  ppr-ui/src/components/common/OrgNameLookup.vue
  ppr-ui/src/components/common/PartyForm.vue
  ppr-ui/src/components/common/PidNumber.vue
  ppr-ui/src/components/common/RegistrationsWrapper.vue
  ppr-ui/src/components/common/Remarks.vue
  ppr-ui/src/components/common/StaffPayment.vue
  ppr-ui/src/components/common/Stepper.vue
  ppr-ui/src/components/common/WysiwygEditor.vue
  ppr-ui/src/components/dialogs/RegistrationOtherDialog.vue
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeCivicAddress.vue
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeLocationDescription.vue
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeLocationType.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/FractionalOwnership.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnerGroups.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
  ppr-ui/src/components/mhrRegistration/YourHome/AddEditHomeSections.vue
  ppr-ui/src/components/mhrRegistration/YourHome/HomeCertification.vue
  ppr-ui/src/components/mhrRegistration/YourHome/ManufacturedYearInput.vue
  ppr-ui/src/components/mhrRegistration/YourHome/ManufacturedYearSelect.vue
  ppr-ui/src/components/mhrRegistration/YourHome/ManufacturerMakeModel.vue
  ppr-ui/src/components/mhrRegistration/YourHome/OtherInformation.vue
  ppr-ui/src/components/mhrRegistration/YourHome/RebuiltStatus.vue
  ppr-ui/src/components/mhrTransfers/DeathCertificate.vue
  ppr-ui/src/components/mhrTransfers/SupportingDocuments.vue
  ppr-ui/src/components/mhrTransfers/TransferDetails.vue
  ppr-ui/src/components/mhrTransfers/TransferType.vue
  ppr-ui/src/components/parties/debtor/EditDebtor.vue
  ppr-ui/src/components/parties/party/EditParty.vue
  ppr-ui/src/components/parties/party/PartySearch.vue
  ppr-ui/src/components/parties/party/SecuredParties.vue
  ppr-ui/src/components/registration/AmendmentDescription.vue
  ppr-ui/src/components/registration/RegistrationBarTypeAheadList.vue
  ppr-ui/src/components/registration/length-trust/RegistrationLengthTrust.vue
  ppr-ui/src/components/registration/length-trust/RegistrationRepairersLien.vue
  ppr-ui/src/components/search/SearchBar.vue
  ppr-ui/src/components/search/SearchBarList.vue
  ppr-ui/src/components/tables/RegistrationTable.vue
  ppr-ui/src/components/userAccess/ReviewConfirm/Authorization.vue
  ppr-ui/src/composables/address/BaseAddress.vue
  ppr-ui/src/views/Dashboard.vue
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/newMhrRegistration/SubmittingParty.vue
Labels: UXA, Vue3 Migration

#1660 API verify data migration API responses - step 1.
  mhr_api/data-migration/1-mhr-staging-trim.sql
  mhr_api/data-migration/5-mhr-staging-name.sql
  mhr_api/report-templates/adminRegistrationV2.html
  mhr_api/src/database/patch/19027-ppr-reg-num-sp.sql
  mhr_api/src/database/postgres_views/mhr_account_reg_vw.sql
  mhr_api/src/mhr_api/models/mhr_description.py
  mhr_api/src/mhr_api/models/mhr_location.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/queries.py
  mhr_api/src/mhr_api/models/registration_json_utils.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/models/utils.py
Labels: MHR API

#1663 MHR api cancel transport permit changes.
  mhr_api/report-templates/adminRegistrationV2.html
  mhr_api/report-templates/registrationCoverV2.html
  mhr_api/report-templates/template-parts/registration/location.html
  mhr_api/requirements.txt
  mhr_api/requirements/bcregistry-libraries.txt
  mhr_api/src/mhr_api/models/batch_utils.py
  mhr_api/src/mhr_api/models/db2/document.py
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/registration_utils.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/registration_json_utils.py
  mhr_api/src/mhr_api/models/type_tables.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/resources/v1/permits.py
  mhr_api/src/mhr_api/services/payment/__init__.py
  mhr_api/src/mhr_api/services/payment/client/__init__.py
  mhr_api/src/mhr_api/utils/admin_validator.py
  mhr_api/src/mhr_api/utils/validator_utils.py
  mhr_api/src/mhr_api/utils/validator_utils_legacy.py
  mhr_api/tests/postman/mhr-api-unit.postman_collection.json
  mhr_api/tests/unit/api/test_admin_registrations.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/models/test_types.py
  mhr_api/tests/unit/utils/test_admin_validator.py
Labels: MHR API

#1669 MHR api amend transport permit changes.
  mhr_api/report-templates/registrationCoverV2.html
  mhr_api/report-templates/template-parts/registration/location.html
  mhr_api/report-templates/transportPermitV2.html
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/registration_utils.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/registration_json_utils.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/resources/v1/permits.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/utils/validator_utils.py
  mhr_api/src/mhr_api/utils/validator_utils_legacy.py
  mhr_api/tests/postman/mhr-api-unit.postman_collection.json
  mhr_api/tests/unit/api/test_permits.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/utils/test_permit_validator.py
Labels: MHR API

#1670 Model changes to save BCA batch registration data.
  mhr_api/src/mhr_api/models/batch_utils.py
  mhr_api/src/mhr_api/models/mhr_registration_report.py
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/resources/v1/admin_registrations.py
  mhr_api/src/mhr_api/resources/v1/exemptions.py
  mhr_api/src/mhr_api/resources/v1/notes.py
  mhr_api/src/mhr_api/resources/v1/permits.py
  mhr_api/src/mhr_api/resources/v1/transfers.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/api/test_admin_registrations.py
  mhr_api/tests/unit/api/test_exemptions.py
  mhr_api/tests/unit/api/test_permits.py
  mhr_api/tests/unit/api/test_registrations.py
  mhr_api/tests/unit/api/test_transfers.py
  mhr_api/tests/unit/models/test_batch_utils.py
  mhr_api/tests/unit/models/test_mhr_registration.py
Labels: MHR API

#1672 New MHR API get batch registrations endpoint.
  mhr_api/report-templates/template-parts/registration/location.html
  mhr_api/src/mhr_api/models/batch_utils.py
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/resources/v1/registrations.py
  mhr_api/tests/postman/mhr-api-unit.postman_collection.json
  mhr_api/tests/unit/api/test_registrations.py
  mhr_api/tests/unit/models/test_batch_utils.py
Labels: MHR API
