Repository bcgov/ppr, pull requests merged in 2023-06, with the labels that each got.

#1366 Amendment address change report label fix.
  ppr-api/src/ppr_api/models/registration.py
Labels: PPR API

#1368 Remove dynamic Additional Name in Owners table
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/tests/unit/MhrTransferHomeOwners.spec.ts
Labels: MHR Ownership Transfer

#1369 Fix Additional Name pre-fill
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
Labels: MHR Ownership Transfer

#1370 Fix Transfers validation for Execs and Admins
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/TableGroupHeader.vue
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/tests/unit/MhrTransferHomeOwners.spec.ts
  ppr-ui/tests/unit/test-data/mock-mhr-registration.ts
Labels: MHR Ownership Transfer

#1372 MHR api new unit note endpoint changes
  mhr_api/report-templates/template-parts/search-result/notes.html
  mhr_api/requirements.txt
  mhr_api/requirements/bcregistry-libraries.txt
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/mhomnote.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_note.py
  mhr_api/src/mhr_api/models/mhr_party.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/type_tables.py
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/resources/utils.py
  mhr_api/src/mhr_api/resources/v1/__init__.py
  mhr_api/src/mhr_api/resources/v1/notes.py
  mhr_api/src/mhr_api/services/payment/__init__.py
  mhr_api/src/mhr_api/services/payment/client/__init__.py
  mhr_api/src/mhr_api/utils/note_validator.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/api/test_notes.py
  mhr_api/tests/unit/models/db2/test_manuhome.py
  mhr_api/tests/unit/models/db2/test_mhomnote.py
  mhr_api/tests/unit/models/test_mhr_note.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/utils/test_note_validator.py
Labels: MHR API, MHR Unit Notes

#1374 Use legacy number series for MHR number generation.
  mhr_api/src/mhr_api/models/db2/queries.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/tests/postman/mhr-api-unit.postman_collection.json
  mhr_api/tests/unit/api/test_registrations.py
  mhr_api/tests/unit/models/db2/test_db2_utils.py
  mhr_api/tests/unit/models/test_mhr_registration.py
Labels: MHR Registration, MHR API

#1376 MHR API get registrations add unit notes
  mhr_api/report-templates/exemptionV2.html
  mhr_api/report-templates/registrationCoverV2.html
  mhr_api/report-templates/registrationV2.html
  mhr_api/report-templates/template-parts/v2/search-result/registration.html
  mhr_api/report-templates/transferV2.html
  mhr_api/report-templates/transportPermitV2.html
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/mhomnote.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_note.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/resources/v1/registrations.py
  mhr_api/tests/unit/models/db2/test_db2_utils.py
  mhr_api/tests/unit/models/db2/test_manuhome.py
  mhr_api/tests/unit/models/db2/test_mhomnote.py
  mhr_api/tests/unit/models/test_mhr_registration.py
Labels: MHR Registration, MHR API

#1378 Conditionally add expireDays and hasCaution to account reg summary.
  mhr_api/src/mhr_api/models/db2/queries.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/models/db2/test_db2_utils.py
  mhr_api/tests/unit/models/test_mhr_registration.py
Labels: MHR API

#1377 Add Unit Note & Fee Summary
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/Breadcrumb.vue
  ppr-ui/src/components/unitNotes/UnitNoteAdd.vue
  ppr-ui/src/components/unitNotes/UnitNotePanels.vue
  ppr-ui/src/components/unitNotes/UnitNoteReview.vue
  ppr-ui/src/components/unitNotes/index.ts
  ppr-ui/src/composables/fees/FeeSummary.vue
  ppr-ui/src/composables/fees/enums/feeSummaryDefaults.ts
  ppr-ui/src/composables/fees/enums/feeSummaryTypes.ts
  ppr-ui/src/composables/fees/factories/useFeeSummary.ts
  ppr-ui/src/composables/fees/resources/feeSummaries.ts
  ppr-ui/src/composables/mhrRegistration/useNewMhrRegistration.ts
  ppr-ui/src/enums/routeNames.ts
  ppr-ui/src/enums/unitNoteDocTypes.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationIF.ts
  ppr-ui/src/interfaces/store-interfaces/state-model-interface.ts
  ppr-ui/src/interfaces/unit-note-interfaces/index.ts
  ppr-ui/src/interfaces/unit-note-interfaces/unit-note-registration-interface.ts
  ppr-ui/src/interfaces/unit-note-interfaces/unit-note-type-interface.ts
  ppr-ui/src/resources/breadcrumbs.ts
  ppr-ui/src/resources/buttonFooterConfig.ts
  ppr-ui/src/resources/index.ts
  ppr-ui/src/resources/unitNoteTypes.ts
  ppr-ui/src/resources/unitNotes.ts
  ppr-ui/src/router/routes.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/store/store.ts
  ppr-ui/src/views/mhrInformation/MhrUnitNote.vue
  ppr-ui/src/views/mhrInformation/index.ts
  ppr-ui/tests/unit/MhrUnitNote.spec.ts
  ppr-ui/tests/unit/UnitNotePanels.spec.ts
Labels: MHR Unit Notes

#1373 Manufacturer Registration Framework
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/Stepper.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeOwnersReview.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/SubmittingPartyReview.vue
  ppr-ui/src/components/mhrRegistration/YourHome/HomeCertification.vue
  ppr-ui/src/components/registration/RegistrationBar.vue
  ppr-ui/src/composables/mhrRegistration/useMhrValidations.ts
  ppr-ui/src/composables/mhrRegistration/useNewMhrRegistration.ts
  ppr-ui/src/enums/authRoles.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationIF.ts
  ppr-ui/src/interfaces/steps-interface.ts
  ppr-ui/src/interfaces/store-interfaces/state-interfaces/mhr-validation-state-interface.ts
  ppr-ui/src/interfaces/store-interfaces/state-model-interface.ts
  ppr-ui/src/resources/buttonFooterConfig.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/store/store.ts
  ppr-ui/src/views/newMhrRegistration/MhrRegistration.vue
  ppr-ui/src/views/newMhrRegistration/MhrReviewConfirm.vue
  ppr-ui/tests/unit/Breadcrumb.spec.ts
  ppr-ui/tests/unit/ButtonFooter.spec.ts
  ppr-ui/tests/unit/MhrRegistration.spec.ts
  ppr-ui/tests/unit/Stepper.spec.ts
  ppr-ui/tests/unit/test-data/index.ts
  ppr-ui/tests/unit/test-data/mock-auth-roles.ts
Labels: MHR Registration

#1379 Update Additional Name for Individuals
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/tests/unit/MhrTransferHomeOwners.spec.ts
Labels: MHR Ownership Transfer

#1380 MHR API drafts add sorting and filtering.
  mhr_api/src/mhr_api/models/mhr_draft.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/resources/v1/drafts.py
  mhr_api/tests/unit/api/test_drafts.py
  mhr_api/tests/unit/models/test_mhr_draft.py
Labels: MHR API

#1385 Amendment Staff Check hotfix
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/views/amendment/ConfirmAmendment.vue
Labels: Bugfix

#1386 MHR API unit note report and api changes.
  mhr_api/report-templates/exemptionV2.html
  mhr_api/report-templates/registrationCoverV2.html
  mhr_api/report-templates/template-parts/registration/givingNoticeParty.html
  mhr_api/report-templates/template-parts/search-result/notes.html
  mhr_api/report-templates/unitNoteV2.html
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/mhr_note.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/reports/v2/report_utils.py
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/resources/v1/documents.py
  mhr_api/src/mhr_api/resources/v1/exemptions.py
  mhr_api/src/mhr_api/resources/v1/notes.py
  mhr_api/src/mhr_api/utils/note_validator.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/utils/validator_utils.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/api/test_exemptions.py
  mhr_api/tests/unit/models/db2/test_manuhome.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/utils/test_note_validator.py
  mhr_api/tests/unit/utils/test_permit_validator.py
  mhr_api/tests/unit/utils/test_registration_validator.py
  mhr_api/tests/unit/utils/test_transfer_validator.py
Labels: MHR API, MHR Unit Notes

#1391 Missed update to individual reg summary.
  ppr-api/src/ppr_api/models/utils.py
Labels: PPR API

#1388 RegistrationTable Conversions
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/RegistrationsWrapper.vue
  ppr-ui/src/components/tables/RegistrationTable.vue
  ppr-ui/src/components/tables/common/TableRow.vue
  ppr-ui/src/interfaces/ppr-api-interfaces/registration-interfaces.ts
  ppr-ui/src/utils/mhr-api-helper.ts
  ppr-ui/src/views/amendment/ConfirmAmendment.vue
  ppr-ui/tests/unit/RegistrationTable.spec.ts
  ppr-ui/tests/unit/RegistrationsWrapper.spec.ts
  ppr-ui/tests/unit/test-data/mock-registration-responses.ts
Labels: Vue3 Migration

#1389 Updates describe-your-home step for Manufacturer MHR
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/RegistrationsWrapper.vue
  ppr-ui/src/components/common/SimpleHelpToggle.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/YourHome/HomeCertification.vue
  ppr-ui/src/components/mhrRegistration/YourHome/ManufacturedYearInput.vue
  ppr-ui/src/components/mhrRegistration/YourHome/ManufacturedYearSelect.vue
  ppr-ui/src/components/mhrRegistration/YourHome/ManufacturerMakeModel.vue
  ppr-ui/src/components/mhrRegistration/YourHome/index.ts
  ppr-ui/src/composables/mhrRegistration/useNewMhrRegistration.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrManufacturerInfoIF.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/index.ts
  ppr-ui/src/resources/mhr-registration/index.ts
  ppr-ui/src/resources/mhr-registration/your-home-text.ts
  ppr-ui/src/utils/mhr-api-helper.ts
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
  ppr-ui/src/views/newMhrRegistration/YourHome.vue
  ppr-ui/tests/unit/HomeCertification.spec.ts
  ppr-ui/tests/unit/ManufacturerMakeModel.spec.ts
  ppr-ui/tests/unit/SimpleHelpToggle.spec.ts
  ppr-ui/tests/unit/YourHome.spec.ts
Labels: MHR Registration

#1392 MHR API serial search algorithm update, mh reg description validation.
  mhr_api/report-templates/registrationCoverV2.html
  mhr_api/report-templates/template-parts/search-result/notes.html
  mhr_api/src/database/postgres_views/mhr_search_mhr_number_vw.sql
  mhr_api/src/database/postgres_views/mhr_search_owner_bus_vw.sql
  mhr_api/src/database/postgres_views/mhr_search_owner_ind_vw.sql
  mhr_api/src/database/postgres_views/mhr_search_serial_vw.sql
  mhr_api/src/mhr_api/models/db2/search_utils.py
  mhr_api/src/mhr_api/models/mhr_section.py
  mhr_api/src/mhr_api/models/search_request.py
  mhr_api/src/mhr_api/models/search_utils.py
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/models/db2/test_db2_search_request.py
  mhr_api/tests/unit/models/db2/test_db2_utils.py
  mhr_api/tests/unit/models/test_mhr_party.py
  mhr_api/tests/unit/models/test_search_request.py
  mhr_api/tests/unit/utils/test_registration_validator.py
Labels: MHR API

#1390 Refactor HomeOwnersTable
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/assets/styles/layout.scss
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeOwnersReview.vue
  ppr-ui/src/components/mhrTransfers/SupportingDocuments.vue
  ppr-ui/src/components/tombstone/TombstoneDefault.vue
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
  ppr-ui/src/resources/tableHeaders.ts
  ppr-ui/src/store/store.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
  ppr-ui/tests/unit/MhrRegistrationHomeOwners.spec.ts
  ppr-ui/tests/unit/MhrTransferHomeOwners.spec.ts
Labels: MHR Registration, MHR Ownership Transfer, Vue3 Migration

#1394 Setup for email of manufacturer registrations.
  mhr_api/src/mhr_api/config.py
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/resources/v1/registrations.py
  mhr_api/src/mhr_api/services/document_storage/storage_service.py
  mhr_api/src/mhr_api/services/notify/__init__.py
  mhr_api/tests/unit/api/test_registrations.py
  mhr_api/tests/unit/services/test_storage_service.py
Labels: MHR API

#1393 Adds Attention and FolioOrRef to Manufacturer Registration
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/FormField.vue
  ppr-ui/src/components/common/index.ts
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeCivicAddress.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/Attention.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/FolioOrReferenceNumber.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/SubmittingPartyReview.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/index.ts
  ppr-ui/src/components/mhrRegistration/SubmittingParty/MhrSubmittingParty.vue
  ppr-ui/src/components/mhrRegistration/YourHome/AddEditHomeSections.vue
  ppr-ui/src/components/mhrRegistration/YourHome/HomeCertification.vue
  ppr-ui/src/components/mhrRegistration/YourHome/RebuiltStatus.vue
  ppr-ui/src/components/mhrTransfers/TransferDetails.vue
  ppr-ui/src/components/mhrTransfers/TransferType.vue
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/composables/mhrRegistration/enums/MhrValidFlags.ts
  ppr-ui/src/composables/mhrRegistration/useNewMhrRegistration.ts
  ppr-ui/src/interfaces/store-interfaces/state-interfaces/mhr-validation-state-interface.ts
  ppr-ui/src/main.ts
  ppr-ui/src/resources/attnRefConfigs.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/store/store.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/newMhrRegistration/MhrReviewConfirm.vue
  ppr-ui/src/views/newMhrRegistration/SubmittingParty.vue
  ppr-ui/tests/unit/Attention.spec.ts
  ppr-ui/tests/unit/FolioOrRefNumber.spec.ts
Labels: MHR Manufacturer

#1397 Basic Components for Unit Notes Filing
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/ContactInformation.vue
  ppr-ui/src/components/common/DocumentId.vue
  ppr-ui/src/components/common/Remarks.vue
  ppr-ui/src/components/common/index.ts
  ppr-ui/src/components/unitNotes/UnitNoteAdd.vue
  ppr-ui/src/composables/mhrRegistration/enums/MhrValidFlags.ts
  ppr-ui/src/interfaces/ppr-api-interfaces/party-interface.ts
  ppr-ui/src/interfaces/store-interfaces/state-interfaces/mhr-validation-state-interface.ts
  ppr-ui/src/interfaces/store-interfaces/state-model-interface.ts
  ppr-ui/src/interfaces/unit-note-interfaces/unit-note-registration-interface.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/store/store.ts
  ppr-ui/tests/unit/MhrUnitNote.spec.ts
Labels: MHR Unit Notes

#1399 Update to work with GCP scheduled pub/sub.
  mhr_api/src/mhr_api/resources/v1/registrations.py
Labels: MHR API

#1401 Review and Confirm page for Unit Note filing
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/CertifyInformation.vue
  ppr-ui/src/components/common/ContactInformation.vue
  ppr-ui/src/components/common/DocumentId.vue
  ppr-ui/src/components/common/Remarks.vue
  ppr-ui/src/components/parties/party/PartyAutocomplete.vue
  ppr-ui/src/components/parties/party/PartySearch.vue
  ppr-ui/src/components/unitNotes/UnitNoteAdd.vue
  ppr-ui/src/components/unitNotes/UnitNoteReview.vue
  ppr-ui/src/components/unitNotes/UnitNoteReviewDetailsTable.vue
  ppr-ui/src/components/unitNotes/index.ts
  ppr-ui/src/composables/address/BaseAddress.vue
  ppr-ui/src/composables/mhrRegistration/enums/MhrValidFlags.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationIF.ts
  ppr-ui/src/interfaces/store-interfaces/state-interfaces/mhr-validation-state-interface.ts
  ppr-ui/src/interfaces/unit-note-interfaces/unit-note-registration-interface.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/store/store.ts
  ppr-ui/src/views/mhrInformation/MhrUnitNote.vue
  ppr-ui/tests/unit/MhrUnitNote.spec.ts
  ppr-ui/tests/unit/utils/helper-functions.ts
Labels: MHR Unit Notes

#1402 API unit note caution updates and bug fixes.
  mhr_api/report-templates/template-parts/search-result/notes.html
  mhr_api/report-templates/template-parts/v2/style.html
  mhr_api/report-templates/unitNoteV2.html
  mhr_api/src/mhr_api/models/db2/document.py
  mhr_api/src/mhr_api/models/db2/location.py
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_note.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/utils/note_validator.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/models/db2/test_location.py
  mhr_api/tests/unit/utils/test_note_validator.py
Labels: MHR API

#1403 Unit Notes UXA feedback + validation update
  ppr-ui/src/components/common/CertifyInformation.vue
  ppr-ui/src/components/common/ContactInformation.vue
  ppr-ui/src/components/unitNotes/UnitNoteAdd.vue
  ppr-ui/src/components/unitNotes/UnitNotePanels.vue
Labels: UXA, MHR Unit Notes

#1407 NCAN unit note allow remarks
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/utils/note_validator.py
  mhr_api/tests/unit/utils/test_note_validator.py
Labels: MHR API, MHR Unit Notes

#1400 Manufacturer Registration Review and Confirm
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/assets/styles/base.scss
  ppr-ui/src/components/common/CautionBox.vue
  ppr-ui/src/components/common/ContactUsToggle.vue
  ppr-ui/src/components/common/index.ts
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/Attention.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/FolioOrReferenceNumber.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeOwnersReview.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/SubmittingPartyReview.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/YourHomeReview.vue
  ppr-ui/src/components/mhrRegistration/YourHome/ManufacturerMakeModel.vue
  ppr-ui/src/composables/mhrRegistration/useNewMhrRegistration.ts
  ppr-ui/src/views/newMhrRegistration/MhrRegistration.vue
  ppr-ui/src/views/newMhrRegistration/MhrReviewConfirm.vue
  ppr-ui/src/views/newMhrRegistration/YourHome.vue
  ppr-ui/tests/unit/CautionBox.spec.ts
  ppr-ui/tests/unit/MhrRegistration.spec.ts
  ppr-ui/tests/unit/MhrReviewConfirm.spec.ts
Labels: MHR Registration, MHR Manufacturer

#1408 Home Owners conversion UXA feedback
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
Labels: UXA
