Repository bcgov/ppr, pull requests merged in 2023-07, with the labels that each got.

#1410 Updates draft parsing and validation reset
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/composables/mhrRegistration/useNewMhrRegistration.ts
  ppr-ui/src/views/newMhrRegistration/MhrRegistration.vue
Labels: MHR Registration

#1409 NCAN report, reg summary, reg current view updates.
  mhr_api/report-templates/registrationCoverV2.html
  mhr_api/report-templates/unitNoteV2.html
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/queries.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/resources/v1/notes.py
Labels: MHR API, MHR Unit Notes

#1411 Update Unit Notes dropdown menu items
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/unitNotes/UnitNotePanels.vue
  ppr-ui/src/resources/unitNotes.ts
  ppr-ui/tests/unit/UnitNotePanels.spec.ts
Labels: MHR Unit Notes

#1413 Uses deep watcher to fix table scrolling issue
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/registration/RegistrationBarTypeAheadList.vue
  ppr-ui/src/components/tables/RegistrationTable.vue
Labels: Bugfix

#1412 Updates-Scroll-To-Invalid-For-Mhr-Registration
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/composables/mhrRegistration/useMhrValidations.ts
  ppr-ui/src/views/newMhrRegistration/MhrRegistration.vue
  ppr-ui/src/views/newMhrRegistration/MhrReviewConfirm.vue
Labels: MHR Registration, Bugfix

#1414 NCAN update DB2 saving and JSON.
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/resources/v1/registrations.py
  mhr_api/tests/unit/models/db2/test_db2_utils.py
  mhr_api/tests/unit/models/db2/test_manuhome.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/models/test_search_result.py
Labels: MHR API, MHR Unit Notes

#1416 Add Folio to draft
  ppr-ui/src/composables/mhrRegistration/useNewMhrRegistration.ts
Labels: MHR Registration

#1418 Fix Home Owners styling on Safari
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
Labels: MHR Registration, MHR Ownership Transfer, UXA

#1417 Small Fix for year to display after resuming draft
  ppr-ui/src/components/mhrRegistration/YourHome/ManufacturedYearSelect.vue
Labels: MHR Registration, MHR Manufacturer

#1422 Fix Additional Name in Transfers
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnerRoles.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrTransfers/DeathCertificate.vue
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/tests/unit/MhrTransferHomeOwners.spec.ts
  ppr-ui/tests/unit/test-data/mock-mhr-registration.ts
Labels: MHR Ownership Transfer, Bugfix

#1419 Mixed Home Owners error for all Transfers
  ppr-ui/src/assets/styles/base.scss
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersMixedRolesError.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrTransfers/HomeOwnersGroupError.vue
  ppr-ui/tests/unit/MhrRegistrationHomeOwners.spec.ts
  ppr-ui/tests/unit/MhrTransferHomeOwners.spec.ts
Labels: MHR Ownership Transfer

#1423 Fix registering party duplicate + Refactoring components
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/dialogs/SecuredPartyDialog.vue
  ppr-ui/src/components/parties/Parties.vue
  ppr-ui/src/components/parties/PartySummary.vue
  ppr-ui/src/components/parties/debtor/EditDebtor.vue
  ppr-ui/src/components/parties/party/EditParty.vue
  ppr-ui/src/components/parties/party/PartyAutocomplete.vue
  ppr-ui/src/components/parties/party/PartySearch.vue
  ppr-ui/src/components/parties/party/RegisteringParty.vue
  ppr-ui/src/components/parties/party/RegisteringPartyChange.vue
  ppr-ui/src/components/parties/party/SecuredParties.vue
  ppr-ui/src/components/parties/summaries/SecuredPartySummary.vue
  ppr-ui/src/composables/parties/index.ts
  ppr-ui/src/composables/parties/securedPartyFormValidator.ts
  ppr-ui/src/composables/parties/useDebtor.ts
  ppr-ui/src/composables/parties/useDebtorValidation.ts
  ppr-ui/src/composables/parties/useSecuredParty.ts
  ppr-ui/src/composables/parties/useSecuredPartyValidation.ts
  ppr-ui/src/composables/useParty.ts
  ppr-ui/src/enums/securedPartyTypes.ts
  ppr-ui/src/resources/index.ts
  ppr-ui/src/resources/securedParties.ts
  ppr-ui/src/utils/validation-helper.ts
  ppr-ui/src/views/amendment/AmendRegistration.vue
  ppr-ui/tests/unit/EditSecuredParty.spec.ts
  ppr-ui/tests/unit/PartyAutocomplete.spec.ts
  ppr-ui/tests/unit/PartySearch.spec.ts
  ppr-ui/tests/unit/SecuredParties.spec.ts
  ppr-ui/tests/unit/SecuredPartyDialog.spec.ts
Labels: Bugfix, PPR Registration

#1415 Effective Date and Time for Unit Notes
  ppr-ui/src/components/unitNotes/EffectiveDateTime.vue
  ppr-ui/src/components/unitNotes/UnitNoteReview.vue
  ppr-ui/src/components/unitNotes/index.ts
  ppr-ui/src/enums/effectiveDateTypes.ts
  ppr-ui/src/enums/index.ts
  ppr-ui/tests/unit/EffectiveDateTime.spec.ts
  ppr-ui/tests/unit/MhrUnitNote.spec.ts
Labels: MHR Unit Notes

#1426 Current reg view and search conditionally use modernized data.
  mhr_api/requirements.txt
  mhr_api/requirements/bcregistry-libraries.txt
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/type_tables.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/models/db2/test_db2_utils.py
  mhr_api/tests/unit/models/test_types.py
Labels: MHR API

#1427 Hide information when no data entered in review confirm
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/SubmittingPartyReview.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/YourHomeReview.vue
  ppr-ui/src/utils/utilities.ts
  ppr-ui/tests/unit/MhrReviewConfirm.spec.ts
Labels: MHR Registration

#1428 MHR api TRANS validation update to work with UI.
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_draft.py
  mhr_api/src/mhr_api/resources/utils.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/tests/unit/models/test_mhr_draft.py
  mhr_api/tests/unit/utils/test_transfer_data.py
  mhr_api/tests/unit/utils/test_transfer_validator.py
Labels: MHR API

#1430 Fix TRANS owner group DB2 sometimes incorrectly setting tenancy speci…
  mhr_api/src/mhr_api/models/db2/owngroup.py
Labels: MHR API, Bugfix

#1429 Adds no certification option for staff
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/YourHomeReview.vue
  ppr-ui/src/components/mhrRegistration/YourHome/HomeCertification.vue
  ppr-ui/src/composables/mhrRegistration/useNewMhrRegistration.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationDescriptionIF.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/views/newMhrRegistration/MhrRegistration.vue
  ppr-ui/tests/unit/HomeCertification.spec.ts
Labels: MHR Registration

#1431 Minor fix to home sections form validations
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/YourHome/AddEditHomeSections.vue
  ppr-ui/src/components/mhrRegistration/YourHome/HomeSections.vue
Labels: MHR Registration, Bugfix

#1436 Implement NRED registrations.
  mhr_api/report-templates/adminRegistrationV2.html
  mhr_api/report-templates/registrationCoverV2.html
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/reports/v2/report_utils.py
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/resources/utils.py
  mhr_api/src/mhr_api/resources/v1/__init__.py
  mhr_api/src/mhr_api/resources/v1/admin_registrations.py
  mhr_api/src/mhr_api/utils/admin_validator.py
  mhr_api/src/mhr_api/utils/note_validator.py
  mhr_api/tests/unit/api/test_admin_registrations.py
  mhr_api/tests/unit/models/db2/test_manuhome.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/reports/data/admin-registration-example.json
  mhr_api/tests/unit/reports/data/note-test-example.json
  mhr_api/tests/unit/reports/test_report_registration_v2.py
  mhr_api/tests/unit/utils/test_admin_validator.py
  mhr_api/tests/unit/utils/test_note_validator.py
Labels: MHR API, MHR Unit Notes

#1434 Unit Note Validation, Submission, Error Handling
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/App.vue
  ppr-ui/src/components/common/ContactInformation.vue
  ppr-ui/src/components/common/DocumentId.vue
  ppr-ui/src/components/common/Remarks.vue
  ppr-ui/src/components/unitNotes/EffectiveDateTime.vue
  ppr-ui/src/components/unitNotes/UnitNoteAdd.vue
  ppr-ui/src/components/unitNotes/UnitNoteReview.vue
  ppr-ui/src/composables/mhrInformation/index.ts
  ppr-ui/src/composables/mhrInformation/useMhrUnitNote.ts
  ppr-ui/src/composables/mhrRegistration/enums/MhrValidFlags.ts
  ppr-ui/src/enums/errorCategories.ts
  ppr-ui/src/enums/unitNoteDocTypes.ts
  ppr-ui/src/interfaces/store-interfaces/state-interfaces/mhr-validation-state-interface.ts
  ppr-ui/src/interfaces/unit-note-interfaces/unit-note-interface.ts
  ppr-ui/src/resources/dialogOptions/errorDialogs.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/store/store.ts
  ppr-ui/src/utils/form-helper.ts
  ppr-ui/src/utils/mhr-api-helper.ts
  ppr-ui/src/views/mhrInformation/MhrUnitNote.vue
  ppr-ui/tests/unit/MhrUnitNote.spec.ts
  ppr-ui/tests/unit/test-data/mock-unit-notes.ts
  ppr-ui/tests/unit/utils/helper-functions.ts
Labels: MHR Unit Notes

#1437 Makes Add/Edit home section label red
  ppr-ui/src/components/mhrRegistration/YourHome/AddEditHomeSections.vue
  ppr-ui/src/components/mhrRegistration/YourHome/HomeSections.vue
  ppr-ui/src/components/tables/mhr/HomeSectionsTable.vue
Labels: MHR Registration

#1439 Small validation fix for EffectiveDateTime component
  ppr-ui/src/components/unitNotes/EffectiveDateTime.vue
Labels: MHR Unit Notes

#1438 MHR API implement EXRE registrations.
  mhr_api/report-templates/registrationCoverV2.html
  mhr_api/requirements.txt
  mhr_api/requirements/bcregistry-libraries.txt
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/resources/v1/admin_registrations.py
  mhr_api/src/mhr_api/utils/admin_validator.py
  mhr_api/src/mhr_api/utils/validator_utils.py
  mhr_api/tests/unit/utils/test_admin_validator.py
  mhr_api/tests/unit/utils/test_permit_validator.py
  mhr_api/tests/unit/utils/test_registration_validator.py
  mhr_api/tests/unit/utils/test_transfer_validator.py
Labels: MHR API

#1441 Minor fee code, unit note report updates.
  mhr_api/report-templates/template-parts/registration/givingNoticeParty.html
  mhr_api/report-templates/unitNoteV2.html
  mhr_api/src/mhr_api/resources/v1/notes.py
  mhr_api/src/mhr_api/services/payment/__init__.py
  mhr_api/src/mhr_api/services/payment/client/__init__.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/postman/mhr-api-unit.postman_collection.json
  mhr_api/tests/unit/services/test_payment.py
Labels: MHR API, MHR Unit Notes

#1442 MHR API replace HISTORICAL MH status with CANCELLED.
  mhr_api/report-templates/template-parts/v2/search-result/registration.html
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/search_utils.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/tests/unit/models/db2/test_manuhome.py
Labels: MHR API

#1444 MH reg get current view conditionally return unit notes.
  mhr_api/report-templates/transferV2.html
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/tests/unit/models/db2/test_db2_utils.py
  mhr_api/tests/unit/models/test_mhr_registration.py
Labels: MHR API, MHR Unit Notes

#1446 Extension and Continued Notice + ExpiryDate component
  ppr-ui/src/components/common/ContactInformation.vue
  ppr-ui/src/components/common/DocumentId.vue
  ppr-ui/src/components/common/Remarks.vue
  ppr-ui/src/components/unitNotes/EffectiveDateTime.vue
  ppr-ui/src/components/unitNotes/ExpiryDate.vue
  ppr-ui/src/components/unitNotes/UnitNoteAdd.vue
  ppr-ui/src/components/unitNotes/UnitNoteReview.vue
  ppr-ui/src/components/unitNotes/index.ts
  ppr-ui/src/composables/mhrInformation/useMhrUnitNote.ts
  ppr-ui/src/composables/mhrRegistration/enums/MhrValidFlags.ts
  ppr-ui/src/enums/effectiveDateTypes.ts
  ppr-ui/src/resources/unitNotes.ts
  ppr-ui/src/views/mhrInformation/MhrUnitNote.vue
  ppr-ui/tests/unit/MhrUnitNote.spec.ts
Labels: MHR Unit Notes

#1449 Updates for Unit Note submission
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/unitNotes/EffectiveDateTime.vue
  ppr-ui/src/views/mhrInformation/MhrUnitNote.vue
Labels: MHR Unit Notes

#1448 Account reg summary, reg current view, data validation updates.
  mhr_api/src/mhr_api/models/db2/queries.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/src/mhr_api/utils/note_validator.py
  mhr_api/src/mhr_api/utils/validator_utils.py
  mhr_api/tests/unit/models/db2/test_manuhome.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/utils/test_note_validator.py
  mhr_api/tests/unit/utils/test_permit_validator.py
  mhr_api/tests/unit/utils/test_registration_validator.py
  mhr_api/tests/unit/utils/test_transfer_validator.py
Labels: MHR Registration, MHR API

#1450 MHR Submission fixes for Additional Name
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/composables/mhrRegistration/useNewMhrRegistration.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationIF.ts
Labels: MHR Registration, MHR Ownership Transfer, Bugfix

#1445 Groups notice of cautions
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/unitNotes/UnitNoteContentInfo.vue
  ppr-ui/src/components/unitNotes/UnitNoteHeaderInfo.vue
  ppr-ui/src/components/unitNotes/UnitNotePanel.vue
  ppr-ui/src/components/unitNotes/UnitNotePanels.vue
  ppr-ui/src/components/unitNotes/index.ts
  ppr-ui/src/composables/mhrInformation/useMhrUnitNote.ts
  ppr-ui/src/interfaces/store-interfaces/state-interfaces/mhr-validation-state-interface.ts
  ppr-ui/src/interfaces/unit-note-interfaces/index.ts
  ppr-ui/src/interfaces/unit-note-interfaces/unit-note-interface.ts
  ppr-ui/src/interfaces/unit-note-interfaces/unit-note-panel-interface.ts
  ppr-ui/src/resources/unitNotes.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/views/mhrInformation/MhrUnitNote.vue
  ppr-ui/tests/unit/MhrUnitNote.spec.ts
  ppr-ui/tests/unit/UnitNotePanels.spec.ts
  ppr-ui/tests/unit/test-data/mock-unit-notes.ts
Labels: MHR Unit Notes

#1453 Account reg summary, reg current view, data validation updates.
  mhr_api/src/mhr_api/models/db2/queries.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/src/mhr_api/utils/validator_utils.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/utils/test_permit_validator.py
  mhr_api/tests/unit/utils/test_registration_validator.py
  mhr_api/tests/unit/utils/test_transfer_validator.py
Labels: MHR API

#1454 Updates to Attention and Scroll for Unit Notes
  ppr-ui/src/composables/mhrInformation/useMhrUnitNote.ts
  ppr-ui/src/views/mhrInformation/MhrUnitNote.vue
Labels: MHR Unit Notes

#1456 Add new create manufacturer info endpoint.
  mhr_api/requirements.txt
  mhr_api/requirements/bcregistry-libraries.txt
  mhr_api/src/mhr_api/models/mhr_manufacturer.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/resources/v1/manufacturer.py
  mhr_api/src/mhr_api/utils/manufacturer_validator.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/postman/mhr-api-unit.postman_collection.json
  mhr_api/tests/unit/api/test_manufacturers.py
  mhr_api/tests/unit/models/test_mhr_manufacturer.py
  mhr_api/tests/unit/utils/test_registration_validator.py
Labels: MHR API

#1455 Updates clickable area for dropdown button
  ppr-ui/src/components/unitNotes/UnitNoteHeaderInfo.vue
  ppr-ui/src/components/unitNotes/UnitNotePanel.vue
Labels: MHR Unit Notes

#1458 Add new qualified supplier info endpoints.
  mhr_api/src/mhr_api/models/__init__.py
  mhr_api/src/mhr_api/models/mhr_qualified_supplier.py
  mhr_api/src/mhr_api/resources/v1/__init__.py
  mhr_api/src/mhr_api/resources/v1/qualified_supplier.py
  mhr_api/src/mhr_api/utils/validator_utils.py
  mhr_api/tests/postman/mhr-api-unit.postman_collection.json
  mhr_api/tests/unit/api/test_qualified_suppliers.py
  mhr_api/tests/unit/models/test_mhr_qualified_supplier.py
Labels: MHR API

#1460 Optional Person Giving Notice & Hide Effective Date
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/ContactInformation.vue
  ppr-ui/src/components/unitNotes/UnitNoteAdd.vue
  ppr-ui/src/components/unitNotes/UnitNoteReview.vue
  ppr-ui/src/components/unitNotes/UnitNoteReviewDetailsTable.vue
  ppr-ui/src/composables/mhrInformation/useMhrUnitNote.ts
  ppr-ui/src/resources/unitNotes.ts
  ppr-ui/src/schemas/party-address.ts
  ppr-ui/tests/unit/MhrUnitNote.spec.ts
Labels: MHR Unit Notes

#1461 Makes attention components more reusable
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/Attention.vue
  ppr-ui/src/components/common/FolioOrReferenceNumber.vue
  ppr-ui/src/components/common/FormField.vue
  ppr-ui/src/components/common/index.ts
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/index.ts
  ppr-ui/src/components/unitNotes/UnitNoteReview.vue
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/newMhrRegistration/MhrReviewConfirm.vue
  ppr-ui/src/views/newMhrRegistration/SubmittingParty.vue
  ppr-ui/tests/unit/Attention.spec.ts
  ppr-ui/tests/unit/FolioOrRefNumber.spec.ts
  ppr-ui/tests/unit/MhrInformation.spec.ts
  ppr-ui/tests/unit/MhrReviewConfirm.spec.ts
  ppr-ui/tests/unit/MhrUnitNote.spec.ts
Labels: MHR Ownership Transfer, Bugfix, MHR Unit Notes

#1463 Updates to Person Giving Notice after UXA
  ppr-ui/src/components/common/ContactInformation.vue
  ppr-ui/src/components/unitNotes/UnitNoteAdd.vue
Labels: UXA, MHR Unit Notes
