Repository bcgov/ppr, pull requests merged in 2023-11, with the labels that each got.

#1610 API transport permit updates.
  mhr_api/requirements.txt
  mhr_api/requirements/bcregistry-libraries.txt
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/resources/v1/permits.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/utils/validator_utils.py
  mhr_api/src/mhr_api/utils/validator_utils_legacy.py
  mhr_api/src/mhr_api/version.py
  mhr_api/test_data/postgres_data_files/test0004.sql
  mhr_api/tests/unit/api/test_permits.py
  mhr_api/tests/unit/utils/test_permit_validator.py
Labels: MHR API, MHR Transport Permit

#1611 MHR new staff admin registration STAT
  mhr_api/report-templates/adminRegistrationV2.html
  mhr_api/report-templates/static/v2/header_registration.html
  mhr_api/report-templates/template-parts/registration/location.html
  mhr_api/report-templates/transportPermitV2.html
  mhr_api/requirements.txt
  mhr_api/requirements/bcregistry-libraries.txt
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/resources/v1/admin_registrations.py
  mhr_api/src/mhr_api/services/payment/__init__.py
  mhr_api/src/mhr_api/services/payment/client/__init__.py
  mhr_api/src/mhr_api/utils/admin_validator.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/utils/validator_utils.py
  mhr_api/tests/unit/api/test_admin_registrations.py
  mhr_api/tests/unit/utils/test_admin_validator.py
  mhr_api/tests/unit/utils/test_permit_validator.py
  mhr_api/tests/unit/utils/test_registration_validator.py
Labels: MHR API

#1612 MHR API bug fix search note remarks, legacy location type
  mhr_api/report-templates/template-parts/registration/notes.html
  mhr_api/report-templates/template-parts/search-result/notes.html
  mhr_api/src/mhr_api/models/db2/location.py
  mhr_api/tests/unit/models/db2/test_location.py
Labels: MHR API

#1613 PUBA, RECC location changes.
  mhr_api/report-templates/adminRegistrationV2.html
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/reports/v2/report_utils.py
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/resources/v1/admin_registrations.py
  mhr_api/src/mhr_api/utils/admin_validator.py
  mhr_api/tests/postman/mhr-api-unit.postman_collection.json
  mhr_api/tests/unit/api/test_admin_registrations.py
  mhr_api/tests/unit/utils/test_admin_validator.py
Labels: MHR API

#1614 residential exemption staff text updates
  ppr-ui/src/resources/exemptions/componentContent.ts
  ppr-ui/src/views/exemption/ExemptionDetails.vue
  ppr-ui/src/views/exemption/ExemptionReview.vue
Labels: MHR Exemptions

#1619 Make General Collateral required for Income Tax Act registration
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/collateral/Collateral.vue
  ppr-ui/src/components/collateral/generalCollateral/GenColEdit.vue
  ppr-ui/tests/unit/Collateral.spec.ts
  ppr-ui/tests/unit/GenColEdit.spec.ts
  ppr-ui/tests/unit/test-data/mock-registration-new.ts
Labels: Bugfix, PPR Registration

#1620 Fix General Collateral Pre-fill
  ppr-ui/src/components/collateral/generalCollateral/GenColEdit.vue
Labels: Bugfix, PPR Registration

#1605 Add a Manufacturer Registration Success dialog
  ppr-ui/src/components/common/BaseSnackbar.vue
  ppr-ui/src/components/common/RegistrationsWrapper.vue
  ppr-ui/src/components/dialogs/BaseDialog.vue
  ppr-ui/src/composables/userAccess/useUserAccess.ts
  ppr-ui/src/enums/settingOptions.ts
  ppr-ui/src/resources/dialogOptions/confirmationDialogs.ts
  ppr-ui/src/store/store.ts
  ppr-ui/tests/unit/BaseDialog.spec.ts
  ppr-ui/tests/unit/test-data/mock-user-profile-responses.ts
Labels: MHR Manufacturer

#1621 Updates to Residential Exemption with Lien
  ppr-ui/src/assets/styles/theme.scss
  ppr-ui/src/components/common/LienAlert.vue
  ppr-ui/src/components/common/index.ts
  ppr-ui/src/components/tables/common/TableRow.vue
  ppr-ui/src/composables/mhrInformation/useMhrInfoValidation.ts
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/resources/index.ts
  ppr-ui/src/resources/lienMessages.ts
  ppr-ui/src/store/store.ts
  ppr-ui/src/views/exemption/ExemptionDetails.vue
  ppr-ui/src/views/exemption/ExemptionReview.vue
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/tests/unit/ExemptionDetails.spec.ts
  ppr-ui/tests/unit/ExemptionReview.spec.ts
  ppr-ui/tests/unit/MhrInformation.spec.ts
Labels: MHR Ownership Transfer, MHR Exemptions

#1624 UXA for Success Reg Dialog
  ppr-ui/src/components/common/RegistrationsWrapper.vue
Labels: MHR Registration, UXA

#1625 Registration Success Dialog for MHR only
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/RegistrationsWrapper.vue
Labels: MHR Registration

#1627 confirm completion text update for TRAN and DEAT transfer
  ppr-ui/package.json
  ppr-ui/src/components/mhrTransfers/ConfirmCompletion.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
Labels: MHR Ownership Transfer

#1622 Home Ownership Component Update - from checkbox to radio group
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeLandOwnership.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
  ppr-ui/src/components/mhrTransfers/TransferDetails.vue
  ppr-ui/src/components/mhrTransfers/TransferDetailsReview.vue
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/composables/mhrRegistration/enums/MhrValidFlags.ts
  ppr-ui/src/composables/mhrRegistration/useNewMhrRegistration.ts
  ppr-ui/src/composables/useRegistration.ts
  ppr-ui/src/interfaces/store-interfaces/state-interfaces/mhr-validation-state-interface.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/views/newMhrRegistration/HomeLocation.vue
  ppr-ui/tests/unit/HomeLandOwnership.spec.ts
  ppr-ui/tests/unit/MhrInformation.spec.ts
Labels: MHR Registration

#1629 mhr summary page remove alert bar
  ppr-ui/package.json
  ppr-ui/src/resources/unitNotes.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
Labels: MHR Unit Notes

#1630 Update MHR unit tests - Part 1
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/Attention.vue
  ppr-ui/src/components/common/ButtonFooter.vue
  ppr-ui/src/components/common/Remarks.vue
  ppr-ui/src/components/mhrRegistration/YourHome/HomeCertification.vue
  ppr-ui/src/components/unitNotes/UnitNoteReview.vue
  ppr-ui/src/components/userAccess/ServiceAgreement.vue
  ppr-ui/tests/setup.ts
  ppr-ui/tests/unit/HomeCertification.spec.ts
  ppr-ui/tests/unit/HomeLandOwnership.spec.ts
  ppr-ui/tests/unit/HomeSections.spec.ts
  ppr-ui/tests/unit/MHRSearch.spec.ts
  ppr-ui/tests/unit/MhrCivicAddress.spec.ts
  ppr-ui/tests/unit/MhrRegistration.spec.ts
  ppr-ui/tests/unit/MhrReviewConfirm.spec.ts
  ppr-ui/tests/unit/MhrUnitNote.spec.ts
  ppr-ui/tests/unit/OtherInformation.spec.ts
  ppr-ui/tests/unit/QsInformation.spec.ts
  ppr-ui/tests/unit/QsReviewConfirm.spec.ts
  ppr-ui/tests/unit/QsSelectAccess.spec.ts
  ppr-ui/tests/unit/SimpleHelpToggle.spec.ts
  ppr-ui/tests/unit/SortingIcon.spec.ts
  ppr-ui/tests/unit/plugins/data-test-id.ts
  ppr-ui/tests/unit/plugins/index.ts
Labels: Vue3 Migration
