Repository bcgov/ppr, pull requests merged in 2023-10, with the labels that each got.

#1559 Add historical search by serial number.
  ppr-api/requirements.txt
  ppr-api/src/ppr_api/callback/document_storage/storage_service.py
  ppr-api/src/ppr_api/models/search_historical.py
  ppr-api/src/ppr_api/resources/__init__.py
  ppr-api/src/ppr_api/resources/historical_searches.py
  ppr-api/src/ppr_api/version.py
  ppr-api/tests/unit/api/test_historical_searches.py
  ppr-api/tests/unit/callback/test_storage_service.py
  ppr-api/tests/unit/models/test_search_historical.py
Labels: PPR API

#1561 Update PPR lien check logic for restricting non-staff registrations
  mhr_api/src/database/postgres_views/mhr_account_reg_vw.sql
  mhr_api/src/database/postgres_views/mhr_lien_check_vw.sql
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/owngroup.py
  mhr_api/src/mhr_api/models/db2/queries.py
  mhr_api/src/mhr_api/models/db2/registration_utils.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/utils/note_validator.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/utils/validator_utils.py
  mhr_api/tests/unit/models/db2/test_manuhome.py
  mhr_api/tests/unit/utils/test_registration_validator.py
Labels: MHR API

#1558 UXA for Sale Transfers
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
Labels: MHR Ownership Transfer, UXA

#1562 Fixes for MHR Transfers
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnerRoles.vue
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
  ppr-ui/src/utils/mhr-api-helper.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
  ppr-ui/tests/unit/MhrRegistrationHomeOwners.spec.ts
Labels: MHR Ownership Transfer

#1563 Add historical search by registration number.
  ppr-api/src/ppr_api/models/search_historical.py
  ppr-api/src/ppr_api/reports/v2/report.py
  ppr-api/src/ppr_api/reports/v2/report_utils.py
  ppr-api/tests/unit/api/test_historical_searches.py
  ppr-api/tests/unit/models/test_search_historical.py
Labels: PPR API

#1568 Pre-select only one Owner role for Sale Transfers
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnerRoles.vue
  ppr-ui/tests/unit/MhrRegistrationHomeOwners.spec.ts
  ppr-ui/tests/unit/MhrTransferHomeOwners.spec.ts
Labels: MHR Ownership Transfer

#1571 Cancel Exemption Dialog
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/views/exemption/Exemptions.vue
Labels: MHR Exemptions

#1570 Add owner corpNumber, deathCorpnumber
  mhr_api/requirements.txt
  mhr_api/requirements/bcregistry-libraries.txt
  mhr_api/src/mhr_api/models/db2/queries.py
  mhr_api/src/mhr_api/models/mhr_party.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/services/authz.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/models/test_mhr_party.py
  mhr_api/tests/unit/utils/test_transfer_validator.py
Labels: MHR API

#1567 Unit Tests for Transfers with Confidential Notes
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/tests/unit/MhrTransferHomeOwners.spec.ts
  ppr-ui/tests/unit/MhrUnitNote.spec.ts
  ppr-ui/tests/unit/UnitNotePanels.spec.ts
  ppr-ui/tests/unit/test-data/mock-unit-notes.ts
Labels: MHR Ownership Transfer, Bugfix

#1572 Search, transfer report minor fixes.
  mhr_api/report-templates/template-parts/search-result/owners.html
  mhr_api/report-templates/transferV2.html
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/reports/v2/report_utils.py
Labels: MHR API, Bugfix

#1574 help with owners text updates
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnerGroups.vue
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
Labels: MHR Registration

#1573 Add new error for MHR Transfers
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrTransfers/HomeOwnersGroupError.vue
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/src/resources/mhr-transfers/transfers-errors.ts
  ppr-ui/tests/unit/MhrTransferHomeOwners.spec.ts
Labels: MHR Ownership Transfer

#1575 Fix Multiple Issues with Home Owner Groups
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
  ppr-ui/tests/unit/MhrTransferHomeOwners.spec.ts
Labels: MHR Ownership Transfer, Bugfix

#1576 Cumulative MHR data migration script updates.
  mhr_api/data-migration/0-mhr-staging-drop-table.sql
  mhr_api/data-migration/1-mhr-staging-trim.sql
  mhr_api/data-migration/10-mhr-final-load.sql
  mhr_api/data-migration/11-mhr-merge.sql
  mhr_api/data-migration/2-mhr-staging-alter-table.sql
  mhr_api/data-migration/4-mhr-staging-timestsamp.sql
  mhr_api/data-migration/6-mhr-staging-address.sql
  mhr_api/data-migration/8-mhr-final-pkey.sql
  mhr_api/data-migration/9-mhr-backup.sql
  mhr_api/data-migration/README.md
  mhr_api/data-migration/mhr-manufacturers.sql
Labels: MHR API

#1579 Add locationType to GET account reg summary response.
  mhr_api/src/database/postgres_views/mhr_account_reg_vw.sql
  mhr_api/src/mhr_api/models/db2/queries.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/queries.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/models/test_mhr_registration.py
Labels: MHR API

#1580 Fix Group Validation in MHR Transfers
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/tests/unit/MhrTransferHomeOwners.spec.ts
Labels: MHR Ownership Transfer, Bugfix

#1581 PPR remaining historical search types.
  ppr-api/src/ppr_api/models/search_historical.py
  ppr-api/tests/postman/ppr-api-unit.postman_collection.json
  ppr-api/tests/unit/api/test_historical_searches.py
  ppr-api/tests/unit/models/test_search_historical.py
Labels: PPR API

#1582 Unit note updates from review.
  mhr_api/report-templates/template-parts/search-result/notes.html
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/reports/v2/report_utils.py
  mhr_api/src/mhr_api/resources/v1/notes.py
  mhr_api/src/mhr_api/services/payment/__init__.py
  mhr_api/src/mhr_api/services/payment/client/__init__.py
  mhr_api/tests/unit/api/test_notes.py
  mhr_api/tests/unit/services/test_payment.py
Labels: MHR API, MHR Unit Notes

#1578 Fix/tooltip text update sale gift transfer
  ppr-ui/src/resources/transferTypes.ts
Labels: MHR Ownership Transfer

#1583 Exemptions Review, Validation, Submissions and misc Component/Style Updates
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/App.vue
  ppr-ui/src/assets/styles/base.scss
  ppr-ui/src/assets/styles/layout.scss
  ppr-ui/src/assets/styles/overrides.scss
  ppr-ui/src/components/common/AccountInfo.vue
  ppr-ui/src/components/common/Attention.vue
  ppr-ui/src/components/common/ButtonFooter.vue
  ppr-ui/src/components/common/CertifyInformation.vue
  ppr-ui/src/components/common/ContactInformation.vue
  ppr-ui/src/components/common/DocumentId.vue
  ppr-ui/src/components/common/FormCard.vue
  ppr-ui/src/components/common/PartyForm.vue
  ppr-ui/src/components/common/RegistrationsWrapper.vue
  ppr-ui/src/components/common/Remarks.vue
  ppr-ui/src/components/common/ReviewCard.vue
  ppr-ui/src/components/common/index.ts
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/YourHomeReview.vue
  ppr-ui/src/components/mhrTransfers/ConfirmCompletion.vue
  ppr-ui/src/components/tables/common/TableRow.vue
  ppr-ui/src/components/tombstone/Tombstone.vue
  ppr-ui/src/components/tombstone/TombstoneDischarge.vue
  ppr-ui/src/components/userAccess/ReviewConfirm/Authorization.vue
  ppr-ui/src/components/userAccess/ReviewConfirm/ListRequirements.vue
  ppr-ui/src/composables/common/index.ts
  ppr-ui/src/composables/common/usePayment.ts
  ppr-ui/src/composables/exemption/useExemptions.ts
  ppr-ui/src/composables/userAccess/useUserAccess.ts
  ppr-ui/src/enums/errorCategories.ts
  ppr-ui/src/enums/routeNames.ts
  ppr-ui/src/enums/tableActions.ts
  ppr-ui/src/interfaces/error-interface.ts
  ppr-ui/src/interfaces/exemption-interfaces/ExemptionIF.ts
  ppr-ui/src/interfaces/index.ts
  ppr-ui/src/interfaces/party-interfaces/party-schema-interface.ts
  ppr-ui/src/interfaces/store-interfaces/state-model-interface.ts
  ppr-ui/src/interfaces/user-access-interfaces/user-access-requirements-interface.ts
  ppr-ui/src/resources/attnRefConfigs.ts
  ppr-ui/src/resources/dialogOptions/errorDialogs.ts
  ppr-ui/src/resources/exemptions/componentContent.ts
  ppr-ui/src/resources/index.ts
  ppr-ui/src/schemas/party-form.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/store/store.ts
  ppr-ui/src/utils/form-helper.ts
  ppr-ui/src/utils/mhr-api-helper.ts
  ppr-ui/src/utils/submitting-party-helper.ts
  ppr-ui/src/views/exemption/ExemptionDetails.vue
  ppr-ui/src/views/exemption/ExemptionReview.vue
  ppr-ui/src/views/exemption/Exemptions.vue
  ppr-ui/tests/unit/Exemptions.spec.ts
Labels: MHR Exemptions

#1585 Fix Home Owners error handling
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
  ppr-ui/tests/unit/MhrTransferHomeOwners.spec.ts
Labels: MHR Ownership Transfer, Bugfix

#1587 missing hint of declared value for mhr transfer
  ppr-ui/src/components/mhrTransfers/TransferType.vue
  ppr-ui/src/resources/mhr-transfers/transfers-content.ts
Labels: MHR Ownership Transfer

#1577 No Certification checkbox error on MHR Info page
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/YourHomeReview.vue
  ppr-ui/tests/unit/MhrReviewConfirm.spec.ts
Labels: MHR Registration

#1589 Data migration registration current view updates.
  mhr_api/data-migration/1-mhr-staging-trim.sql
  mhr_api/manage.py
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_draft.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/mhr_section.py
  mhr_api/src/mhr_api/models/registration_json_utils.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/reports/v2/report_utils.py
  mhr_api/src/mhr_api/version.py
  mhr_api/test_data/db2_data_files/test0001.sql
  mhr_api/tests/unit/models/db2/test_db2_utils.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/models/test_search_result.py
Labels: MHR API

#1590 MHR registration TM MHR numbers after payment.
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/queries.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/utils/validator_utils.py
  mhr_api/tests/unit/api/test_registrations.py
  mhr_api/tests/unit/models/test_registration_utils.py
  mhr_api/tests/unit/utils/test_registration_validator.py
Labels: MHR API

#1584 Residential Exemptions in MHR table
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/tables/common/TableRow.vue
  ppr-ui/src/composables/exemption/useExemptions.ts
  ppr-ui/src/composables/useRegistration.ts
  ppr-ui/src/enums/registrationTypes.ts
  ppr-ui/src/enums/unitNoteDocTypes.ts
  ppr-ui/src/resources/unitNotes.ts
  ppr-ui/src/store/store.ts
  ppr-ui/tests/unit/TableRow.spec.ts
  ppr-ui/tests/unit/test-data/mock-registration-responses.ts
Labels: MHR Exemptions

#1591 Exempt state for MHR Information
  ppr-ui/src/components/unitNotes/UnitNoteContentInfo.vue
  ppr-ui/src/components/unitNotes/UnitNotePanel.vue
  ppr-ui/src/components/unitNotes/UnitNotePanels.vue
  ppr-ui/src/composables/exemption/useExemptions.ts
  ppr-ui/src/enums/registrationTypes.ts
  ppr-ui/src/resources/exemptions/componentContent.ts
  ppr-ui/src/resources/unitNotes.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
  ppr-ui/tests/unit/Tombstone.spec.ts
  ppr-ui/tests/unit/TombstoneDischarge.spec.ts
  ppr-ui/tests/unit/UnitNotePanels.spec.ts
  ppr-ui/tests/unit/test-data/mock-registration-new.ts
  ppr-ui/tests/unit/test-data/mock-unit-notes.ts
Labels: MHR Exemptions

#1597 Updated Exemption Initialization
  ppr-ui/src/composables/exemption/useExemptions.ts
Labels: MHR Exemptions

#1596 Allow NCON, NCAN, NRED in exempt state.
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/utils/admin_validator.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/utils/validator_utils.py
  mhr_api/src/mhr_api/utils/validator_utils_legacy.py
  mhr_api/test_data/db2_data_files/test0006.sql
  mhr_api/test_data/postgres_data_files/test0008.sql
  mhr_api/tests/unit/utils/test_admin_validator.py
  mhr_api/tests/unit/utils/test_note_validator.py
  mhr_api/tests/unit/utils/test_transfer_validator.py
Labels: MHR API

#1593 update notice of tax remark checkbox wording
  ppr-ui/src/components/common/Remarks.vue
  ppr-ui/src/components/mhrTransfers/TransferType.vue
  ppr-ui/src/resources/unitNotes.ts
  ppr-ui/tests/unit/UnitNotePanels.spec.ts
Labels: MHR Unit Notes

#1598 Add payment info for Unit Note submission
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/composables/mhrInformation/useMhrUnitNote.ts
  ppr-ui/src/utils/mhr-api-helper.ts
Labels: Bugfix, MHR Unit Notes

#1599 update the fee amounts of Restraining Order, Confidential Note, Publi…
  ppr-ui/src/composables/fees/enums/feeSummaryDefaults.ts
  ppr-ui/src/composables/fees/resources/feeSummaries.ts
  ppr-ui/src/resources/unitNotes.ts
Labels: MHR Unit Notes

#1601 Fix bug in Transfers validation
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
Labels: MHR Ownership Transfer, Bugfix

#1595 Updates for Change Owner in Transfers
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnerRoles.vue
Labels: MHR Ownership Transfer, Bugfix

#1602 18224 18225 mhr new transfer types
  mhr_api/report-templates/transferV2.html
  mhr_api/requirements.txt
  mhr_api/requirements/bcregistry-libraries.txt
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/registration_utils.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/registration_json_utils.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/models/type_tables.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/api/test_transfers.py
  mhr_api/tests/unit/models/db2/test_db2_utils.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/models/test_types.py
  mhr_api/tests/unit/utils/test_transfer_validator.py
Labels: MHR API

#1603 Fix to display pre-selected Business type in HomeOwnerRoles
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnerRoles.vue
Labels: MHR Ownership Transfer, UXA

#1604 Update exemption registration and search report exempt state text.
  mhr_api/report-templates/exemptionV2.html
  mhr_api/report-templates/template-parts/v2/search-result/registration.html
Labels: MHR API

#1607 Transport permit report template and generation setup.
  mhr_api/report-templates/registrationCoverV2.html
  mhr_api/report-templates/template-parts/registration/location.html
  mhr_api/report-templates/template-parts/registration/submittingParty.html
  mhr_api/report-templates/template-parts/v2/style.html
  mhr_api/report-templates/transportPermitV2.html
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/resources/v1/permits.py
  mhr_api/tests/unit/api/test_permits.py
  mhr_api/tests/unit/models/db2/test_db2_utils.py
  mhr_api/tests/unit/models/test_mhr_registration.py
Labels: MHR API
