Repository bcgov/ppr, pull requests merged in 2023-08, with the labels that each got.

#1465 Unit note NRED reg report updates.
  mhr_api/report-templates/adminRegistrationV2.html
  mhr_api/report-templates/template-parts/registration/givingNoticeParty.html
  mhr_api/report-templates/unitNoteV2.html
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/utils/admin_validator.py
  mhr_api/src/mhr_api/utils/note_validator.py
  mhr_api/tests/unit/api/test_admin_registrations.py
  mhr_api/tests/unit/models/db2/test_manuhome.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/utils/test_admin_validator.py
  mhr_api/tests/unit/utils/test_note_validator.py
Labels: MHR API

#1468 DB2 save note no contact bug fix.
  mhr_api/src/mhr_api/models/db2/mhomnote.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/tests/unit/models/db2/test_mhomnote.py
Labels: MHR API, Bugfix

#1459 Contact Information Fixes
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/ContactInformation.vue
  ppr-ui/src/components/mhrRegistration/SubmittingParty/MhrSubmittingParty.vue
  ppr-ui/src/components/mhrRegistration/SubmittingParty/index.ts
  ppr-ui/src/components/mhrRegistration/index.ts
  ppr-ui/src/components/parties/party/PartyAutocomplete.vue
  ppr-ui/src/components/parties/party/PartySearch.vue
  ppr-ui/src/components/unitNotes/UnitNoteAdd.vue
  ppr-ui/src/components/unitNotes/UnitNoteReview.vue
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/composables/mhrInformation/useMhrUnitNote.ts
  ppr-ui/src/enums/contactTypes.ts
  ppr-ui/src/enums/index.ts
  ppr-ui/src/interfaces/content-interface.ts
  ppr-ui/src/interfaces/ppr-api-interfaces/party-interface.ts
  ppr-ui/src/resources/contactInformationContent.ts
  ppr-ui/src/resources/index.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/newMhrRegistration/MhrRegistration.vue
  ppr-ui/src/views/newMhrRegistration/SubmittingParty.vue
  ppr-ui/tests/unit/ContactInformation.spec.ts
  ppr-ui/tests/unit/MhrInformation.spec.ts
  ppr-ui/tests/unit/MhrSubmittingParty.spec.ts
  ppr-ui/tests/unit/PartyAutocomplete.spec.ts
Labels: MHR Registration, MHR Ownership Transfer, Bugfix, PPR Registration, MHR Unit Notes

#1473 Update extra data validation for description info.
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/src/mhr_api/utils/manufacturer_validator.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/utils/validator_utils.py
  mhr_api/tests/unit/api/test_registrations.py
  mhr_api/tests/unit/utils/test_registration_validator.py
  mhr_api/tests/unit/utils/test_validator_utils.py
Labels: MHR Registration, MHR API

#1475 MHR API manufacturer reg sub party validation update.
  mhr_api/src/mhr_api/utils/manufacturer_validator.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/api/test_registrations.py
Labels: MHR API

#1484 Add service agreement endpoints.
  mhr_api/requirements.txt
  mhr_api/requirements/bcregistry-libraries.txt
  mhr_api/src/mhr_api/config.py
  mhr_api/src/mhr_api/models/__init__.py
  mhr_api/src/mhr_api/models/mhr_manufacturer.py
  mhr_api/src/mhr_api/models/mhr_qualified_supplier.py
  mhr_api/src/mhr_api/models/mhr_service_agreement.py
  mhr_api/src/mhr_api/resources/v1/__init__.py
  mhr_api/src/mhr_api/resources/v1/qualified_supplier.py
  mhr_api/src/mhr_api/resources/v1/service_agreements.py
  mhr_api/src/mhr_api/services/abstract_storage_service.py
  mhr_api/src/mhr_api/services/document_storage/storage_service.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/postman/mhr-api-unit.postman_collection.json
  mhr_api/tests/unit/api/test_qualified_suppliers.py
  mhr_api/tests/unit/api/test_service_agreements.py
  mhr_api/tests/unit/models/test_mhr_manufacturer.py
  mhr_api/tests/unit/models/test_mhr_qualified_supplier.py
  mhr_api/tests/unit/models/test_mhr_service_agreement.py
  mhr_api/tests/unit/services/test_storage_service.py
  mhr_api/tests/unit/utils/test_registration_validator.py
Labels: MHR API

#1488 MHR accept service agreement version change flag.
  mhr_api/src/mhr_api/models/mhr_service_agreement.py
  mhr_api/src/mhr_api/resources/v1/service_agreements.py
  ppr-api/src/ppr_api/models/user_profile.py
  ppr-api/src/ppr_api/resources/user_profile.py
  ppr-api/src/ppr_api/services/authz.py
  ppr-api/src/ppr_api/version.py
  ppr-api/tests/unit/api/test_search_results.py
  ppr-api/tests/unit/api/test_user_profile.py
  ppr-api/tests/unit/models/test_user_profile.py
  ppr-api/tests/unit/services/utils.py
Labels: PPR API

#1489 Updates panel for no person giving notice
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/unitNotes/UnitNoteContentInfo.vue
  ppr-ui/src/interfaces/unit-note-interfaces/unit-note-interface.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/newMhrRegistration/SubmittingParty.vue
  ppr-ui/tests/unit/UnitNotePanels.spec.ts
  ppr-ui/tests/unit/test-data/mock-unit-notes.ts
Labels: MHR Unit Notes

#1493 Adds N/A in unit note panel to CAUC with no expiry date
  ppr-ui/src/components/unitNotes/UnitNoteContentInfo.vue
  ppr-ui/tests/unit/UnitNotePanels.spec.ts
  ppr-ui/tests/unit/test-data/mock-unit-notes.ts
Labels: MHR Unit Notes

#1494 Qualified suppliers/manufacturers account info add DELETE and PUT end…
  mhr_api/requirements.txt
  mhr_api/requirements/bcregistry-libraries.txt
  mhr_api/src/mhr_api/models/db2/descript.py
  mhr_api/src/mhr_api/models/db2/location.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_description.py
  mhr_api/src/mhr_api/models/mhr_location.py
  mhr_api/src/mhr_api/models/mhr_manufacturer.py
  mhr_api/src/mhr_api/models/mhr_note.py
  mhr_api/src/mhr_api/models/mhr_qualified_supplier.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/resources/v1/manufacturer.py
  mhr_api/src/mhr_api/resources/v1/qualified_supplier.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/api/test_manufacturers.py
  mhr_api/tests/unit/api/test_qualified_suppliers.py
  mhr_api/tests/unit/models/test_mhr_manufacturer.py
Labels: MHR API

#1497 Separates user remarks from generated remarks
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/unitNotes/UnitNoteContentInfo.vue
  ppr-ui/src/interfaces/unit-note-interfaces/unit-note-interface.ts
  ppr-ui/src/resources/unitNotes.ts
  ppr-ui/tests/unit/UnitNotePanels.spec.ts
  ppr-ui/tests/unit/test-data/mock-unit-notes.ts
Labels: MHR Unit Notes

#1495 Registering party state fix
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/ButtonFooter.vue
  ppr-ui/src/components/common/DischargeConfirmSummary.vue
  ppr-ui/src/components/tombstone/TombstoneDischarge.vue
  ppr-ui/src/composables/index.ts
  ppr-ui/src/composables/pprRegistration/index.ts
  ppr-ui/src/composables/pprRegistration/usePprRegistration.ts
  ppr-ui/src/router/routes.ts
  ppr-ui/src/store/store.ts
  ppr-ui/src/views/amendment/AmendRegistration.vue
  ppr-ui/src/views/amendment/ConfirmAmendment.vue
  ppr-ui/src/views/discharge/ConfirmDischarge.vue
  ppr-ui/src/views/discharge/DischargeRegistration.vue
  ppr-ui/src/views/discharge/index.ts
  ppr-ui/src/views/mhrSearch/ConfirmMHRSearch.vue
  ppr-ui/src/views/renew/ConfirmRenewal.vue
  ppr-ui/src/views/renew/RenewRegistration.vue
  ppr-ui/tests/unit/ConfirmAmendment.spec.ts
  ppr-ui/tests/unit/ConfirmDischarge.spec.ts
  ppr-ui/tests/unit/ConfirmRenewal.spec.ts
  ppr-ui/tests/unit/DischargeRegistration.spec.ts
  ppr-ui/tests/unit/SecuredParties.spec.ts
Labels: Bugfix, PPR Registration

#1498 Removes EffectiveDateTime from confidential note
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/CertifyInformation.vue
  ppr-ui/src/components/unitNotes/UnitNoteReview.vue
  ppr-ui/src/composables/mhrInformation/useMhrUnitNote.ts
  ppr-ui/src/interfaces/unit-note-interfaces/unit-note-interface.ts
  ppr-ui/src/resources/unitNotes.ts
  ppr-ui/src/views/amendment/ConfirmAmendment.vue
  ppr-ui/src/views/discharge/ConfirmDischarge.vue
  ppr-ui/src/views/newRegistration/ReviewConfirm.vue
  ppr-ui/src/views/renew/ConfirmRenewal.vue
  ppr-ui/tests/unit/MhrUnitNote.spec.ts
Labels: MHR Unit Notes

#1502 MHR API exemption (res and non-res) updates
  mhr_api/report-templates/exemptionV2.html
  mhr_api/report-templates/template-parts/search-result/notes.html
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/mhr_note.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/resources/v1/exemptions.py
  mhr_api/src/mhr_api/utils/manufacturer_validator.py
  mhr_api/src/mhr_api/utils/note_validator.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/utils/validator_utils.py
  mhr_api/src/mhr_api/utils/validator_utils_legacy.py
  mhr_api/tests/unit/api/test_exemptions.py
  mhr_api/tests/unit/models/db2/test_manuhome.py
  mhr_api/tests/unit/models/test_mhr_note.py
  mhr_api/tests/unit/utils/test_note_validator.py
  mhr_api/tests/unit/utils/test_registration_validator.py
  mhr_api/tests/unit/utils/test_transfer_validator.py
Labels: MHR API

#1501 Update Giving Notice Party title for TAXN note
  ppr-ui/src/components/unitNotes/UnitNoteAdd.vue
  ppr-ui/src/components/unitNotes/UnitNoteReviewDetailsTable.vue
  ppr-ui/src/resources/contactInformationContent.ts
  ppr-ui/tests/unit/MhrUnitNote.spec.ts
Labels: MHR Unit Notes

#1503 Fix DB2 registration timestamp timezone.
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/models/db2/test_document.py
Labels: MHR API, Bugfix

#1506 Add data migration script files.
  mhr_api/data-migration/-1-mhr-staging-create-function.sql
  mhr_api/data-migration/-2-mhr-staging-create-table.sql
  mhr_api/data-migration/0-mhr-delete-load.sql
  mhr_api/data-migration/0-mhr-staging-drop-table.sql
  mhr_api/data-migration/1-mhr-staging-trim.sql
  mhr_api/data-migration/10-mhr-final-load.sql
  mhr_api/data-migration/2-mhr-staging-alter-table.sql
  mhr_api/data-migration/3-mhr-staging-code-type.sql
  mhr_api/data-migration/4-mhr-staging-timestsamp.sql
  mhr_api/data-migration/5-mhr-staging-name.sql
  mhr_api/data-migration/6-mhr-staging-address.sql
  mhr_api/data-migration/7-mhr-staging-draft.sql
  mhr_api/data-migration/8-mhr-final-pkey.sql
  mhr_api/data-migration/9-mhr-backup.sql
  mhr_api/data-migration/README.md
  mhr_api/data-migration/mhr-manufacturers.sql
  mhr_api/data-migration/mhr-post-migration.png
  mhr_api/data-migration/mhr-pre-migration.png
  mhr_api/src/mhr_api/config.py
  mhr_api/tests/unit/models/db2/test_cmpserno.py
  mhr_api/tests/unit/models/db2/test_db2_search_request.py
  mhr_api/tests/unit/models/db2/test_db2_utils.py
  mhr_api/tests/unit/models/db2/test_descript.py
  mhr_api/tests/unit/models/db2/test_docdes.py
  mhr_api/tests/unit/models/db2/test_document.py
  mhr_api/tests/unit/models/db2/test_location.py
  mhr_api/tests/unit/models/db2/test_manufact.py
  mhr_api/tests/unit/models/db2/test_mhomnote.py
  mhr_api/tests/unit/models/db2/test_owner.py
  mhr_api/tests/unit/models/db2/test_owngroup.py
Labels: MHR API

#1507 Adds cancel dialog
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/dialogs/BaseDialog.vue
  ppr-ui/src/components/unitNotes/UnitNoteContentInfo.vue
  ppr-ui/src/views/mhrInformation/MhrUnitNote.vue
Labels: MHR Unit Notes

#1510 MHR API more exemption data validation updates.
  mhr_api/src/mhr_api/models/db2/queries.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_note.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/utils/validator_utils.py
  mhr_api/src/mhr_api/utils/validator_utils_legacy.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/utils/test_registration_validator.py
Labels: MHR API

#1508 Has no person giving notice
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/assets/styles/base.scss
  ppr-ui/src/components/common/ContactInformation.vue
  ppr-ui/src/components/unitNotes/UnitNoteAdd.vue
  ppr-ui/src/components/unitNotes/UnitNoteContentInfo.vue
  ppr-ui/src/components/unitNotes/UnitNoteReview.vue
  ppr-ui/src/components/unitNotes/UnitNoteReviewDetailsTable.vue
  ppr-ui/src/composables/mhrInformation/useMhrUnitNote.ts
  ppr-ui/src/interfaces/unit-note-interfaces/unit-note-interface.ts
  ppr-ui/src/resources/unitNotes.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/views/mhrInformation/MhrUnitNote.vue
  ppr-ui/tests/unit/MhrUnitNote.spec.ts
Labels: MHR Unit Notes

#1512 17130 API changes to support UI unit notes.
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/models/test_mhr_registration.py
Labels: MHR API, MHR Unit Notes

#1511 Updates panel for cancelled notes + small clean up
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/unitNotes/UnitNoteContentInfo.vue
  ppr-ui/src/components/unitNotes/UnitNoteHeaderInfo.vue
  ppr-ui/src/components/unitNotes/UnitNotePanel.vue
  ppr-ui/src/components/unitNotes/UnitNotePanels.vue
  ppr-ui/src/composables/mhrInformation/index.ts
  ppr-ui/src/composables/mhrInformation/useMhrUnitNote.ts
  ppr-ui/src/composables/mhrInformation/useMhrUnitNotePanel.ts
  ppr-ui/src/interfaces/unit-note-interfaces/index.ts
  ppr-ui/src/interfaces/unit-note-interfaces/unit-note-interface.ts
  ppr-ui/src/interfaces/unit-note-interfaces/unit-note-panel-interface.ts
  ppr-ui/src/resources/unitNotes.ts
  ppr-ui/tests/unit/UnitNotePanels.spec.ts
  ppr-ui/tests/unit/test-data/mock-unit-notes.ts
Labels: MHR Unit Notes

#1514 search changes for data migration switch to PosgreSQL.
  mhr_api/src/database/postgres_views/mhr_search_mhr_number_vw.sql
  mhr_api/src/database/postgres_views/mhr_search_owner_bus_vw.sql
  mhr_api/src/database/postgres_views/mhr_search_owner_ind_vw.sql
  mhr_api/src/database/postgres_views/mhr_search_serial_vw.sql
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/models/search_request.py
  mhr_api/src/mhr_api/models/search_utils.py
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/test_data/db2_data_files/test0000.sql
  mhr_api/test_data/db2_data_files/test0001.sql
  mhr_api/test_data/postgres_create_first.sql
  mhr_api/test_data/postgres_data_files/test0000.sql
  mhr_api/test_data/postgres_data_files/test0001.sql
  mhr_api/test_data/postgres_data_files/test0002.sql
  mhr_api/test_data/postgres_data_files/test0003.sql
  mhr_api/test_data/postgres_test_reset.sql
  mhr_api/tests/unit/api/test_drafts.py
  mhr_api/tests/unit/api/test_manufacturers.py
  mhr_api/tests/unit/api/test_qualified_suppliers.py
  mhr_api/tests/unit/api/test_registrations.py
  mhr_api/tests/unit/api/test_search_results.py
  mhr_api/tests/unit/api/test_searches.py
  mhr_api/tests/unit/api/test_service_agreements.py
  mhr_api/tests/unit/models/db2/test_manuhome.py
  mhr_api/tests/unit/models/test_ltsa_description.py
  mhr_api/tests/unit/models/test_mhr_description.py
  mhr_api/tests/unit/models/test_mhr_document.py
  mhr_api/tests/unit/models/test_mhr_draft.py
  mhr_api/tests/unit/models/test_mhr_location.py
  mhr_api/tests/unit/models/test_mhr_manufacturer.py
  mhr_api/tests/unit/models/test_mhr_note.py
  mhr_api/tests/unit/models/test_mhr_owner_group.py
  mhr_api/tests/unit/models/test_mhr_party.py
  mhr_api/tests/unit/models/test_mhr_qualified_supplier.py
  mhr_api/tests/unit/models/test_mhr_registration_report.py
  mhr_api/tests/unit/models/test_mhr_section.py
  mhr_api/tests/unit/models/test_search_request.py
  mhr_api/tests/unit/models/test_search_result.py
Labels: MHR API

#1515 Small access fix
  ppr-ui/src/store/store.ts
Labels: MHR Registration, MHR Manufacturer

#1513 Updates table row for Cancel Note
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/tables/common/TableRow.vue
  ppr-ui/src/enums/registrationTypes.ts
  ppr-ui/src/interfaces/ppr-api-interfaces/registration-interfaces.ts
  ppr-ui/src/utils/format-helper.ts
  ppr-ui/tests/unit/TableRow.spec.ts
  ppr-ui/tests/unit/test-data/mock-registration-responses.ts
Labels: MHR Unit Notes

#1516 Small UX changes for unit notes
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/unitNotes/UnitNoteContentInfo.vue
  ppr-ui/src/components/unitNotes/UnitNotePanels.vue
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/tests/unit/UnitNotePanels.spec.ts
Labels: MHR Unit Notes
