Repository bcgov/ppr, pull requests merged in 2023-03, with the labels that each got.

#1201 fixes for 15133
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/SubmittingParty/MhrSubmittingParty.vue
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
Labels: MHR Ownership Transfer

#1204 fee summary updates on transfers
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/StickyContainer.vue
  ppr-ui/src/composables/fees/FeeSummary.vue
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
Labels: MHR Ownership Transfer

#1205 Remove tenancy checkbox section in add/edit owner
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/FractionalOwnership.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/TableGroupHeader.vue
Labels: MHR Registration, MHR Ownership Transfer

#1207 MHR search step 2 save updated client ref to JSON search criteria.
  mhr_api/src/mhr_api/resources/v1/search_results.py
Labels: MHR API

#1208 fix for incorrect fee in transaction history
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/views/mhrSearch/ConfirmMHRSearch.vue
Labels: MHR Search

#1212 MHR search and verification report updates.
  mhr_api/report-templates/template-parts/registration/details.html
  mhr_api/report-templates/template-parts/search-result/details.html
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/version.py
Labels: MHR API

#1216 15559 mhr legacy ltsa db update
  mhr_api/report-templates/template-parts/search-result/location.html
  mhr_api/src/mhr_api/models/__init__.py
  mhr_api/src/mhr_api/models/db2/location.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/ltsa_description.py
  mhr_api/src/mhr_api/resources/v1/__init__.py
  mhr_api/src/mhr_api/resources/v1/ltsa_sync.py
  mhr_api/src/mhr_api/services/ltsa.py
  mhr_api/tests/unit/api/test_ltsa_sync.py
  mhr_api/tests/unit/models/db2/test_db2_utils.py
  mhr_api/tests/unit/models/db2/test_location.py
  mhr_api/tests/unit/models/test_ltsa_description.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/services/test_ltsa.py
Labels: MHR API

#1218 Add new TRANS_WILL data validation rules.
  mhr_api/src/mhr_api/resources/v1/search_results.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/tests/unit/utils/test_transfer_validator.py
Labels: MHR API

#1219 Update PDF titles for MHR
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/tables/SearchHistory.vue
  ppr-ui/src/components/tables/common/TableRow.vue
Labels: MHR Registration, MHR Ownership Transfer, MHR Search

#1224 PPR transition note for reports.
  ppr-api/report-templates/financingStatementV2.html
  ppr-api/report-templates/static/v2/header_registration.html
  ppr-api/report-templates/template-parts/search-result/financingStatement.html
  ppr-api/report-templates/template-parts/v2/style.html
  ppr-api/requirements.txt
  ppr-api/requirements/bcregistry-libraries.txt
  ppr-api/src/ppr_api/models/financing_statement.py
  ppr-api/src/ppr_api/models/previous_financing_statement.py
  ppr-api/src/ppr_api/reports/v2/report.py
  ppr-api/src/ppr_api/version.py
  ppr-api/tests/unit/api/test_renewal.py
  ppr-api/tests/unit/models/test_previous_financing_statement.py
Labels: PPR API

#1229 MHR API search report update, pay transaction folio fix.
  mhr_api/report-templates/template-parts/search-result/location.html
  mhr_api/src/mhr_api/resources/utils.py
  mhr_api/src/mhr_api/resources/v1/search_results.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/api/test_ltsa_sync.py
  mhr_api/tests/unit/api/test_transfers.py
  mhr_api/tests/unit/models/db2/test_db2_utils.py
  mhr_api/tests/unit/utils/test_registration_validator.py
Labels: MHR API

#1234 Fix Home Owners group denominator for Transfers
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
Labels: MHR Ownership Transfer

#1237 Hide section 2 on confirm completion for QS
  ppr-ui/src/components/mhrTransfers/ConfirmCompletion.vue
Labels: MHR Ownership Transfer

#1238 Remove Current Owners Handling + misc UX
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrTransfers/TransferType.vue
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
Labels: MHR Registration, MHR Ownership Transfer

#1240 Fix Group Select in Home Owners
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
Labels: MHR Registration, Bugfix

#1241 15432 Transaction History Bug Fix
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrTransfers/ConfirmCompletion.vue
  ppr-ui/src/utils/mhr-api-helper.ts
Labels: MHR Registration

#1244 Remove Country validation on blur in Base Address component
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/composables/address/BaseAddress.vue
Labels: MHR Registration, Bugfix

#1243 PPR transition message report updates.
  ppr-api/report-templates/financingStatementV2.html
  ppr-api/report-templates/template-parts/search-result/financingStatement.html
  ppr-api/src/ppr_api/models/previous_financing_statement.py
  ppr-api/src/ppr_api/version.py
Labels: PPR API

#1245 Update MHR Search dropdown as per user feedback
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/search/SearchBarList.vue
Labels: MHR Search

#1246 MHR add registration frozen state check.
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/tests/unit/models/db2/test_db2_utils.py
  mhr_api/tests/unit/utils/test_permit_validator.py
  mhr_api/tests/unit/utils/test_transfer_validator.py
Labels: MHR API

#1251 MHR search report template update.
  mhr_api/report-templates/template-parts/search-result/sections.html
Labels: MHR API

#1249 Add comma for business owners
  mhr_api/src/mhr_api/models/db2/utils.py
Labels: MHR Registration

#1253 MHR new reg description JSON update.
  mhr_api/src/mhr_api/models/mhr_registration.py
Labels: enhancement, MHR API

#1256 MHR search report exemption message update.
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/models/db2/test_manuhome.py
  mhr_api/tests/unit/models/test_mhr_registration.py
Labels: MHR API, MHR Search

#1257 Supporting Documents component (radio buttons) in Trans Will flow
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrTransfers/DeathCertificate.vue
  ppr-ui/src/components/mhrTransfers/SupportingDocuments.vue
  ppr-ui/src/components/mhrTransfers/index.ts
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/src/enums/transferTypes.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationHomeOwnerIF.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrTransferTypeIF.ts
  ppr-ui/src/resources/index.ts
  ppr-ui/src/resources/transferSupportingDocuments.ts
  ppr-ui/src/views/Search.vue
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
  ppr-ui/tests/unit/MhrTransferHomeOwners.spec.ts
Labels: MHR Ownership Transfer
