Repository bcgov/ppr, pull requests merged in 2023-05, with the labels that each got.

#1307 Update Review & Confirm for Affidavit Transfer
  ppr-ui/src/components/mhrTransfers/ConfirmCompletion.vue
Labels: MHR Ownership Transfer

#1309 MHR party compressed name update.
  mhr_api/report-templates/registrationCoverV2.html
  mhr_api/src/mhr_api/models/mhr_party.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/tests/unit/models/test_mhr_party.py
  mhr_api/tests/unit/models/test_mhr_registration.py
Labels: MHR API

#1312 Mixed Roles Validations for Sale or Gift Transfers
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
  ppr-ui/src/resources/mhr-transfers/transfers-errors.ts
  ppr-ui/tests/unit/MhrTransferHomeOwners.spec.ts
  ppr-ui/tests/unit/test-data/mock-mhr-registration.ts
Labels: MHR Ownership Transfer

#1311 Fix for staff transfer report setup
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/resources/v1/transfers.py
Labels: MHR API

#1313 Fix Add Owners issue
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
Labels: Bugfix

#1314 Affidavit Transfer modal fixes
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/dialogs/BaseDialog.vue
  ppr-ui/src/components/dialogs/common/DialogButtons.vue
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/src/resources/dialogOptions/transferRequiredDialog.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
Labels: MHR Ownership Transfer, Bugfix, UXA

#1316 Transfer To Administrator (LETA) initial
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrTransfers/SupportingDocuments.vue
  ppr-ui/src/components/mhrTransfers/TransferType.vue
  ppr-ui/src/components/tables/common/TableRow.vue
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/src/enums/transferTypes.ts
  ppr-ui/src/resources/mhr-transfers/transfer-supporting-documents.ts
  ppr-ui/src/resources/mhr-transfers/transfers-content.ts
  ppr-ui/src/resources/mhr-transfers/transfers-errors.ts
  ppr-ui/src/resources/transferTypes.ts
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
  ppr-ui/tests/unit/MhrTransferHomeOwners.spec.ts
Labels: MHR Ownership Transfer

#1320 MHR API registration with party types.
  mhr_api/report-templates/registrationCoverV2.html
  mhr_api/report-templates/template-parts/registration/sections.html
  mhr_api/requirements.txt
  mhr_api/requirements/bcregistry-libraries.txt
  mhr_api/src/mhr_api/models/db2/owner.py
  mhr_api/src/mhr_api/models/mhr_party.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/models/db2/test_owner.py
  mhr_api/tests/unit/models/test_mhr_party.py
  mhr_api/tests/unit/utils/test_registration_data.py
  mhr_api/tests/unit/utils/test_registration_validator.py
Labels: MHR API

#1321 Bug fix transfer tenancy type TC to SO.
  mhr_api/report-templates/template-parts/search-result/sections.html
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/tests/unit/models/db2/test_manuhome.py
  mhr_api/tests/unit/utils/test_transfer_data.py
  mhr_api/tests/unit/utils/test_transfer_validator.py
Labels: MHR API

#1328 Update mhr registrations to use posgresql json for reports.
  mhr_api/src/mhr_api/models/db2/cmpserno.py
  mhr_api/src/mhr_api/models/db2/descript.py
  mhr_api/src/mhr_api/models/db2/document.py
  mhr_api/src/mhr_api/models/db2/location.py
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/mhomnote.py
  mhr_api/src/mhr_api/models/db2/owner.py
  mhr_api/src/mhr_api/models/db2/owngroup.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_document.py
  mhr_api/src/mhr_api/models/mhr_note.py
  mhr_api/src/mhr_api/models/mhr_owner_group.py
  mhr_api/src/mhr_api/models/mhr_party.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/resources/v1/registrations.py
  mhr_api/src/mhr_api/resources/v1/transfers.py
  mhr_api/tests/unit/models/test_mhr_note.py
  mhr_api/tests/unit/models/test_mhr_owner_group.py
  mhr_api/tests/unit/models/test_mhr_party.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/schemas/test_search_query.py
Labels: MHR API

#1329 Additional Name: Tooltip Content Update
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/resources/additionalNameConfig.ts
Labels: MHR Registration

#1325 Fixes for Transfer of Surviving Tenants
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrTransfers/DeathCertificate.vue
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
Labels: MHR Ownership Transfer, Bugfix

#1331 Fix Group Tenancy type for Sale Gift Transfers
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
Labels: MHR Ownership Transfer, UXA

#1333 MHR API fixes from BCOL testing on MHR registrations.
  mhr_api/src/mhr_api/models/db2/address_utils.py
  mhr_api/src/mhr_api/models/db2/owner.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/models/db2/test_address_utils.py
Labels: MHR API

#1334 Registration Mixed Role Validation + Code Clean Up
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersMixedRolesError.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/index.ts
  ppr-ui/src/components/mhrTransfers/HomeOwnersGroupError.vue
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
  ppr-ui/src/resources/index.ts
  ppr-ui/src/resources/mhr-errors.ts
  ppr-ui/src/resources/mhr-transfers/transfers-errors.ts
  ppr-ui/tests/unit/MhrRegistrationHomeOwners.spec.ts
  ppr-ui/tests/unit/MhrTransferHomeOwners.spec.ts
  ppr-ui/tests/unit/test-data/mock-mhr-registration.ts
Labels: MHR Registration, MHR Ownership Transfer

#1335 Validations updates for Transfers to Admin (LETA)
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrTransfers/SupportingDocuments.vue
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
Labels: MHR Ownership Transfer, UXA

#1336 Pre-fill Additional Name for Admin Transfers (LETA)
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/src/resources/mhr-transfers/transfer-supporting-documents.ts
Labels: MHR Ownership Transfer

#1337 VDataTable Conversion Poc
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/tables/SearchHistory.vue
  ppr-ui/src/components/tables/common/SortingIcon.vue
  ppr-ui/src/components/tables/common/index.ts
  ppr-ui/src/composables/index.ts
  ppr-ui/src/composables/useTableFeatures.ts
  ppr-ui/src/resources/tableHeaders.ts
  ppr-ui/tests/unit/SortingIcon.spec.ts
  ppr-ui/tests/unit/useTableFeatures.spec.ts
Labels: Vue3 Migration

#1338 Submitting Party Email Optional
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/SubmittingParty/MhrSubmittingParty.vue
  ppr-ui/src/composables/useInputRules.ts
  ppr-ui/tests/unit/MhrSubmittingParty.spec.ts
Labels: MHR Registration

#1341 PPR API amendment debtor, secured party edit change.
  ppr-api/src/database/patch/16324-ppr-parties-previous-party-id.sql
  ppr-api/src/ppr_api/models/party.py
  ppr-api/src/ppr_api/models/registration.py
  ppr-api/src/ppr_api/reports/v2/report.py
  ppr-api/src/ppr_api/utils/validators/party_validator.py
  ppr-api/src/ppr_api/version.py
  ppr-api/test_data/postgres_data_files/test0001.sql
  ppr-api/test_data/postgres_data_files/test0009.sql
  ppr-api/test_data/postgres_data_files/test0016.sql
  ppr-api/test_data/postgres_test_reset.sql
  ppr-api/tests/unit/api/test_amendment.py
  ppr-api/tests/unit/models/test_financing_statement.py
  ppr-api/tests/unit/models/test_party.py
  ppr-api/tests/unit/models/test_previous_financing_statement.py
  ppr-api/tests/unit/models/test_registration.py
  ppr-api/tests/unit/utils/test_party_validator.py
  ppr-api/tests/unit/utils/test_registration_validator.py
Labels: PPR API

#1344 Fix MHR Submission
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/composables/mhrRegistration/useNewMhrRegistration.ts
Labels: MHR Registration, Bugfix

#1343 MHR API add MHREG ownLand, DB2 address parsing bug fix.
  mhr_api/requirements.txt
  mhr_api/requirements/bcregistry-libraries.txt
  mhr_api/src/mhr_api/models/db2/address_utils.py
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/mhr_document.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/tests/unit/models/db2/test_address_utils.py
  mhr_api/tests/unit/models/db2/test_manuhome.py
  mhr_api/tests/unit/models/test_financing_statement.py
  mhr_api/tests/unit/models/test_mhr_registration.py
Labels: MHR Registration, MHR API

#1345 MHR API latest transfer death validation rule updates.
  mhr_api/src/mhr_api/config.py
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/owner.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/models/db2/test_manuhome.py
  mhr_api/tests/unit/models/db2/test_owner.py
  mhr_api/tests/unit/utils/test_transfer_data.py
  mhr_api/tests/unit/utils/test_transfer_validator.py
Labels: MHR API, MHR Ownership Transfer

#1347 Bug fixes for Transfers (Sale or Gift, Suffix)
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
Labels: MHR Ownership Transfer, Bugfix

#1346 Update Group error messages for Transfers
  ppr-ui/src/components/mhrTransfers/HomeOwnersGroupError.vue
  ppr-ui/tests/unit/MhrTransferHomeOwners.spec.ts
Labels: MHR Ownership Transfer, UXA

#1348 Update error msg when adding Exec or Admin
  ppr-ui/src/resources/mhr-transfers/transfers-errors.ts
  ppr-ui/tests/unit/MhrTransferHomeOwners.spec.ts
Labels: MHR Ownership Transfer

#1350 Sets missing draftMhr values to default
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/composables/mhrRegistration/useNewMhrRegistration.ts
  ppr-ui/src/resources/mhr-transfers/transfer-supporting-documents.ts
Labels: MHR Registration, Bugfix

#1351 Add GET manufacturer info endpoint
  mhr_api/src/database/patch/16418-mhr-manufacturers.sql
  mhr_api/src/mhr_api/models/__init__.py
  mhr_api/src/mhr_api/models/mhr_manufacturer.py
  mhr_api/src/mhr_api/models/type_tables.py
  mhr_api/src/mhr_api/resources/v1/manufacturer.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/postman/mhr-api-unit.postman_collection.json
  mhr_api/tests/unit/api/test_manufacturers.py
  mhr_api/tests/unit/models/test_mhr_manufacturer.py
  mhr_api/tests/unit/models/test_types.py
Labels: MHR API

#1352 Adds registration land lease component
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeLandOwnership.vue
  ppr-ui/src/components/mhrRegistration/HomeLocation/index.ts
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
  ppr-ui/src/composables/mhrRegistration/useNewMhrRegistration.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationIF.ts
  ppr-ui/src/store/actions/actions-model.ts
  ppr-ui/src/store/getters/state-getters.ts
  ppr-ui/src/store/mutations/mutations-model.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/views/newMhrRegistration/HomeLocation.vue
  ppr-ui/tests/unit/HomeLandOwnership.spec.ts
Labels: MHR Registration

#1353 API MHREG report manufacturer changes.
  mhr_api/report-templates/registrationCoverV2.html
  mhr_api/report-templates/registrationV2.html
  mhr_api/report-templates/template-parts/registration/details.html
  mhr_api/report-templates/template-parts/registration/submittingParty.html
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/resources/utils.py
  mhr_api/src/mhr_api/resources/v1/registrations.py
  mhr_api/src/mhr_api/utils/manufacturer_validator.py
  mhr_api/tests/unit/api/test_registrations.py
  mhr_api/tests/unit/utils/test_registration_data.py
  mhr_api/tests/unit/utils/test_registration_validator.py
Labels: MHR Registration, MHR API

#1355 Fixs color
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
Labels: MHR Registration

#1354 Displays Undivided if interest is an empty string
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/TableGroupHeader.vue
  ppr-ui/src/utils/format-helper.ts
Labels: MHR Registration, MHR Ownership Transfer, Bugfix

#1356 Fix scroll to first element on filter
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/tables/RegistrationTable.vue
Labels: Bugfix

#1357 MHR API miscellaneous bug fixes
  mhr_api/report-templates/template-parts/search-result/owners.html
  mhr_api/src/mhr_api/models/db2/document.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/tests/unit/models/db2/test_document.py
  mhr_api/tests/unit/utils/test_registration_data.py
  mhr_api/tests/unit/utils/test_registration_validator.py
Labels: MHR API, Bugfix

#1360 Remove and Add Administrators for LETA Transfers
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/tests/unit/MhrTransferHomeOwners.spec.ts
  ppr-ui/tests/unit/test-data/mock-mhr-registration.ts
Labels: MHR Ownership Transfer

#1361 Hide error msg for WILL & LETA transfers
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrTransfers/ConfirmCompletion.vue
  ppr-ui/src/components/mhrTransfers/HomeOwnersGroupError.vue
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/tests/unit/MhrTransferHomeOwners.spec.ts
Labels: MHR Ownership Transfer, UXA

#1362 Debtors/Secured Parties amendPartyId
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/utils/registration-helper.ts
  ppr-ui/tests/unit/registration-helper.spec.ts
Labels: enhancement, PPR Registration

#1364 Fix error state for Groups in Transfers
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
Labels: MHR Ownership Transfer, UXA

#1363 MHR API new batch manufacturer MHREG report.
  mhr_api/src/mhr_api/config.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/resources/v1/registrations.py
  mhr_api/src/mhr_api/services/abstract_storage_service.py
  mhr_api/src/mhr_api/services/document_storage/storage_service.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/tests/unit/api/test_registrations.py
  mhr_api/tests/unit/models/test_registration_utils.py
  mhr_api/tests/unit/reports/test_report_registration_v2.py
  mhr_api/tests/unit/services/test_storage_service.py
  mhr_api/tests/unit/utils/test_registration_validator.py
Labels: MHR API
