Repository bcgov/ppr, pull requests merged in 2024-01, with the labels that each got.

#1671 Fix general MHR Transfers issues
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/Breadcrumb.vue
  ppr-ui/src/components/mhrRegistration/YourHome/AddEditHomeSections.vue
  ppr-ui/src/components/mhrTransfers/TransferDetails.vue
  ppr-ui/src/components/parties/party/PartyAutocomplete.vue
  ppr-ui/src/components/unitNotes/UnitNoteAdd.vue
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/composables/mhrInformation/useMhrUnitNote.ts
  ppr-ui/src/composables/useInputRules.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/mhrInformation/MhrUnitNote.vue
Labels: MHR Ownership Transfer, Bugfix, Vue3 Migration

#1673 MHR API UXA review amend permit report updates.
  mhr_api/report-templates/registrationCoverV2.html
  mhr_api/report-templates/template-parts/registration/location.html
  mhr_api/report-templates/transportPermitV2.html
  mhr_api/src/mhr_api/models/batch_utils.py
Labels: MHR API

#1675 Fixes for MHR Home Owners
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
Labels: MHR Ownership Transfer, Bugfix

#1680 Fix MHR Transfers issues
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrTransfers/TransferType.vue
  ppr-ui/src/composables/mhrInformation/useMhrInfoValidation.ts
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
Labels: MHR Ownership Transfer, Bugfix

#1679 MHR API new TRAND rule, permit report updates.
  mhr_api/report-templates/adminRegistrationV2.html
  mhr_api/report-templates/transportPermitV2.html
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/resources/v1/admin_registrations.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/utils/test_transfer_data.py
  mhr_api/tests/unit/utils/test_transfer_validator.py
Labels: MHR API

#1681 Small fixes on Transfers Review page
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrTransfers/TransferDetailsReview.vue
Labels: MHR Ownership Transfer

#1683 Transfer Affidavit new data validation rule.
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/tests/unit/utils/test_transfer_validator.py
Labels: MHR API, MHR Ownership Transfer

#1687 MHR API initial test cases and setup for migration testing.
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/resources/v1/search_results.py
  mhr_api/src/mhr_api/services/payment/client/__init__.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/postman/mhr-api-migration-tests.postman_collection.json
Labels: MHR API

#1691 MHR API MHR API add correct/amend status
  mhr_api/report-templates/adminRegistrationV2.html
  mhr_api/report-templates/registrationCoverV2.html
  mhr_api/report-templates/template-parts/v2/style.html
  mhr_api/requirements.txt
  mhr_api/requirements/bcregistry-libraries.txt
  mhr_api/src/mhr_api/models/batch_utils.py
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/registration_utils.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/registration_json_utils.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/models/type_tables.py
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/resources/v1/admin_registrations.py
  mhr_api/src/mhr_api/utils/validator_utils.py
  mhr_api/src/mhr_api/utils/validator_utils_legacy.py
  mhr_api/tests/unit/api/test_admin_registrations.py
  mhr_api/tests/unit/models/test_types.py
Labels: MHR API

#1692 Updates from latest correct location design.
  mhr_api/report-templates/adminRegistrationV2.html
  mhr_api/report-templates/template-parts/registration/location.html
  mhr_api/report-templates/template-parts/v2/style.html
Labels: MHR API

#1694 MHR API add correct/amend description.
  mhr_api/report-templates/adminRegistrationV2.html
  mhr_api/report-templates/template-parts/registration/details.html
  mhr_api/report-templates/template-parts/registration/sections.html
  mhr_api/src/mhr_api/models/db2/descript.py
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/registration_utils.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/resources/v1/admin_registrations.py
  mhr_api/src/mhr_api/utils/admin_validator.py
  mhr_api/src/mhr_api/utils/validator_utils.py
  mhr_api/src/mhr_api/utils/validator_utils_legacy.py
  mhr_api/tests/unit/api/test_admin_registrations.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/utils/test_admin_validator.py
Labels: MHR API

#1689 Transport Permit form
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeLandOwnership.vue
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeLocationType.vue
  ppr-ui/src/components/mhrTransfers/LocationChange.vue
  ppr-ui/src/components/mhrTransfers/TaxCertificate.vue
  ppr-ui/src/components/mhrTransfers/TransferDetails.vue
  ppr-ui/src/components/mhrTransfers/index.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationHomeLocationIF.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/utils/date-helper.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/mhrInformation/MhrTransportPermit.vue
  ppr-ui/src/views/newMhrRegistration/HomeLocation.vue
  ppr-ui/tests/unit/HomeLandOwnership.spec.ts
  ppr-ui/tests/unit/MhrTransportPermit.spec.ts
Labels: MHR Transport Permit

#1699 MHR API set up BCOL helpdesk access.
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/resources/utils.py
  mhr_api/src/mhr_api/resources/v1/admin_registrations.py
  mhr_api/src/mhr_api/resources/v1/exemptions.py
  mhr_api/src/mhr_api/resources/v1/permits.py
  mhr_api/src/mhr_api/resources/v1/registrations.py
  mhr_api/src/mhr_api/resources/v1/transfers.py
  mhr_api/src/mhr_api/services/authz.py
  mhr_api/tests/unit/api/test_admin_registrations.py
  mhr_api/tests/unit/api/test_exemptions.py
  mhr_api/tests/unit/api/test_notes.py
  mhr_api/tests/unit/api/test_permits.py
  mhr_api/tests/unit/api/test_registrations.py
  mhr_api/tests/unit/api/test_search_results.py
  mhr_api/tests/unit/api/test_transfers.py
  mhr_api/tests/unit/services/test_authorization.py
Labels: MHR API

#1702 Fix location type for mhr submission
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/views/newMhrRegistration/HomeLocation.vue
Labels: MHR Registration, Bugfix

#1700 MHR API allow helpdesk to download modernized registration reports.
  mhr_api/report-templates/adminRegistrationV2.html
  mhr_api/report-templates/registrationCoverV2.html
  mhr_api/report-templates/registrationV2.html
  mhr_api/report-templates/template-parts/registration/details.html
  mhr_api/report-templates/template-parts/registration/location.html
  mhr_api/report-templates/template-parts/registration/owners.html
  mhr_api/report-templates/template-parts/search-result/sections.html
  mhr_api/report-templates/template-parts/v2/search-result/registration.html
  mhr_api/report-templates/template-parts/v2/style.html
  mhr_api/src/mhr_api/models/db2/queries.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/reports/v2/report_utils.py
  mhr_api/src/mhr_api/resources/v1/admin_registrations.py
  mhr_api/src/mhr_api/resources/v1/other_registrations.py
  mhr_api/src/mhr_api/resources/v1/registrations.py
Labels: MHR API

#1703 Update assets api/job notify api configuration
  jobs/permanent/ppr-discharges-for-mhr/src/ppr_discharges_for_mhr/config.py
  jobs/permanent/ppr-discharges-for-mhr/src/ppr_discharges_for_mhr/job.py
  jobs/permanent/ppr-discharges-for-mhr/src/ppr_discharges_for_mhr/services/notify/__init__.py
  jobs/permanent/ppr-discharges-for-mhr/src/ppr_discharges_for_mhr/version.py
  mhr_api/src/mhr_api/services/notify/__init__.py
  mhr_api/src/mhr_api/version.py
Labels: MHR API

#1704 Correction report message text updates with status changes.
  mhr_api/report-templates/adminRegistrationV2.html
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/services/notify/__init__.py
Labels: MHR API

#1701 Transport Permit validations
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/DocumentId.vue
  ppr-ui/src/components/common/HomeLocationInfo.vue
  ppr-ui/src/components/dialogs/BaseDialog.vue
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeLandOwnership.vue
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeLocationDescription.vue
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeLocationType.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
  ppr-ui/src/components/mhrTransfers/LocationChange.vue
  ppr-ui/src/components/mhrTransfers/TaxCertificate.vue
  ppr-ui/src/components/mhrTransfers/TransferType.vue
  ppr-ui/src/components/mhrTransfers/index.ts
  ppr-ui/src/components/mhrTransportPermit/LocationChange.vue
  ppr-ui/src/components/mhrTransportPermit/index.ts
  ppr-ui/src/composables/fees/FeeSummary.vue
  ppr-ui/src/composables/mhrInformation/useMhrInfoValidation.ts
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/composables/mhrInformation/useTransportPermits.ts
  ppr-ui/src/composables/useInputRules.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrTransportPermitIF.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/index.ts
  ppr-ui/src/interfaces/store-interfaces/state-interfaces/mhr-validation-state-interface.ts
  ppr-ui/src/interfaces/store-interfaces/state-model-interface.ts
  ppr-ui/src/resources/dialogOptions/cancelDialogs.ts
  ppr-ui/src/resources/mhr-transfers/transport-permits.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/store/store.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/mhrInformation/MhrTransportPermit.vue
  ppr-ui/src/views/newMhrRegistration/HomeLocation.vue
  ppr-ui/tests/unit/HomeLandOwnership.spec.ts
  ppr-ui/tests/unit/MhrInformation.spec.ts
  ppr-ui/tests/unit/MhrTransportPermit.spec.ts
Labels: MHR Transport Permit

#1706 Update PPR party client code formatting and matching.
  ppr-api/src/ppr_api/models/client_code.py
  ppr-api/src/ppr_api/models/party.py
  ppr-api/src/ppr_api/version.py
  ppr-api/tests/unit/models/test_client_code.py
Labels: PPR API

#1707 Update cancel Transport Permit dialog
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
Labels: UXA, MHR Transport Permit

#1709 Transport Permit fixes
  ppr-ui/src/components/mhrTransportPermit/LocationChange.vue
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
Labels: MHR Transport Permit

#1710 Fix Location Change modal close button
  ppr-ui/src/components/mhrTransportPermit/LocationChange.vue
Labels: MHR Transport Permit

#1711 MHR API correction/amendment payment fee codes. PUBA report updates.
  mhr_api/report-templates/adminRegistrationV2.html
  mhr_api/report-templates/template-parts/registration/details.html
  mhr_api/report-templates/template-parts/registration/location.html
  mhr_api/src/mhr_api/models/batch_utils.py
  mhr_api/src/mhr_api/resources/v1/admin_registrations.py
  mhr_api/src/mhr_api/resources/v1/permits.py
  mhr_api/src/mhr_api/services/authz.py
  mhr_api/src/mhr_api/services/payment/__init__.py
  mhr_api/src/mhr_api/services/payment/client/__init__.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/api/test_admin_registrations.py
  mhr_api/tests/unit/services/test_payment.py
Labels: MHR API

#1714 Location tax expiry date validation update.
  mhr_api/report-templates/adminRegistrationV2.html
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/src/mhr_api/utils/admin_validator.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/utils/validator_utils.py
  mhr_api/tests/unit/api/test_permits.py
  mhr_api/tests/unit/models/test_utils.py
  mhr_api/tests/unit/utils/test_permit_validator.py
Labels: MHR API
