Repository bcgov/ppr, pull requests merged in 2024-02, with the labels that each got.

#1712 Transfers: Stale Draft Dialog and Removal
  ppr-ui/src/components/common/RegistrationsWrapper.vue
  ppr-ui/src/composables/mhrRegistration/useNewMhrRegistration.ts
  ppr-ui/src/interfaces/ppr-api-interfaces/registration-interfaces.ts
  ppr-ui/src/resources/dialogOptions/confirmationDialogs.ts
  ppr-ui/src/utils/mhr-api-helper.ts
  ppr-ui/tests/unit/RegistrationsWrapper.spec.ts
  ppr-ui/tests/unit/test-data/mock-registration-responses.ts
Labels: MHR Ownership Transfer

#1715 MHR API UXA design transport permit report updates.
  mhr_api/report-templates/adminRegistrationV2.html
  mhr_api/report-templates/registrationCoverV2.html
  mhr_api/report-templates/transportPermitV2.html
  mhr_api/src/mhr_api/resources/v1/permits.py
  mhr_api/tests/postman/mhr-api-unit.postman_collection.json
Labels: MHR API

#1713 Transport Permit Review & Submit
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/App.vue
  ppr-ui/src/assets/styles/overrides.scss
  ppr-ui/src/components/common/DocumentId.vue
  ppr-ui/src/components/common/FormCard.vue
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeCivicAddress.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
  ppr-ui/src/components/mhrTransfers/ConfirmCompletion.vue
  ppr-ui/src/components/mhrTransportPermit/LocationChange.vue
  ppr-ui/src/components/mhrTransportPermit/LocationChangeReview.vue
  ppr-ui/src/components/mhrTransportPermit/index.ts
  ppr-ui/src/composables/mhrInformation/useMhrInfoValidation.ts
  ppr-ui/src/composables/mhrInformation/useTransportPermits.ts
  ppr-ui/src/enums/errorCategories.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrTransportPermitIF.ts
  ppr-ui/src/resources/dialogOptions/errorDialogs.ts
  ppr-ui/src/resources/mhr-transport-permits/index.ts
  ppr-ui/src/resources/mhr-transport-permits/transport-permits.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/store/store.ts
  ppr-ui/src/utils/mhr-api-helper.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/newMhrRegistration/HomeLocation.vue
  ppr-ui/src/views/userAccess/QsInformation.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
Labels: MHR Transport Permit

#1717 Fix Submitting Party for Transfers
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
Labels: MHR Ownership Transfer, Bugfix

#1716 Transfer Race Condition Handling
  ppr-ui/src/enums/errorCategories.ts
  ppr-ui/src/resources/dialogOptions/confirmationDialogs.ts
  ppr-ui/src/store/store.ts
  ppr-ui/src/utils/mhr-api-helper.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
Labels: MHR Ownership Transfer

#1718 Fix land status for Transport Permit
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrTransportPermit/LocationChange.vue
Labels: MHR Transport Permit

#1720 MHR API fix get account reg summary useCaution.
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/registration_utils.py
Labels: MHR API, Bugfix

#1719 MHR Registration Table updates for Transport Permit
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/tables/common/TableRow.vue
Labels: MHR Transport Permit

#1723 Update PidNumber for HomeLocationType
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeLocationType.vue
Labels: MHR Transport Permit

#1724 Get current MH info conditionally add new property exemptDateTime.
  mhr_api/src/mhr_api/models/db2/registration_utils.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/registration_json_utils.py
  mhr_api/tests/unit/api/test_registrations.py
Labels: MHR API

#1725 SBC Staff - Transport Permit Access
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/RegistrationsWrapper.vue
  ppr-ui/src/components/tables/common/TableRow.vue
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/composables/mhrInformation/useTransportPermits.ts
  ppr-ui/src/store/store.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/mhrInformation/MhrTransportPermit.vue
Labels: MHR Registration, MHR Transport Permit

#1726 Do not set status to FROZEN for active permits.
  mhr_api/src/mhr_api/models/db2/queries.py
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/tests/unit/models/test_mhr_registration.py
Labels: MHR API

#1728 Transfer to Surviving Joint Tenants: Lawyer/Notary Restrictions
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/src/store/store.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/newMhrRegistration/MhrReviewConfirm.vue
Labels: MHR Ownership Transfer

#1727 Transport Permit Review & Confirm for QS
  ppr-ui/src/components/common/CertifyInformation.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
  ppr-ui/src/components/mhrTransfers/ConfirmCompletion.vue
  ppr-ui/src/components/mhrTransfers/TaxCertificate.vue
  ppr-ui/src/components/mhrTransportPermit/LocationChange.vue
  ppr-ui/src/composables/mhrInformation/useTransportPermits.ts
  ppr-ui/src/utils/date-helper.ts
  ppr-ui/tests/unit/MhrInformation.spec.ts
Labels: MHR Transport Permit

#1729 MHR Info page for Exempt Homes
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
  ppr-ui/src/components/tables/common/TableRow.vue
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/interfaces/ppr-api-interfaces/registration-interfaces.ts
  ppr-ui/src/store/store.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/mhrInformation/MhrTransportPermit.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
  ppr-ui/tests/unit/TableRow.spec.ts
Labels: MHR Exemptions

#1730 PPR API version upgrade step 1.
  ppr-api/Dockerfile
  ppr-api/requirements.txt
  ppr-api/requirements/dev.txt
  ppr-api/setup.cfg
  ppr-api/src/ppr_api/__init__.py
  ppr-api/src/ppr_api/callback/document_storage/storage_service.py
  ppr-api/src/ppr_api/callback/reports/report_service.py
  ppr-api/src/ppr_api/common/enum.py
  ppr-api/src/ppr_api/config.py
  ppr-api/src/ppr_api/exceptions/__init__.py
  ppr-api/src/ppr_api/reports/__init__.py
  ppr-api/src/ppr_api/reports/report.py
  ppr-api/src/ppr_api/reports/v2/__init__.py
  ppr-api/src/ppr_api/reports/v2/report.py
  ppr-api/src/ppr_api/reports/v2/report_utils.py
  ppr-api/src/ppr_api/resources/__init__.py
  ppr-api/src/ppr_api/resources/constants.py
  ppr-api/src/ppr_api/resources/drafts.py
  ppr-api/src/ppr_api/resources/endpoints.py
  ppr-api/src/ppr_api/resources/financing_statements.py
  ppr-api/src/ppr_api/resources/financing_utils.py
  ppr-api/src/ppr_api/resources/historical_searches.py
  ppr-api/src/ppr_api/resources/ops.py
  ppr-api/src/ppr_api/resources/party_codes.py
  ppr-api/src/ppr_api/resources/search_history.py
  ppr-api/src/ppr_api/resources/search_results.py
  ppr-api/src/ppr_api/resources/searches.py
  ppr-api/src/ppr_api/resources/user_profile.py
  ppr-api/src/ppr_api/resources/utils.py
  ppr-api/src/ppr_api/resources/v1/__init__.py
  ppr-api/src/ppr_api/resources/v1/callbacks.py
  ppr-api/src/ppr_api/resources/v1/drafts.py
  ppr-api/src/ppr_api/resources/v1/financing_statements.py
  ppr-api/src/ppr_api/resources/v1/historical_searches.py
  ppr-api/src/ppr_api/resources/v1/meta.py
  ppr-api/src/ppr_api/resources/v1/ops.py
  ppr-api/src/ppr_api/resources/v1/party_codes.py
  ppr-api/src/ppr_api/resources/v1/search_history.py
  ppr-api/src/ppr_api/resources/v1/search_results.py
  ppr-api/src/ppr_api/resources/v1/searches.py
  ppr-api/src/ppr_api/resources/v1/user_profile.py
  ppr-api/src/ppr_api/services/flags.py
  ppr-api/src/ppr_api/services/payment/client/__init__.py
  ppr-api/src/ppr_api/services/queue_service.py
  ppr-api/src/ppr_api/utils/base.py
  ppr-api/src/ppr_api/version.py
  ppr-api/tests/__init__.py
  ppr-api/tests/unit/api/test_searches.py
Labels: PPR API

#1731 Manufacturers: Transfer SoG
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/composables/userAccess/useUserAccess.ts
  ppr-ui/src/interfaces/ppr-api-interfaces/registration-interfaces.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
Labels: MHR Ownership Transfer

#1733 PPR API version upgrade step 2.
  ppr-api/Dockerfile
  ppr-api/requirements.txt
  ppr-api/src/ppr_api/callback/file_transfer/__init__.py
  ppr-api/src/ppr_api/callback/file_transfer/file_transfer_service.py
  ppr-api/src/ppr_api/models/account_bcol_id.py
  ppr-api/src/ppr_api/models/address.py
  ppr-api/src/ppr_api/models/client_code.py
  ppr-api/src/ppr_api/models/client_code_historical.py
  ppr-api/src/ppr_api/models/court_order.py
  ppr-api/src/ppr_api/models/draft.py
  ppr-api/src/ppr_api/models/event_tracking.py
  ppr-api/src/ppr_api/models/financing_statement.py
  ppr-api/src/ppr_api/models/general_collateral.py
  ppr-api/src/ppr_api/models/general_collateral_legacy.py
  ppr-api/src/ppr_api/models/mail_report.py
  ppr-api/src/ppr_api/models/nickname.py
  ppr-api/src/ppr_api/models/party.py
  ppr-api/src/ppr_api/models/previous_financing_statement.py
  ppr-api/src/ppr_api/models/registration.py
  ppr-api/src/ppr_api/models/registration_utils.py
  ppr-api/src/ppr_api/models/search_historical.py
  ppr-api/src/ppr_api/models/search_request.py
  ppr-api/src/ppr_api/models/search_result.py
  ppr-api/src/ppr_api/models/search_utils.py
  ppr-api/src/ppr_api/models/test_search.py
  ppr-api/src/ppr_api/models/test_search_batch.py
  ppr-api/src/ppr_api/models/test_search_result.py
  ppr-api/src/ppr_api/models/trust_indenture.py
  ppr-api/src/ppr_api/models/type_tables.py
  ppr-api/src/ppr_api/models/user.py
  ppr-api/src/ppr_api/models/user_extra_registration.py
  ppr-api/src/ppr_api/models/user_profile.py
  ppr-api/src/ppr_api/models/utils.py
  ppr-api/src/ppr_api/models/vehicle_collateral.py
  ppr-api/src/ppr_api/models/verification_report.py
  ppr-api/src/ppr_api/resources/v1/ops.py
  ppr-api/tests/conftest.py
  ppr-api/tests/unit/models/test_registration.py
  ppr-api/tests/unit/models/test_search_request.py
  ppr-api/tests/unit/models/test_utils.py
Labels: PPR API

#1735 MHR API legacy transfer report bug fix, miscellaneous updates.
  mhr_api/src/mhr_api/models/db2/registration_utils.py
  mhr_api/src/mhr_api/models/mhr_document.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/registration_json_utils.py
  mhr_api/src/mhr_api/resources/v1/admin_registrations.py
  mhr_api/src/mhr_api/resources/v1/notes.py
  mhr_api/src/mhr_api/resources/v1/permits.py
  mhr_api/src/mhr_api/resources/v1/transfers.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/api/test_admin_registrations.py
  mhr_api/tests/unit/api/test_notes.py
  mhr_api/tests/unit/api/test_permits.py
  mhr_api/tests/unit/models/test_batch_utils.py
  mhr_api/tests/unit/utils/test_admin_validator.py
  mhr_api/tests/unit/utils/test_transfer_validator.py
  ppr-api/Dockerfile
Labels: MHR API

#1732 Disable Location Change Option
  ppr-ui/src/components/mhrTransportPermit/LocationChange.vue
Labels: MHR Transport Permit

#1738 UI amend permit API add location.permitWithinSamePark
  mhr_api/src/mhr_api/models/db2/registration_utils.py
  mhr_api/src/mhr_api/models/registration_json_utils.py
  mhr_api/src/mhr_api/version.py
Labels: MHR API

#1740 UI amend permit API add permitLandStatusConfirmation
  mhr_api/src/mhr_api/models/db2/registration_utils.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/registration_json_utils.py
Labels: MHR API

#1742 PPR API account query tuning.
  ppr-api/manage.py
  ppr-api/src/database/patch/19494-ppr-query-performance.sql
  ppr-api/src/database/postgres_views/account_draft_vw.sql
  ppr-api/src/database/postgres_views/account_registration_count_vw.sql
  ppr-api/src/ppr_api/models/utils.py
  ppr-api/src/ppr_api/version.py
  ppr-api/test_data/postgres_data_files/test0002.sql
  ppr-api/test_data/postgres_data_files/test0015.sql
  ppr-api/test_data/postgres_data_files/test0021.sql
  ppr-api/test_data/postgres_data_files/test_user_update.sql
  ppr-api/test_data/postgres_test_reset.sql
Labels: PPR API

#1747 Fix Tax Certificate Validation
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/composables/mhrInformation/useMhrInfoValidation.ts
Labels: Bugfix, MHR Transport Permit

#1741 Amend Transport Permit Framework
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
  ppr-ui/src/components/mhrTransportPermit/LocationChange.vue
  ppr-ui/src/composables/fees/FeeSummary.vue
  ppr-ui/src/composables/fees/enums/feeSummaryTypes.ts
  ppr-ui/src/composables/fees/factories/useFeeSummary.ts
  ppr-ui/src/composables/mhrInformation/useMhrInfoValidation.ts
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/composables/mhrInformation/useTransportPermits.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationHomeLocationIF.ts
  ppr-ui/src/interfaces/ppr-api-interfaces/registration-interfaces.ts
  ppr-ui/src/interfaces/store-interfaces/state-model-interface.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/store/store.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/mhrInformation/MhrTransportPermit.vue
  ppr-ui/tests/unit/MhrTransportPermit.spec.ts
Labels: MHR Transport Permit

#1744 Fix to preserve data for Transport Permit. Payload cleanup.
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
  ppr-ui/src/composables/mhrInformation/useTransportPermits.ts
  ppr-ui/src/utils/mhr-api-helper.ts
Labels: Bugfix

#1748 Transport permit data validation 2 new rules.
  mhr_api/src/mhr_api/resources/v1/permits.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/utils/validator_utils.py
  mhr_api/tests/unit/utils/test_permit_validator.py
Labels: MHR API

#1749 Allow transfers when active permit exists.
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/src/mhr_api/utils/validator_utils.py
  mhr_api/src/mhr_api/utils/validator_utils_legacy.py
Labels: MHR API

#1750 Add Amended badges to Transport Permit
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/UpdatedBadge.vue
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeCivicAddress.vue
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeLandOwnership.vue
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeLocationType.vue
  ppr-ui/src/components/mhrTransportPermit/LocationChange.vue
  ppr-ui/src/interfaces/base-data-union-interface.ts
  ppr-ui/src/interfaces/index.ts
  ppr-ui/src/interfaces/updated-badge-interface.ts
  ppr-ui/tests/unit/MhrTransportPermit.spec.ts
Labels: MHR Transport Permit

#1751 PPR API archive historical registrations.
  ppr-api/src/database/patch/19902-ppr-api-archive.sql
Labels: PPR API

#1753 Amend Transport Permit Validations + FF
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrTransportPermit/LocationChange.vue
  ppr-ui/src/composables/mhrInformation/useMhrInfoValidation.ts
  ppr-ui/src/composables/mhrInformation/useTransportPermits.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationHomeLocationIF.ts
  ppr-ui/src/resources/dialogOptions/cancelDialogs.ts
  ppr-ui/src/store/store.ts
  ppr-ui/src/utils/feature-flags.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/mhrInformation/MhrTransportPermit.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
  ppr-ui/tests/unit/MhrTransportPermit.spec.ts
  ppr-ui/tests/unit/test-data/index.ts
  ppr-ui/tests/unit/test-data/mock-transport-permit.ts
  ppr-ui/tests/unit/utils/helper-functions.ts
Labels: MHR Transport Permit

#1752 MHR Correction Framework
  ppr-ui/src/assets/styles/base.scss
  ppr-ui/src/assets/styles/overrides.scss
  ppr-ui/src/components/common/Breadcrumb.vue
  ppr-ui/src/components/common/RegistrationsWrapper.vue
  ppr-ui/src/components/common/StickyContainer.vue
  ppr-ui/src/components/common/UpdatedBadge.vue
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeCivicAddress.vue
  ppr-ui/src/components/mhrRegistration/MhrStatusCorrection.vue
  ppr-ui/src/components/mhrRegistration/index.ts
  ppr-ui/src/components/tombstone/Tombstone.vue
  ppr-ui/src/components/tombstone/TombstoneDynamic.vue
  ppr-ui/src/components/tombstone/index.ts
  ppr-ui/src/components/unitNotes/UnitNoteAdd.vue
  ppr-ui/src/composables/fees/FeeSummary.vue
  ppr-ui/src/composables/fees/enums/feeSummaryTypes.ts
  ppr-ui/src/composables/fees/factories/useFeeSummary.ts
  ppr-ui/src/composables/mhrRegistration/enums/MhrValidFlags.ts
  ppr-ui/src/composables/mhrRegistration/index.ts
  ppr-ui/src/composables/mhrRegistration/useMhrCorrections.ts
  ppr-ui/src/composables/mhrRegistration/useNewMhrRegistration.ts
  ppr-ui/src/enums/registrationTypes.ts
  ppr-ui/src/interfaces/base-data-union-interface.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationIF.ts
  ppr-ui/src/interfaces/store-interfaces/state-model-interface.ts
  ppr-ui/src/resources/breadcrumbs.ts
  ppr-ui/src/resources/buttonFooterConfig.ts
  ppr-ui/src/resources/registrationTypes.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/store/store.ts
  ppr-ui/src/utils/auth-helper.ts
  ppr-ui/src/utils/feature-flags.ts
  ppr-ui/src/views/newMhrRegistration/MhrRegistration.vue
  ppr-ui/src/views/newMhrRegistration/MhrReviewConfirm.vue
  ppr-ui/src/views/newMhrRegistration/SubmittingParty.vue
  ppr-ui/src/views/newMhrRegistration/YourHome.vue
  ppr-ui/tests/unit/MhrRegistration.spec.ts
  ppr-ui/tests/unit/MhrStatusCorrection.spec.ts
  ppr-ui/tests/unit/Tombstone.spec.ts
  ppr-ui/tests/unit/TombstoneDynamic.spec.ts
Labels: MHR Registration, MHR Corrections

#1754 Fix Amend Transport Permit feature flag
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/views/mhrInformation/MhrTransportPermit.vue
  ppr-ui/tests/unit/MhrTransportPermit.spec.ts
Labels: MHR Transport Permit
