Repository bcgov/ppr, pull requests merged in 2024-05, with the labels that each got.

#1857 Add FF for Staff Misc Transfer Types
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrTransfers/TransferType.vue
  ppr-ui/src/components/tables/RegistrationTable.vue
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/src/resources/registrationTypes.ts
  ppr-ui/src/resources/transferTypes.ts
  ppr-ui/src/utils/feature-flags.ts
  ppr-ui/tests/unit/MhrInformation.spec.ts
Labels: MHR Ownership Transfer

#1856 Update Misc Transfers Ownership
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnerGroups.vue
  ppr-ui/src/components/tables/RegistrationTable.vue
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
Labels: MHR Ownership Transfer

#1859 MHR API EXNR doc type legacy fixes.
  mhr_api/src/mhr_api/models/db2/mhomnote.py
  mhr_api/src/mhr_api/models/db2/registration_utils.py
  mhr_api/src/mhr_api/models/mhr_draft.py
  mhr_api/src/mhr_api/models/queries.py
Labels: MHR API

#1860 Fixes for Non Bill Sale Transfers
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrTransfers/HomeOwnersGroupError.vue
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
Labels: MHR Ownership Transfer

#1861 Fix validations for Misc Transfers
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrTransfers/HomeOwnersGroupError.vue
Labels: MHR Ownership Transfer

#1862 Misc Staff Transfers Submission
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/tables/RegistrationTable.vue
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/src/enums/registrationTypes.ts
  ppr-ui/src/enums/transferTypes.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrTransferIF.ts
  ppr-ui/src/resources/registrationTypes.ts
  ppr-ui/src/resources/transferTypes.ts
Labels: MHR Ownership Transfer

#1858 Handle Draft MHR Corrections
  ppr-ui/src/components/common/ButtonFooter.vue
  ppr-ui/src/components/common/RegistrationsWrapper.vue
  ppr-ui/src/components/tables/common/TableRow.vue
  ppr-ui/src/composables/mhrRegistration/useMhrCorrections.ts
  ppr-ui/src/composables/mhrRegistration/useNewMhrRegistration.ts
  ppr-ui/src/enums/errorCategories.ts
  ppr-ui/src/enums/tableActions.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationIF.ts
  ppr-ui/src/resources/buttonFooterConfig.ts
  ppr-ui/src/utils/mhr-api-helper.ts
  ppr-ui/src/views/newMhrRegistration/MhrRegistration.vue
Labels: MHR Corrections

#1863 Update Misc Transfers validation
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrTransfers/HomeOwnersGroupError.vue
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
Labels: MHR Ownership Transfer

#1864 UX text updates to EXNR registration outputs.
  mhr_api/report-templates/exemptionV2.html
  mhr_api/report-templates/template-parts/v2/search-result/registration.html
  mhr_api/src/mhr_api/models/queries.py
Labels: MHR API

#1865 Manufacturer permit civic address check update.
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/tests/unit/utils/test_permit_validator.py
Labels: MHR API

#1866 Security Act Notice Framework
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/assets/styles/base.scss
  ppr-ui/src/components/collateral/generalCollateral/factories/useGeneralCollateral.ts
  ppr-ui/src/components/common/StickyContainer.vue
  ppr-ui/src/components/registration/RegistrationBarTypeAheadList.vue
  ppr-ui/src/components/registration/length-trust/RegistrationLengthTrust.vue
  ppr-ui/src/composables/fees/factories/useFeeSummary.ts
  ppr-ui/src/composables/pprRegistration/usePprRegistration.ts
  ppr-ui/src/enums/registrationTypes.ts
  ppr-ui/src/resources/registrationTypes.ts
  ppr-ui/src/store/store.ts
  ppr-ui/src/utils/feature-flags.ts
  ppr-ui/src/views/newRegistration/LengthTrust.vue
  ppr-ui/tests/unit/LengthTrust.spec.ts
Labels: PPR Registration

#1869 Set Court Order Transfer Fee to be $0
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/StickyContainer.vue
Labels: MHR Ownership Transfer

#1870 Reset Cancel Permit FF & Update tests
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/utils/feature-flags.ts
  ppr-ui/tests/unit/MhrTransportPermit.spec.ts
Labels: MHR Transport Permit

#1873 Non-Res Exemptions Copy Updates
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/exemptions/ExemptionSimpleHelp.vue
  ppr-ui/src/components/exemptions/NonResExemptionSimpleHelp.vue
  ppr-ui/src/components/exemptions/index.ts
  ppr-ui/src/components/userAccess/ReviewConfirm/ListRequirements.vue
  ppr-ui/src/main.ts
  ppr-ui/src/resources/exemptions/componentContent.ts
  ppr-ui/src/utils/feature-flags.ts
  ppr-ui/src/views/exemption/ExemptionDetails.vue
Labels: MHR Exemptions

#1874 Use doc type description in pay details for new transfer types.
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/models/db2/test_db2_utils.py
Labels: MHR API

#1877 Update MHR Reg Table filter for QS
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/tables/RegistrationTable.vue
Labels: MHR Registration

#1880 Fix dynamic icon for Cancel Transport Permits
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
Labels: MHR Transport Permit

#1881 Add modal for failed Admin Registrations
  ppr-ui/src/App.vue
Labels: Bugfix, MHR Corrections

#1875 Review and Submit Cancel Transport Permit
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/InfoChip.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
  ppr-ui/src/components/mhrTransfers/ConfirmCompletion.vue
  ppr-ui/src/components/mhrTransportPermit/ConfirmCompletionContent/CancelTransportPermitConfirmCompletion.vue
  ppr-ui/src/components/mhrTransportPermit/ConfirmCompletionContent/index.ts
  ppr-ui/src/components/mhrTransportPermit/LocationChangeReview.vue
  ppr-ui/src/components/mhrTransportPermit/TransportPermitDetails.vue
  ppr-ui/src/composables/mhrInformation/useMhrInfoValidation.ts
  ppr-ui/src/composables/mhrInformation/useTransportPermits.ts
  ppr-ui/src/composables/mhrRegistration/useMhrCorrections.ts
  ppr-ui/src/enums/registrationTypes.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/tests/unit/MhrTransportPermit.spec.ts
Labels: MHR Transport Permit

#1882 Fix Tax Certificate date on Transport Permit Review page
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
  ppr-ui/src/utils/date-helper.ts
  ppr-ui/tests/unit/MhrTransportPermit.spec.ts
Labels: Bugfix, MHR Transport Permit

#1883 API permit registration related validation updates.
  mhr_api/src/mhr_api/resources/v1/permits.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/utils/validator_utils.py
  mhr_api/src/mhr_api/utils/validator_utils_legacy.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/utils/test_permit_validator.py
Labels: MHR API

#1885 Allow Amend and Cancel Transport Permit for Exempt MHR
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/composables/mhrInformation/useTransportPermits.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/mhrInformation/MhrTransportPermit.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
  ppr-ui/tests/unit/test-data/mock-mhr-registration.ts
  ppr-ui/tests/unit/utils/helper-functions.ts
Labels: MHR Transport Permit

#1888 Status and Badge for Cancelled Transport Permit
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/tables/RegistrationTable.vue
  ppr-ui/src/components/tombstone/TombstoneDynamic.vue
  ppr-ui/src/composables/mhrInformation/useTransportPermits.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/tests/unit/Tombstone.spec.ts
  ppr-ui/tests/unit/test-data/mock-transport-permit.ts
Labels: MHR Transport Permit

#1887 QS amend permit skip location type validation.
  mhr_api/report-templates/adminRegistrationV2.html
  mhr_api/src/mhr_api/models/mhr_draft.py
  mhr_api/src/mhr_api/models/registration_json_utils.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/tests/unit/api/test_permits.py
  mhr_api/tests/unit/models/test_mhr_draft.py
Labels: MHR API

#1891 Update Cancel Transport Permit payload
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/composables/mhrRegistration/useMhrCorrections.ts
Labels: MHR Transport Permit

#1892 Add draftNumber to Corrections payload
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/composables/mhrRegistration/useMhrCorrections.ts
  ppr-ui/src/interfaces/admin-registration-interfaces/admin-registration-interface.ts
Labels: Bugfix, MHR Corrections

#1896 Misc UX improvements
  ppr-ui/src/components/common/ButtonFooter.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
Labels: UXA

#1898 EXEMPTION_RES reg type QS validation rule update.
  mhr_api/src/mhr_api/utils/validator_utils.py
  mhr_api/src/mhr_api/utils/validator_utils_legacy.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/utils/test_registration_validator.py
Labels: MHR API, MHR Exemptions

#1901 Securities Act Notice amendment report updates from UX design.
  ppr-api/report-templates/template-parts/registration/securitiesActNotice.html
  ppr-api/report-templates/template-parts/search-result/securitiesActNotice.html
  ppr-api/src/database/patch/15187-ppr-securities-act.sql
  ppr-api/src/ppr_api/models/securities_act_order.py
  ppr-api/src/ppr_api/models/utils.py
  ppr-api/src/ppr_api/reports/v2/report_utils.py
  ppr-api/tests/unit/api/test_user_profile.py
  ppr-api/tests/unit/models/test_securities_act_order.py
  ppr-api/tests/unit/models/test_user_profile.py
  ppr-api/tests/unit/models/test_utils.py
Labels: PPR API

#1903 Fix MHR Breadcrumb Nav from Draft Corrections
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/views/newMhrRegistration/MhrRegistration.vue
Labels: Bugfix, MHR Corrections

#1904 PPR API allow callback URLs when large report data size.
  ppr-api/src/ppr_api/models/search_result.py
  ppr-api/src/ppr_api/resources/v1/search_results.py
Labels: PPR API

#1906 Miscellaneous MHR API permit updates.
  mhr_api/report-templates/adminRegistrationV2.html
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/resources/v1/admin_registrations.py
  mhr_api/src/mhr_api/services/payment/__init__.py
  mhr_api/src/mhr_api/services/payment/client/__init__.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/tests/unit/api/test_admin_registrations.py
  mhr_api/tests/unit/services/test_payment.py
  mhr_api/tests/unit/utils/test_permit_validator.py
  mhr_api/tests/unit/utils/test_validator_utils.py
Labels: MHR API, MHR Transport Permit
