Repository bcgov/ppr, pull requests merged in 2024-06, with the labels that each got.

#1908 Fix QS restrictions for Ownership Change
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
Labels: MHR Ownership Transfer, Bugfix

#1909 Exemption registrations cancel transport permits.
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/registration_utils.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/models/test_mhr_registration.py
Labels: MHR API, MHR Exemptions

#1911 UXA RE reg type report updates, fix existing search history bug.
  ppr-api/report-templates/template-parts/registration/securitiesActNotice.html
  ppr-api/report-templates/template-parts/search-result/securitiesActNotice.html
  ppr-api/src/database/patch/15187-ppr-securities-act.sql
  ppr-api/src/ppr_api/models/search_utils.py
  ppr-api/src/ppr_api/reports/v2/report_utils.py
Labels: PPR API

#1912 Fix Badges in Re-Registrations, Update Breadcrumbs and Icon
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/assets/styles/base.scss
  ppr-ui/src/assets/svgs/ic_re-register-home.svg
  ppr-ui/src/components/common/Breadcrumb.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
  ppr-ui/src/components/tables/common/TableRow.vue
  ppr-ui/src/resources/breadcrumbs.ts
Labels: MHR Re-Registration

#1918 Handle Exemptions with active Transport Permit present
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/InfoChip.vue
  ppr-ui/src/components/common/RegistrationsWrapper.vue
  ppr-ui/src/components/dialogs/BaseDialog.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
  ppr-ui/src/components/mhrTransportPermit/TransportPermitDetails.vue
  ppr-ui/src/composables/exemption/useExemptions.ts
  ppr-ui/src/resources/dialogOptions/confirmationDialogs.ts
  ppr-ui/src/views/exemption/ExemptionReview.vue
  ppr-ui/tests/unit/BaseDialog.spec.ts
  ppr-ui/tests/unit/ExemptionDetails.spec.ts
  ppr-ui/tests/unit/ExemptionReview.spec.ts
  ppr-ui/tests/unit/MhrTransportPermit.spec.ts
Labels: MHR Exemptions

#1921 Fixes for MHR Re-Registration Flow
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/YourHome/HomeSections.vue
  ppr-ui/src/components/tables/mhr/HomeSectionsTable.vue
  ppr-ui/src/composables/mhrRegistration/useMhrReRegistration.ts
  ppr-ui/src/composables/mhrRegistration/useNewMhrRegistration.ts
  ppr-ui/src/views/Dashboard.vue
Labels: MHR Re-Registration

#1922 MH history initial implementation; EXRE UX report updates.
  mhr_api/report-templates/registrationCoverV2.html
  mhr_api/report-templates/template-parts/registration/details.html
  mhr_api/report-templates/template-parts/registration/location.html
  mhr_api/src/mhr_api/models/registration_history_utils.py
  mhr_api/src/mhr_api/resources/v1/admin_registrations.py
  mhr_api/src/mhr_api/resources/v1/registrations.py
  mhr_api/tests/postman/mhr-api-unit.postman_collection.json
  mhr_api/tests/unit/api/test_registrations.py
  mhr_api/tests/unit/models/test_registration_history_utils.py
Labels: MHR API

#1923 Update MHR Table actions for Cancelled registrations
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/tables/common/TableRow.vue
Labels: MHR Exemptions

#1925 Small MHR Re-Registration fixes
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/tables/mhr/HomeSectionsTable.vue
  ppr-ui/src/composables/mhrRegistration/useMhrCorrections.ts
  ppr-ui/src/views/newMhrRegistration/MhrRegistration.vue
Labels: MHR Re-Registration

#1927 Update Fee for Amend & Cancel Transport Permit
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/composables/fees/factories/useFeeSummary.ts
  ppr-ui/src/composables/mhrInformation/useMhrInfoValidation.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/tests/unit/MhrTransportPermit.spec.ts
Labels: MHR Transport Permit

#1928 Update Confirm text in Cancel Permit Review page
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
  ppr-ui/src/components/mhrTransportPermit/ConfirmCompletionContent/CancelTransportPermitConfirmCompletion.vue
Labels: MHR Transport Permit

#1930 Update Cancel Permit Confirm text
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrTransfers/ConfirmCompletion.vue
Labels: MHR Transport Permit

#1931 Fix legacy individual owner suffix.
  mhr_api/src/mhr_api/models/db2/owner.py
  mhr_api/src/mhr_api/models/db2/registration_utils.py
  mhr_api/src/mhr_api/models/registration_utils.py
Labels: MHR API

#1933 Add Amend Trans Permit restrictions for QS and Sbc
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/assets/styles/base.scss
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeCivicAddress.vue
  ppr-ui/src/components/mhrTransportPermit/LocationChange.vue
  ppr-ui/src/components/mhrTransportPermit/LocationChangeReview.vue
  ppr-ui/tests/unit/MhrTransportPermit.spec.ts
Labels: MHR Transport Permit

#1934 Add Previous Home Owners to Re-Registration flow
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/CollapsibleCard.vue
  ppr-ui/src/components/common/index.ts
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/PreviousHomeOwners.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/TableGroupHeader.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/index.ts
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
  ppr-ui/src/composables/mhrRegistration/useMhrReRegistration.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrRegistrationIF.ts
  ppr-ui/src/interfaces/store-interfaces/state-model-interface.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/store/store.ts
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
  ppr-ui/tests/unit/MhrRegistration.spec.ts
  ppr-ui/tests/unit/MhrTransferHomeOwners.spec.ts
  ppr-ui/tests/unit/common-components/CollapsibleCard.spec.ts
Labels: MHR Re-Registration

#1935 UXA round 2 SE reg type report updates.
  ppr-api/report-templates/template-parts/registration/securitiesActNotice.html
  ppr-api/report-templates/template-parts/search-result/securitiesActNotice.html
  ppr-api/src/database/patch/15187-ppr-securities-act.sql
Labels: PPR API

#1937 A11Y: V-Menu Navigation Fixes
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/TableGroupHeader.vue
  ppr-ui/src/components/tables/mhr/HomeSectionsTable.vue
Labels: a11y

#1938 MHR permit active exists, legacy owner names.
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/owner.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/type_tables.py
  mhr_api/src/mhr_api/resources/utils.py
  mhr_api/src/mhr_api/resources/v1/permits.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/utils/validator_utils.py
  mhr_api/src/mhr_api/utils/validator_utils_legacy.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/models/db2/test_owner.py
  mhr_api/tests/unit/models/test_types.py
  mhr_api/tests/unit/utils/test_permit_validator.py
Labels: MHR API

#1939 Reset Transport Permit when navigating to Dashboard
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/views/Dashboard.vue
Labels: Bugfix, MHR Transport Permit

#1942 MHR REGC/PUBA with exempt owner group status API validation fix.
  mhr_api/src/mhr_api/utils/validator_utils.py
  mhr_api/src/mhr_api/utils/validator_utils_legacy.py
Labels: MHR API

#1944 Fix reg report setup for legacy owner group corrections/amendments.
  mhr_api/src/mhr_api/models/db2/registration_utils.py
  mhr_api/src/mhr_api/resources/v1/admin_registrations.py
Labels: MHR API

#1946 MHR API history updates from UX design.
  mhr_api/requirements.txt
  mhr_api/requirements/bcregistry-libraries.txt
  mhr_api/src/mhr_api/models/registration_history_utils.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/api/test_registrations.py
  mhr_api/tests/unit/models/test_registration_history_utils.py
Labels: MHR API

#1950 PPR account drafts mark as used.
  ppr-api/src/database/patch/21975-ppr-drafts-used.sql
  ppr-api/src/ppr_api/models/registration.py
Labels: PPR API

#1954 Update account IDs when registrations become historical.
  jobs/permanent/ppr-registrations-historical/.dockerignore
  jobs/permanent/ppr-registrations-historical/.gcloudignore
  jobs/permanent/ppr-registrations-historical/Dockerfile
  jobs/permanent/ppr-registrations-historical/LICENSE
  jobs/permanent/ppr-registrations-historical/README.md
  jobs/permanent/ppr-registrations-historical/requirements.txt
  jobs/permanent/ppr-registrations-historical/requirements/dev.txt
  jobs/permanent/ppr-registrations-historical/requirements/prod.txt
  jobs/permanent/ppr-registrations-historical/setup.cfg
  jobs/permanent/ppr-registrations-historical/setup.py
  jobs/permanent/ppr-registrations-historical/src/ppr_registrations_historical/__init__.py
  jobs/permanent/ppr-registrations-historical/src/ppr_registrations_historical/__main__.py
  jobs/permanent/ppr-registrations-historical/src/ppr_registrations_historical/common/__init__.py
  jobs/permanent/ppr-registrations-historical/src/ppr_registrations_historical/common/datetime.py
  jobs/permanent/ppr-registrations-historical/src/ppr_registrations_historical/common/enum.py
  jobs/permanent/ppr-registrations-historical/src/ppr_registrations_historical/config.py
  jobs/permanent/ppr-registrations-historical/src/ppr_registrations_historical/job.py
  jobs/permanent/ppr-registrations-historical/src/ppr_registrations_historical/services/__init__.py
  jobs/permanent/ppr-registrations-historical/src/ppr_registrations_historical/services/logging.py
  jobs/permanent/ppr-registrations-historical/src/ppr_registrations_historical/version.py
  ppr-api/src/database/patch/21973-ppr-registrations-historical.sql
  ppr-api/src/ppr_api/models/registration_utils.py
  ppr-api/src/ppr_api/resources/v1/financing_statements.py
  ppr-api/tests/unit/api/test_financing.py
  ppr-api/tests/unit/models/test_registration_utils.py
Labels: PPR API

#1957 Fix Home Owners Error Message
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/tests/unit/MhrTransferHomeOwners.spec.ts
Labels: MHR Ownership Transfer, Bugfix

#1959 Tenants in common order groups by sequence number
  mhr_api/src/mhr_api/models/batch_utils.py
  mhr_api/src/mhr_api/models/db2/descript.py
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/db2/owngroup.py
  mhr_api/src/mhr_api/models/db2/registration_utils.py
  mhr_api/src/mhr_api/models/mhr_owner_group.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/registration_history_utils.py
  mhr_api/src/mhr_api/models/registration_json_utils.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/resources/v1/admin_registrations.py
  mhr_api/src/mhr_api/resources/v1/registrations.py
  mhr_api/src/mhr_api/resources/v1/transfers.py
  mhr_api/test_data/db2_data_files/test0001.sql
  mhr_api/test_data/postgres_data_files/test0001.sql
  mhr_api/test_data/postgres_data_files/test0002.sql
  mhr_api/test_data/postgres_data_files/test0003.sql
  mhr_api/test_data/postgres_data_files/test0004.sql
  mhr_api/test_data/postgres_data_files/test0005.sql
  mhr_api/test_data/postgres_data_files/test0006.sql
  mhr_api/test_data/postgres_data_files/test0007.sql
  mhr_api/test_data/postgres_data_files/test0008.sql
  mhr_api/tests/unit/models/db2/test_owngroup.py
  mhr_api/tests/unit/models/test_mhr_owner_group.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/models/test_registration_utils.py
  ppr-api/src/ppr_api/models/registration.py
Labels: MHR API
