Repository bcgov/ppr, pull requests merged in 2024-03, with the labels that each got.

#1760 MHR reports add submitting party contact info
  mhr_api/report-templates/template-parts/registration/submittingParty.html
  mhr_api/report-templates/template-parts/v2/style.html
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/reports/v2/report_utils.py
Labels: MHR API

#1761 Amended badges on Review and Confirm page
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
  ppr-ui/src/components/mhrTransportPermit/LocationChange.vue
  ppr-ui/src/components/tombstone/TombstoneDynamic.vue
  ppr-ui/src/composables/mhrInformation/useMhrInfoValidation.ts
  ppr-ui/src/composables/mhrInformation/useTransportPermits.ts
  ppr-ui/src/interfaces/mhr-registration-interfaces/MhrTransportPermitIF.ts
  ppr-ui/src/store/state/state-model.ts
  ppr-ui/src/store/store.ts
  ppr-ui/tests/unit/MhrInformation.spec.ts
  ppr-ui/tests/unit/MhrTransportPermit.spec.ts
Labels: MHR Transport Permit

#1763 Fix Amendment Badges for Transport Permit
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
Labels: MHR Transport Permit

#1762 Location Change Setup + Tax Cert Conditions
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrTransportPermit/LocationChange.vue
  ppr-ui/src/composables/mhrInformation/useMhrInfoValidation.ts
  ppr-ui/src/composables/mhrInformation/useTransportPermits.ts
  ppr-ui/src/resources/mhr-transport-permits/transport-permits.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
  ppr-ui/tests/unit/MhrTransportPermit.spec.ts
Labels: MHR Transport Permit

#1765 Update logic for getting current home ownLand.
  mhr_api/src/mhr_api/models/db2/registration_utils.py
  mhr_api/src/mhr_api/models/registration_json_utils.py
  mhr_api/tests/unit/api/test_admin_registrations.py
  mhr_api/tests/unit/api/test_permits.py
Labels: MHR API

#1764 Fix Transfer Details parsing
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
Labels: Bugfix

#1767 MHR API fix legacy individual name parsing
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/models/db2/test_owner.py
  mhr_api/tests/unit/models/test_utils.py
Labels: MHR API, Bugfix

#1766 Case Sensitive Amend Badges
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/UpdatedBadge.vue
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeCivicAddress.vue
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeLandOwnership.vue
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeLocationType.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
  ppr-ui/src/components/mhrTransportPermit/LocationChange.vue
  ppr-ui/src/composables/mhrInformation/useTransportPermits.ts
  ppr-ui/src/store/store.ts
  ppr-ui/src/utils/utilities.ts
  ppr-ui/tests/unit/MhrInformation.spec.ts
  ppr-ui/tests/unit/UpdatedBadge.spec.ts
Labels: MHR Transport Permit

#1768 Cleanup Tax Cert in Transport Permit payload
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/composables/mhrInformation/useTransportPermits.ts
Labels: Bugfix, MHR Transport Permit

#1770 Update styling for Transport Permit validations
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrTransportPermit/LocationChange.vue
Labels: UXA, MHR Transport Permit

#1771 Split up Mhr Information Unit Tests
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/index.ts
  ppr-ui/tests/unit/MhrInformation.spec.ts
  ppr-ui/tests/unit/MhrTransportPermit.spec.ts
Labels: Tech Debt, MHR Transport Permit

#1772 Update Confirm Completion copy for Transport Permit
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrTransfers/ConfirmCompletion.vue
  ppr-ui/src/components/mhrTransportPermit/ConfirmCompletionContent/AmendTransportPermitConfirmCompletion.vue
  ppr-ui/src/components/mhrTransportPermit/ConfirmCompletionContent/index.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
Labels: MHR Transport Permit

#1773 MHR API update permitStatus, post-migration sort order.
  mhr_api/src/mhr_api/models/db2/registration_utils.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/registration_json_utils.py
  mhr_api/src/mhr_api/version.py
Labels: MHR API

#1775 Update amendment reports debtor birthdate change.
  ppr-api/report-templates/template-parts/registration/debtors.html
  ppr-api/report-templates/template-parts/search-result/debtors.html
  ppr-api/src/ppr_api/reports/v2/report.py
  ppr-api/src/ppr_api/reports/v2/report_utils.py
  ppr-api/src/ppr_api/version.py
Labels: PPR API

#1776 Fix account search history response inProgress mapping.
  ppr-api/src/ppr_api/models/search_request.py
  ppr-api/src/ppr_api/models/search_utils.py
Labels: PPR API

#1774 Fixes for Location Type Change in Transport Permit
  ppr-ui/src/components/common/InputFieldDatePicker.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
  ppr-ui/src/components/mhrTransportPermit/LocationChange.vue
  ppr-ui/src/store/store.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
Labels: Bugfix, MHR Transport Permit

#1777 Update Owner help content for Transfers and Registrations
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrTransfers/HelpWithOwners.vue
  ppr-ui/src/components/mhrTransfers/index.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
Labels: MHR Registration, MHR Ownership Transfer

#1778 MHR Corrections: HomeOwners
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/UpdatedBadge.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnerGroups.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/TableGroupHeader.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeOwnersReview.vue
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
  ppr-ui/src/composables/mhrRegistration/useMhrCorrections.ts
  ppr-ui/src/composables/mhrRegistration/useNewMhrRegistration.ts
  ppr-ui/src/enums/actionTypes.ts
  ppr-ui/src/utils/utilities.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
  ppr-ui/src/views/newMhrRegistration/MhrRegistration.vue
  ppr-ui/tests/unit/MhrRegistration.spec.ts
  ppr-ui/tests/unit/MhrRegistrationHomeOwners.spec.ts
  ppr-ui/tests/unit/RegistrationsWrapper.spec.ts
  ppr-ui/tests/unit/test-data/mock-mhr-registration.ts
Labels: MHR Corrections

#1780 Update text for Help toggle for Transfers
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
Labels: MHR Ownership Transfer

#1779 20249 20244 20251 mhr reports
  mhr_api/report-templates/transportPermitV2.html
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/reports/v2/report.py
  ppr-api/src/ppr_api/models/registration.py
  ppr-api/src/ppr_api/reports/v2/report.py
Labels: MHR API

#1781 Transport Permits for SBC Users
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrTransportPermit/ConfirmCompletionContent/TransportPermitConfirmCompletion.vue
  ppr-ui/src/components/mhrTransportPermit/LocationChange.vue
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
  ppr-ui/src/composables/mhrInformation/useTransportPermits.ts
  ppr-ui/src/resources/contactInformationContent.ts
  ppr-ui/src/resources/lienMessages.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/mhrInformation/MhrTransportPermit.vue
  ppr-ui/tests/unit/MhrTransportPermit.spec.ts
Labels: MHR Transport Permit

#1783 Corrected badges for MHR Corrections Step 2
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/YourHome/HomeCertification.vue
  ppr-ui/src/components/mhrRegistration/YourHome/ManufacturedYearInput.vue
  ppr-ui/src/components/mhrRegistration/YourHome/ManufacturerMakeModel.vue
  ppr-ui/src/components/mhrRegistration/YourHome/OtherInformation.vue
  ppr-ui/src/components/mhrRegistration/YourHome/RebuiltStatus.vue
  ppr-ui/src/composables/mhrRegistration/useMhrCorrections.ts
  ppr-ui/src/store/store.ts
  ppr-ui/tests/unit/MhrCorrections.spec.ts
  ppr-ui/tests/unit/MhrTransportPermit.spec.ts
  ppr-ui/tests/unit/test-data/mock-mhr-registration.ts
Labels: MHR Corrections

#1782 Transfer due to Sale or Gift for QS
  ppr-ui/src/components/common/CertifyInformation.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/TableGroupHeader.vue
  ppr-ui/src/components/mhrTransfers/ConfirmCompletion.vue
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
Labels: MHR Ownership Transfer

#1786 Update warning message for SBC
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/composables/mhrInformation/useMhrInformation.ts
Labels: MHR Transport Permit

#1787 Permit Help Content Update
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeLocationType.vue
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/mhrInformation/MhrTransportPermit.vue
  ppr-ui/tests/unit/MhrTransportPermit.spec.ts
Labels: MHR Transport Permit

#1788 Fix Submitting Party payload for SBC
  ppr-ui/src/composables/mhrInformation/useTransportPermits.ts
Labels: MHR Transport Permit

#1789 API post migration fix account registrations permit expire days.
  mhr_api/src/mhr_api/models/db2/cmpserno.py
  mhr_api/src/mhr_api/models/db2/descript.py
  mhr_api/src/mhr_api/models/db2/manuhome.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/models/test_utils.py
  mhr_api/tests/unit/utils/test_permit_validator.py
Labels: MHR API

#1790 Update submission for Amend Transport Permits
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrTransportPermit/LocationChange.vue
  ppr-ui/src/composables/mhrInformation/useMhrInfoValidation.ts
  ppr-ui/src/composables/mhrInformation/useTransportPermits.ts
Labels: MHR Transport Permit

#1792 Fix Doc Id reset for Transport Permits
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrTransportPermit/LocationChange.vue
Labels: Bugfix, MHR Transport Permit

#1794 Fix Validations for Transfer To Admin
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/components/mhrTransfers/SupportingDocuments.vue
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
Labels: MHR Ownership Transfer, Bugfix

#1795 Add Grant of Admin note to Transfer Review
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/assets/styles/base.scss
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
Labels: MHR Ownership Transfer, Bugfix

#1796 Increase service request timeout settings.
  mhr_api/src/mhr_api/services/document_storage/storage_service.py
  mhr_api/src/mhr_api/services/ltsa.py
  mhr_api/src/mhr_api/services/notify/__init__.py
  mhr_api/src/mhr_api/services/payment/client/__init__.py
  mhr_api/src/mhr_api/version.py
Labels: MHR API

#1797 Prevent Multiple MHR Submissions
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/common/ButtonFooter.vue
  ppr-ui/src/components/common/ButtonsStacked.vue
  ppr-ui/src/components/search/SearchBar.vue
  ppr-ui/tests/setup.ts
  ppr-ui/tests/unit/SearchBar.spec.ts
Labels: Bugfix, MHR Transport Permit

#1799 Fix debtor search empty string middle name exact match.
  ppr-api/src/ppr_api/models/party.py
  ppr-api/src/ppr_api/version.py
  ppr-api/tests/unit/models/test_party.py
Labels: PPR API

#1803 Account reg summary add legacy registration indicator.
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/utils/admin_validator.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/utils/test_admin_validator.py
  ppr-api/src/ppr_api/models/registration.py
  ppr-api/src/ppr_api/models/registration_utils.py
  ppr-api/src/ppr_api/version.py
  ppr-api/tests/unit/models/test_registration.py
  ppr-api/tests/unit/models/test_registration_utils.py
Labels: MHR API, PPR API
