Repository bcgov/ppr, pull requests merged in 2024-07, with the labels that each got.

#1960 Update condition for error message in Transfers
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
Labels: Bugfix, MHR Transport Permit

#1962 Fix validation in Home Owner Transfers
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/HomeOwnersTable.vue
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
  ppr-ui/tests/unit/MhrTransferHomeOwners.spec.ts
Labels: MHR Ownership Transfer, Bugfix

#1961 More updates to account removing/restoring a registration
  ppr-api/src/ppr_api/models/registration_utils.py
  ppr-api/src/ppr_api/resources/v1/financing_statements.py
Labels: PPR API

#1963 Add Focus State for Tabbable Elements
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/assets/styles/accessibility.scss
  ppr-ui/src/assets/styles/base.scss
  ppr-ui/src/assets/styles/theme.scss
  ppr-ui/src/components/common/AccountInfo.vue
  ppr-ui/src/components/common/Breadcrumb.vue
  ppr-ui/src/components/common/RegistrationsWrapper.vue
  ppr-ui/src/components/dashboard/DashboardTabs.vue
  ppr-ui/src/components/mhrRegistration/MhrStatusCorrection.vue
  ppr-ui/src/components/mhrRegistration/YourHome/HomeCertification.vue
  ppr-ui/src/components/mhrRegistration/YourHome/ManufacturedYearInput.vue
  ppr-ui/src/components/parties/Parties.vue
  ppr-ui/src/components/registration/RegistrationBarTypeAheadList.vue
  ppr-ui/src/components/search/SearchBar.vue
  ppr-ui/src/components/search/SearchBarList.vue
  ppr-ui/src/components/tables/SearchHistory.vue
  ppr-ui/src/main.ts
  ppr-ui/src/plugins/tabFocus.ts
  ppr-ui/src/resources/ownerRoles.ts
Labels: a11y

#1969 TC NA group type report updates, legacy LTSA pid description.
  mhr_api/report-templates/template-parts/registration/owners.html
  mhr_api/report-templates/template-parts/search-result/owners.html
  mhr_api/src/mhr_api/models/db2/location.py
Labels: MHR API

#1971 Add job id to PPR batch discharges job API endpoint, update SE amendm…
  ppr-api/src/ppr_api/models/mail_report.py
  ppr-api/src/ppr_api/reports/v2/report_utils.py
  ppr-api/src/ppr_api/resources/v1/callbacks.py
  ppr-api/src/ppr_api/version.py
  ppr-api/tests/unit/api/test_callback.py
  ppr-api/tests/unit/models/test_mail_report.py
Labels: PPR API

#1975 PPR Validation Scrolling / Search Highlight / MF Address Comparison Update
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/App.vue
  ppr-ui/src/assets/styles/base.scss
  ppr-ui/src/components/parties/summaries/BasePartySummary.vue
  ppr-ui/src/components/tables/SearchHistory.vue
  ppr-ui/src/composables/userAccess/useUserAccess.ts
  ppr-ui/src/utils/form-helper.ts
  ppr-ui/src/views/Dashboard.vue
  ppr-ui/src/views/discharge/ConfirmDischarge.vue
  ppr-ui/src/views/newRegistration/ReviewConfirm.vue
Labels: PPR Registration

#1977 Note report effective time, BCA timestamps no tz.
  mhr_api/report-templates/unitNoteV2.html
  mhr_api/src/mhr_api/models/batch_utils.py
  mhr_api/src/mhr_api/models/utils.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/models/test_batch_utils.py
  mhr_api/tests/unit/models/test_utils.py
Labels: MHR API

#1973 Update landmarks + Skip to Main Content link
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/App.vue
  ppr-ui/src/components/common/SkipToMainContent.vue
  ppr-ui/src/components/common/index.ts
  ppr-ui/tests/unit/App.spec.ts
Labels: a11y

#1979 Fix SE reg type amendment set up.
  ppr-api/src/ppr_api/models/financing_statement.py
  ppr-api/src/ppr_api/reports/v2/report_utils.py
  ppr-api/tests/unit/models/test_financing_statement.py
Labels: PPR API

#1987 Amend permit ignore postal code in non-staff address validation.
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/tests/unit/utils/test_permit_validator.py
Labels: MHR API

#1984 Upgrade sbc-common-components version
  ppr-ui/package-lock.json
  ppr-ui/package.json
Labels: a11y

#1970 Add Accessible Semantics
  ppr-ui/src/assets/styles/base.scss
  ppr-ui/src/components/collateral/Collateral.vue
  ppr-ui/src/components/common/Attention.vue
  ppr-ui/src/components/common/Breadcrumb.vue
  ppr-ui/src/components/common/CertifyInformation.vue
  ppr-ui/src/components/common/ContactInformation.vue
  ppr-ui/src/components/common/FormCard.vue
  ppr-ui/src/components/common/RegistrationsWrapper.vue
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeCivicAddress.vue
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeLandOwnership.vue
  ppr-ui/src/components/mhrRegistration/HomeLocation/HomeLocationType.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/HomeLocationReview.vue
  ppr-ui/src/components/mhrRegistration/ReviewConfirm/YourHomeReview.vue
  ppr-ui/src/components/mhrTransfers/ConfirmCompletion.vue
  ppr-ui/src/components/mhrTransfers/TransferDetails.vue
  ppr-ui/src/components/mhrTransportPermit/LocationChange.vue
  ppr-ui/src/components/mhrTransportPermit/LocationChangeReview.vue
  ppr-ui/src/components/mhrTransportPermit/TransportPermitDetails.vue
  ppr-ui/src/components/parties/PartySummary.vue
  ppr-ui/src/components/parties/party/PartySearch.vue
  ppr-ui/src/components/registration/length-trust/RegistrationLengthTrustAmendment.vue
  ppr-ui/src/components/registration/length-trust/RegistrationLengthTrustSummary.vue
  ppr-ui/src/components/registration/securities-act-notices/SecuritiesActNotices.vue
  ppr-ui/src/components/search/SearchBar.vue
  ppr-ui/src/components/tombstone/TombstoneDefault.vue
  ppr-ui/src/components/tombstone/TombstoneDynamic.vue
  ppr-ui/src/components/unitNotes/UnitNotePanels.vue
  ppr-ui/src/components/unitNotes/UnitNoteReview.vue
  ppr-ui/src/composables/fees/FeeSummary.vue
  ppr-ui/src/views/Dashboard.vue
  ppr-ui/src/views/amendment/AmendRegistration.vue
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/src/views/mhrInformation/MhrTransportPermit.vue
  ppr-ui/src/views/newMhrRegistration/HomeOwners.vue
  ppr-ui/src/views/newRegistration/AddCollateral.vue
  ppr-ui/src/views/newRegistration/AddParties.vue
  ppr-ui/src/views/newRegistration/LengthTrust.vue
  ppr-ui/src/views/newRegistration/ReviewConfirm.vue
  ppr-ui/tests/unit/Dashboard.spec.ts
  ppr-ui/tests/unit/MhrTransportPermit.spec.ts
  ppr-ui/tests/unit/MhrUnitNote.spec.ts
  ppr-ui/tests/unit/TransportPermitDetails.spec.ts
Labels: a11y
