Repository bcgov/ppr, pull requests merged in 2024-04, with the labels that each got.

#1811 MHR API non residential exemption updates.
  mhr_api/report-templates/exemptionV2.html
  mhr_api/report-templates/template-parts/search-result/location.html
  mhr_api/report-templates/template-parts/search-result/notes.html
  mhr_api/report-templates/template-parts/v2/search-result/registration.html
  mhr_api/src/mhr_api/models/mhr_note.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/utils/validator_utils.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/api/test_qualified_suppliers.py
  mhr_api/tests/unit/models/test_mhr_note.py
  mhr_api/tests/unit/utils/test_registration_validator.py
Labels: MHR API, MHR Exemptions

#1814 Reset Amend Active Flag on Transport Init
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/composables/mhrInformation/useTransportPermits.ts
Labels: Bugfix, MHR Transport Permit

#1817 Unit note conditionally include person giving notice.
  mhr_api/src/mhr_api/models/mhr_note.py
  mhr_api/tests/unit/api/test_admin_registrations.py
  mhr_api/tests/unit/models/test_mhr_note.py
  mhr_api/tests/unit/models/test_mhr_registration.py
  mhr_api/tests/unit/models/test_search_result.py
Labels: MHR API

#1822 Unit note conditionally include person giving notice.
  mhr_api/src/mhr_api/models/db2/mhomnote.py
Labels: MHR API

#1821 Update Unit Note dropdown for Exempt MHR
  ppr-ui/package-lock.json
  ppr-ui/src/components/unitNotes/UnitNotePanels.vue
  ppr-ui/src/resources/unitNotes.ts
Labels: Bugfix, MHR Unit Notes

#1824 Staff misc transfer data validation updates.
  mhr_api/src/mhr_api/utils/registration_validator.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/utils/test_transfer_validator.py
Labels: MHR API, MHR Ownership Transfer

#1825 MH current view and search exclude permit unit notes.
  mhr_api/src/mhr_api/models/db2/registration_utils.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/registration_json_utils.py
  mhr_api/tests/unit/models/db2/test_manuhome.py
  mhr_api/tests/unit/models/test_client_code.py
  mhr_api/tests/unit/models/test_mhr_registration.py
Labels: MHR API

#1826 Update scroll to top in Home Owners
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/AddEditHomeOwner.vue
Labels: MHR Ownership Transfer

#1828 Update Unit Note dropdown for Exempt MHRs
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
Labels: MHR Unit Notes

#1829 Fix permit registration report location missing legal description
  mhr_api/report-templates/exemptionV2.html
  mhr_api/report-templates/template-parts/registration/location.html
  mhr_api/report-templates/template-parts/search-result/location.html
  mhr_api/report-templates/template-parts/v2/search-result/registration.html
  mhr_api/src/mhr_api/models/db2/location.py
  mhr_api/src/mhr_api/reports/v2/report.py
Labels: MHR API

#1831 Update Fee Amounts for Unit Notes
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/resources/unitNotes.ts
Labels: MHR Unit Notes

#1832 All outputs TC add owner tenancy type.
  mhr_api/report-templates/template-parts/registration/owners.html
  mhr_api/report-templates/template-parts/search-result/owners.html
  mhr_api/report-templates/template-parts/v2/style.html
Labels: MHR API

#1838 Fix Tenancy Type for Business and Individual roles
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
Labels: MHR Ownership Transfer, Bugfix

#1839 MHR search report update unit notes
  mhr_api/requirements.txt
  mhr_api/requirements/bcregistry-libraries.txt
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/registration_json_utils.py
  mhr_api/tests/unit/models/test_search_result.py
Labels: MHR API, MHR Search

#1841 MHR User Feedback UXA
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrRegistration/HomeOwners/TableGroupHeader.vue
  ppr-ui/src/composables/mhrRegistration/useHomeOwners.ts
Labels: MHR Registration, UXA

#1842 Exemptions UXA
  ppr-ui/src/assets/svgs/ic_exemption2.svg
  ppr-ui/src/components/exemptions/ExemptionDeclaration.vue
  ppr-ui/src/components/tables/common/TableRow.vue
  ppr-ui/src/composables/exemption/useExemptions.ts
  ppr-ui/src/views/exemption/ExemptionReview.vue
Labels: UXA, MHR Exemptions

#1840 MHR improve staff generate legacy reg reports
  mhr_api/report-templates/registrationCoverV2.html
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/registration_json_utils.py
  mhr_api/src/mhr_api/reports/__init__.py
  mhr_api/src/mhr_api/resources/registration_utils.py
  mhr_api/src/mhr_api/resources/v1/documents.py
  mhr_api/src/mhr_api/version.py
  mhr_api/tests/unit/models/test_mhr_registration.py
Labels: MHR API

#1843 Add Misc Transfer Types for Staff
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrTransfers/TransferType.vue
  ppr-ui/src/enums/transferTypes.ts
  ppr-ui/src/resources/transferTypes.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
Labels: MHR Ownership Transfer

#1847 Initial implementation register Securities Act financing statement.
  ppr-api/report-templates/financingStatementV2.html
  ppr-api/report-templates/template-parts/registration/securitiesActNotice.html
  ppr-api/requirements.txt
  ppr-api/requirements/bcregistry-libraries.txt
  ppr-api/src/database/patch/15187-ppr-securities-act.sql
  ppr-api/src/ppr_api/models/__init__.py
  ppr-api/src/ppr_api/models/account_bcol_id.py
  ppr-api/src/ppr_api/models/client_code.py
  ppr-api/src/ppr_api/models/financing_statement.py
  ppr-api/src/ppr_api/models/registration.py
  ppr-api/src/ppr_api/models/registration_utils.py
  ppr-api/src/ppr_api/models/securities_act_notice.py
  ppr-api/src/ppr_api/models/securities_act_order.py
  ppr-api/src/ppr_api/models/type_tables.py
  ppr-api/src/ppr_api/models/utils.py
  ppr-api/src/ppr_api/reports/v2/report.py
  ppr-api/src/ppr_api/resources/utils.py
  ppr-api/src/ppr_api/resources/v1/financing_statements.py
  ppr-api/src/ppr_api/resources/v1/party_codes.py
  ppr-api/src/ppr_api/utils/validators/financing_validator.py
  ppr-api/src/ppr_api/version.py
  ppr-api/test_data/postgres_create_first.sql
  ppr-api/test_data/postgres_data_files/test0022.sql
  ppr-api/test_data/postgres_test_reset.sql
  ppr-api/test_data/test_reset.sql
  ppr-api/tests/unit/api/test_financing.py
  ppr-api/tests/unit/api/test_party_codes.py
  ppr-api/tests/unit/api/test_utils.py
  ppr-api/tests/unit/models/test_account_bcol_id.py
  ppr-api/tests/unit/models/test_client_code.py
  ppr-api/tests/unit/models/test_financing_statement.py
  ppr-api/tests/unit/models/test_registration.py
  ppr-api/tests/unit/models/test_securities_act_notice.py
  ppr-api/tests/unit/models/test_securities_act_order.py
  ppr-api/tests/unit/utils/test_financing_validator.py
Labels: PPR API, PPR Registration

#1846 Misc Transfer Updates to Transfer Details & Review
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrTransfers/ConfirmCompletion.vue
  ppr-ui/src/components/mhrTransfers/TransferDetails.vue
  ppr-ui/src/components/mhrTransfers/TransferDetailsReview.vue
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
  ppr-ui/tests/unit/MhrInformation.spec.ts
Labels: MHR Ownership Transfer

#1849 Filter by Registration Type for MHR Table
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/tables/RegistrationTable.vue
  ppr-ui/src/enums/registrationTypes.ts
  ppr-ui/src/enums/transferTypes.ts
  ppr-ui/src/resources/registrationTypes.ts
Labels: MHR Registration

#1848 Bill of Sale Transfers Updates
  ppr-ui/package-lock.json
  ppr-ui/package.json
  ppr-ui/src/components/mhrTransfers/ConfirmCompletion.vue
  ppr-ui/src/components/mhrTransfers/TransferDetails.vue
  ppr-ui/src/components/mhrTransfers/TransferDetailsReview.vue
  ppr-ui/src/composables/mhrInformation/useTransferOwners.ts
  ppr-ui/src/views/mhrInformation/MhrInformation.vue
Labels: MHR Ownership Transfer

#1850 Cancel transport permit updates.
  mhr_api/report-templates/adminRegistrationV2.html
  mhr_api/report-templates/template-parts/registration/location.html
  mhr_api/src/mhr_api/models/db2/registration_utils.py
  mhr_api/src/mhr_api/models/db2/utils.py
  mhr_api/src/mhr_api/models/mhr_registration.py
  mhr_api/src/mhr_api/models/registration_json_utils.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/src/mhr_api/reports/v2/report.py
  mhr_api/src/mhr_api/resources/utils.py
  mhr_api/src/mhr_api/resources/v1/admin_registrations.py
  mhr_api/src/mhr_api/resources/v1/permits.py
  mhr_api/src/mhr_api/resources/v1/registrations.py
  mhr_api/src/mhr_api/utils/admin_validator.py
  mhr_api/src/mhr_api/utils/validator_utils.py
  mhr_api/src/mhr_api/utils/validator_utils_legacy.py
  mhr_api/tests/unit/api/test_admin_registrations.py
  mhr_api/tests/unit/api/test_permits.py
  mhr_api/tests/unit/api/test_registrations.py
  mhr_api/tests/unit/models/db2/test_db2_utils.py
  mhr_api/tests/unit/utils/test_admin_validator.py
  mhr_api/tests/unit/utils/test_permit_validator.py
Labels: MHR API

#1852 MHR API account registration filter fixes.
  mhr_api/src/mhr_api/models/queries.py
  mhr_api/src/mhr_api/models/registration_utils.py
  mhr_api/tests/unit/models/test_registration_utils.py
Labels: MHR API
