Repository bcgov/ppr, pull requests merged in 2025-03, with the labels that each got.

#2114 Reset PPR reg number generator from 999***Q to 100000R
  ppr-api/migrations/versions/0001_rebase_2024-10.py
  ppr-api/src/database/postgres_functions/get_registration_num.py
Labels: PPR API

#2115 Staff transfer reg fix to create a DRS record.
  mhr-api/pyproject.toml
  mhr-api/src/mhr_api/config.py
  mhr-api/src/mhr_api/resources/registration_utils.py
  mhr-api/tests/unit/api/test_admin_registrations.py
  mhr-api/tests/unit/api/test_exemptions.py
  mhr-api/tests/unit/api/test_notes.py
  mhr-api/tests/unit/api/test_permits.py
  mhr-api/tests/unit/api/test_registrations.py
  mhr-api/tests/unit/api/test_search_results.py
  mhr-api/tests/unit/api/test_transfers.py
  mhr-api/tests/unit/services/test_authorization.py
  mhr-api/tests/unit/services/test_payment.py
  mhr-api/tests/unit/services/test_queue_service.py
Labels: MHR API

#2117 PPR API dedicated large report container.
  ppr-api/devops/vaults.gcp.env
  ppr-api/src/ppr_api/callback/auth/token_service.py
  ppr-api/src/ppr_api/callback/reports/report_service.py
  ppr-api/src/ppr_api/config.py
  ppr-api/src/ppr_api/models/search_result.py
  ppr-api/src/ppr_api/reports/v2/report.py
  ppr-api/src/ppr_api/resources/v1/search_results.py
Labels: PPR API

#2118 RL->CL Transitions: Table, Modal and Messaging Updates
  ppr-ui/nuxt.config.ts
  ppr-ui/package.json
  ppr-ui/src/assets/styles/overrides.scss
  ppr-ui/src/components/common/CautionBox.vue
  ppr-ui/src/components/dialogs/RegistrationConfirmation.vue
  ppr-ui/src/components/registration/repairers-lien-messaging/postClaMessage.vue
  ppr-ui/src/components/registration/repairers-lien-messaging/preClaMessage.vue
  ppr-ui/src/components/tables/common/TableRow.vue
  ppr-ui/src/components/tombstones/TombstoneDynamic.vue
  ppr-ui/src/composables/userAccess/useUserAccess.ts
  ppr-ui/src/enums/settingOptions.ts
  ppr-ui/src/pages/Dashboard.vue
  ppr-ui/src/pages/amendment/AmendRegistration.vue
  ppr-ui/src/pages/amendment/ConfirmAmendment.vue
  ppr-ui/src/pages/newMhrRegistration/HomeOwners.vue
  ppr-ui/src/pages/renew/ConfirmRenewal.vue
  ppr-ui/src/pages/renew/RenewRegistration.vue
  ppr-ui/src/store/store.ts
Labels: PPR Registration

#2119 RL to CL transition discharge
  ppr-api/report-templates/template-parts/registration/dischargeStatement.html
  ppr-api/report-templates/template-parts/search-result/dischargeStatement.html
  ppr-api/report-templates/template-parts/search-result/financingStatement.html
  ppr-api/src/ppr_api/reports/v2/report_utils.py
  ppr-api/src/ppr_api/resources/financing_utils.py
  ppr-api/tests/unit/api/test_discharge.py
Labels: PPR API

#2121 RL to CL discharge reg table update
  ppr-api/src/ppr_api/models/registration_utils.py
Labels: PPR API

#2123 MHR NOC location report bug fix
  mhr-api/src/mhr_api/resources/registration_utils.py
  mhr-api/src/mhr_api/resources/v1/registrations.py
Labels: MHR API
