Repository bcgov/ppr, pull requests merged in 2025-04, with the labels that each got.

#2131 PPR API check pay status, handle null user last name fixes.
  ppr-api/migrations/versions/0001_rebase_2024-10.py
  ppr-api/pyproject.toml
  ppr-api/src/database/postgres_views/account_draft_vw.py
  ppr-api/src/database/postgres_views/account_registration_vw.py
  ppr-api/src/database/postgres_views/mhr_account_reg_vw.py
  ppr-api/src/ppr_api/models/utils.py
  ppr-api/src/ppr_api/services/payment/__init__.py
  ppr-api/src/ppr_api/services/payment/client/__init__.py
  ppr-api/src/ppr_api/services/payment/payment.py
Labels: PPR API

#2132 MHR API check pay status, handle null user last name fixes.
  mhr-api/migrations/versions/0001_rebase_2024-10.py
  mhr-api/pyproject.toml
  mhr-api/src/database/postgres_views/account_draft_vw.py
  mhr-api/src/database/postgres_views/account_registration_vw.py
  mhr-api/src/database/postgres_views/mhr_account_reg_vw.py
  mhr-api/src/mhr_api/models/mhr_draft.py
  mhr-api/src/mhr_api/services/payment/__init__.py
  mhr-api/src/mhr_api/services/payment/client/__init__.py
  mhr-api/src/mhr_api/services/payment/payment.py
Labels: MHR API

#2134 PPR API omit debtor email addresses.
  ppr-api/src/ppr_api/models/party.py
  ppr-api/tests/unit/models/test_party.py
Labels: PPR API

#2142 Staff PPR and MHR reg table add account ID
  mhr-api/src/mhr_api/models/registration_utils.py
  mhr-api/tests/unit/api/test_other_registrations.py
  mhr-api/tests/unit/models/test_registration_utils.py
  ppr-api/src/ppr_api/models/registration_utils.py
  ppr-api/src/ppr_api/resources/v1/financing_statements.py
  ppr-api/tests/unit/models/test_registration_utils.py
Labels: MHR API, PPR API

#2143 Assets Reg-Table: Account Id
  ppr-ui/package.json
  ppr-ui/src/components/tables/RegistrationTable.vue
  ppr-ui/src/components/tables/common/TableRow.vue
Labels: MHR Registration, PPR Registration
